flows_roboy-server0.json
[{"id":"633438ce.e21648","type":"tab","label":"Flow 1"},{"id":"322aa17d.93ca4e","type":"tab","label":"Flow 2"},{"id":"b2068ee3.b5862","type":"ui_tab","z":"","name":"Roboy Control","icon":"dashboard","order":"1"},{"id":"82e39082.f64f5","type":"ros-server","z":"","url":"ws://192.168.2.19:9090"},{"id":"3d35ac68.7be2dc","type":"ros-server","z":"","url":"ws://127.0.0.1:9999"},{"id":"59fe47ae.806928","type":"ui_button","z":"322aa17d.93ca4e","tab":"b2068ee3.b5862","name":"Smileblink","payload":"smileblink","topic":"","group":"Emotions","order":1,"x":100,"y":60,"wires":[["76bc6d3.3959814"]]},{"id":"4d47380d.a2ed9","type":"ui_button","z":"322aa17d.93ca4e","tab":"b2068ee3.b5862","name":"Smile","payload":"smile","topic":"","group":"Emotions","order":1,"x":89.99997901916504,"y":104.57143878936768,"wires":[["76bc6d3.3959814"]]},{"id":"bc4c08b.be6f0f8","type":"ui_button","z":"322aa17d.93ca4e","tab":"b2068ee3.b5862","name":"Shy","payload":"shy","topic":"","group":"Emotions","order":1,"x":88.5713996887207,"y":150.28571701049805,"wires":[["76bc6d3.3959814"]]},{"id":"ca11e3cf.964af8","type":"ui_button","z":"322aa17d.93ca4e","tab":"b2068ee3.b5862","name":"Normal (not active)","payload":"facial:normal","topic":"","group":"Emotions","order":1,"x":128.57141876220703,"y":195.99999713897705,"wires":[["76bc6d3.3959814"]]},{"id":"7013ca4.6ffbcb4","type":"ui_button","z":"322aa17d.93ca4e","tab":"b2068ee3.b5862","name":"Speak (not active)","payload":"facial:speak","topic":"","group":"Emotions","order":1,"x":127.142822265625,"y":241.71429538726807,"wires":[["76bc6d3.3959814"]]},{"id":"66a286ea.375ee","type":"ui_button","z":"322aa17d.93ca4e","tab":"b2068ee3.b5862","name":"Sleep (not active)","payload":"facial:sleep","topic":"","group":"Emotions","order":1,"x":115.71426391601562,"y":288.8571434020996,"wires":[["76bc6d3.3959814"]]},{"id":"b32921c2.7bc77","type":"ui_button","z":"322aa17d.93ca4e","tab":"b2068ee3.b5862","name":"Surprise  (not active)","payload":"facial:surprise","topic":"","group":"Emotions","order":1,"x":124.28567886352539,"y":335.9999861717224,"wires":[["76bc6d3.3959814"]]},{"id":"38998928.4633ae","type":"ui_button","z":"322aa17d.93ca4e","tab":"b2068ee3.b5862","name":"Kiss","payload":"kiss","topic":"","group":"Emotions","order":1,"x":85.71426391601562,"y":381.71430110931396,"wires":[["76bc6d3.3959814"]]},{"id":"e872eb67.49cf6","type":"ui_button","z":"322aa17d.93ca4e","tab":"b2068ee3.b5862","name":"Angry (not active)","payload":"facial:angry","topic":"","group":"Emotions","order":1,"x":117.14285278320312,"y":425.9999885559082,"wires":[["76bc6d3.3959814"]]},{"id":"6de113af.c2c924","type":"ui_button","z":"322aa17d.93ca4e","tab":"b2068ee3.b5862","name":"Hearts","payload":"hearts","topic":"","group":"Emotions","order":1,"x":84.28567504882812,"y":478.8570957183838,"wires":[["76bc6d3.3959814"]]},{"id":"59cd9529.170e5c","type":"exec","z":"322aa17d.93ca4e","command":"rosservice call /roboy/cognition/face/emotion ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":759.2856750488281,"y":264.5714225769043,"wires":[[],[],[]]},{"id":"76bc6d3.3959814","type":"function","z":"322aa17d.93ca4e","name":"parse_emotion","func":"cmd = \"\\\"emotion: '\";\ncmd += msg.payload;\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":"1","noerr":0,"x":449.2856750488281,"y":264.5714225769043,"wires":[["59cd9529.170e5c"]]},{"id":"2396e42f.099004","type":"ui_button","z":"322aa17d.93ca4e","tab":"b2068ee3.b5862","name":"Look left","payload":"lookleft","topic":"","group":"Emotions","order":1,"x":89.28567504882812,"y":524.5714225769043,"wires":[["76bc6d3.3959814"]]},{"id":"b6a96a0e.ce67f8","type":"ui_button","z":"322aa17d.93ca4e","tab":"b2068ee3.b5862","name":"Look right","payload":"lookright","topic":"","group":"Emotions","order":1,"x":89.28567504882812,"y":564.5714225769043,"wires":[["76bc6d3.3959814"]]},{"id":"55989ec6.3c3268","type":"ui_text_input","z":"322aa17d.93ca4e","tab":"b2068ee3.b5862","mode":"text","delay":"300","name":"","topic":"","group":"Speech synthesis","order":1,"x":100,"y":700,"wires":[["92b77d45.a5e5e8"]]},{"id":"92b77d45.a5e5e8","type":"function","z":"322aa17d.93ca4e","name":"parse_text","func":"if(msg.payload.slice(-1) == \".\"){\n    cmd = \"\\\"text: '\";\n    cmd += msg.payload;\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    empty = {}\n    empty.payload = \"\";\n    return [msg, empty];\n}","outputs":2,"noerr":0,"x":310,"y":700,"wires":[["2e10a5f1.d51472"],["7ca5b40b.634c4c"]]},{"id":"2e10a5f1.d51472","type":"exec","z":"322aa17d.93ca4e","command":"rosservice call /roboy/cognition/speech/synthesis/talk ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":680,"y":700,"wires":[[],[],[]]},{"id":"7ca5b40b.634c4c","type":"delay","z":"322aa17d.93ca4e","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":620,"wires":[["55989ec6.3c3268"]]},{"id":"fea61275.20576","type":"ui_button","z":"322aa17d.93ca4e","tab":"b2068ee3.b5862","name":"Snake pattern","payload":"2","topic":"","group":"Matrix","order":1,"x":90,"y":960,"wires":[["91787539.bd5a5"]]},{"id":"ffec6cdb.c6c438","type":"ui_button","z":"322aa17d.93ca4e","tab":"b2068ee3.b5862","name":"Dimming pattern","payload":"1","topic":"","group":"Matrix","order":1,"x":100,"y":1000,"wires":[[]]},{"id":"a7d29261.2e1e88","type":"ui_button","z":"322aa17d.93ca4e","tab":"b2068ee3.b5862","name":"Turn off","payload":"0","topic":"","group":"Matrix","order":1,"x":70,"y":1040,"wires":[["61b2fbe2.0fd994"]]},{"id":"206ed0b1.e2dc4","type":"ui_button","z":"322aa17d.93ca4e","tab":"b2068ee3.b5862","name":"Freeze","payload":"","topic":"","group":"Matrix","order":1,"x":70,"y":1080,"wires":[["7de908.c3c586f8"]]},{"id":"47dc8f35.e918","type":"function","z":"322aa17d.93ca4e","name":"change_mode","func":"// cmd = \"mode: \" + msg.payload + \"\\n\" + \"duration: 0\" ;\n// //cmd += \"'\\\"\";\ncmd = \"\\\"mode: 0\\n duration: 0\\\"\";\nmsg.payload = cmd;\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":980,"wires":[["47345471.7d40e4","e9d71b04.02ef38"]]},{"id":"47345471.7d40e4","type":"exec","z":"322aa17d.93ca4e","command":"rostopic pub /roboy/control/matrix/leds/mode roboy_communication_control/ControlLeds  ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":870,"y":980,"wires":[["e9d71b04.02ef38"],["e9d71b04.02ef38"],["e9d71b04.02ef38"]]},{"id":"61b2fbe2.0fd994","type":"exec","z":"322aa17d.93ca4e","command":"rostopic pub /roboy/control/matrix/leds/off std_msgs/Empty \"{}\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":790,"y":1040,"wires":[[],[],[]]},{"id":"7de908.c3c586f8","type":"exec","z":"322aa17d.93ca4e","command":"rostopic pub /roboy/control/matrix/leds/freeze std_msgs/Empty \"{}\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":800,"y":1100,"wires":[[],[],[]]},{"id":"88c0b140.146fd8","type":"exec","z":"322aa17d.93ca4e","command":"rostopic pub /roboy/control/matrix/leds/mode roboy_communication_control/ControlLeds \"mode: 0 duration: 0\" ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":940,"y":920,"wires":[[],[],[]]},{"id":"e9d71b04.02ef38","type":"debug","z":"322aa17d.93ca4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1040,"y":1280,"wires":[]},{"id":"b5786ec0.c1b23","type":"ros-publish","z":"322aa17d.93ca4e","server":"3d35ac68.7be2dc","topicname":"/roboy/control/matrix/leds/mode","msgtype":"std_msgs/Int16","x":520,"y":840,"wires":[]},{"id":"91787539.bd5a5","type":"function","z":"322aa17d.93ca4e","name":"change_mode","func":"\nmsg.payload = 1;\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":860,"wires":[["b5786ec0.c1b23"]]}]