flows_roboy-base1.json
[{"id":"f1c88b72.692ab","type":"tab","label":"Flow 1"},{"id":"1ed57b3a.ba5035","type":"ui_tab","z":"","name":"Cognition","icon":"dashboard"},{"id":"3d4e1628.d97a92","type":"ui_group","z":"","name":"Dialog","tab":"1ed57b3a.ba5035","disp":true,"width":"20"},{"id":"47bc699.332ca98","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Roboy","default":"#4B7930","baseColor":"#2c333f","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#2c333f","edited":true},"page-backgroundColor":{"value":"#ffffff","edited":true},"page-sidebar-backgroundColor":{"value":"#2c333f","edited":true},"group-textColor":{"value":"#ffc53a","edited":true},"group-borderColor":{"value":"#ffffff","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#ffc53a","edited":true},"widget-backgroundColor":{"value":"#2c333f","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Roboy Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":80,"gy":40,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a4166852.0d7068","type":"ui_tab","z":"","name":"Control & Middleware","icon":"dashboard","order":2},{"id":"104ee61b.b8613a","type":"ui_group","name":"Group 1","tab":"a4166852.0d7068","order":1,"disp":true,"width":6},{"id":"a9040c42.ea1aa8","type":"ui_group","z":"","name":"Memory","tab":"1ed57b3a.ba5035","order":2,"disp":true,"width":"6"},{"id":"b932637a.6946d","type":"ui_button","z":"f1c88b72.692ab","name":"Memory start","group":"a9040c42.ea1aa8","order":3,"width":0,"height":0,"passthru":false,"label":"start","color":"","bgcolor":"","icon":"","payload":"COGNITON_WS","payloadType":"str","topic":"","x":140,"y":240,"wires":[["ff22ea7f.72234"]]},{"id":"ff22ea7f.72234","type":"process-env","z":"f1c88b72.692ab","name":"","topic":"","key":"","x":470,"y":240,"wires":[["86393553.0daec"]]},{"id":"86393553.0daec","type":"exec","z":"f1c88b72.692ab","command":"cd ","addpay":true,"append":" && cd src/roboy_cognition/roboy_memory/target && java -jar roboy_memory-1.0.0-jar-with-dependencies.jar","useSpawn":"false","timer":"","oldrc":false,"name":"","x":630,"y":240,"wires":[[],["face33b7.4c4638"],[]]},{"id":"caa3bf30.a3cfd8","type":"ui_button","z":"f1c88b72.692ab","name":"","group":"104ee61b.b8613a","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":760,"wires":[[]]},{"id":"d3aaf46e.4ed4d8","type":"inject","z":"f1c88b72.692ab","name":"","topic":"","payload":"COGNITION_WS","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":160,"wires":[["ff22ea7f.72234","79d0a47d.a7a554"]]},{"id":"8185ebd0.383138","type":"function","z":"f1c88b72.692ab","name":"kill","func":"// msg = [];\n// msg.payload = \"123\";\n// msg.kill = \"SIGTERM\";\nmsg.kill = \"SIGTERM\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["86393553.0daec"]]},{"id":"b567aa55.225dc8","type":"ui_button","z":"f1c88b72.692ab","name":"Memory stop","group":"a9040c42.ea1aa8","order":4,"width":0,"height":0,"passthru":false,"label":"stop","color":"","bgcolor":"","icon":"","payload":"COGNITON_WS","payloadType":"str","topic":"","x":130,"y":300,"wires":[["8185ebd0.383138"]]},{"id":"face33b7.4c4638","type":"ui_toast","z":"f1c88b72.692ab","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Memory Error notification","x":830,"y":240,"wires":[]},{"id":"fc968438.98de88","type":"ui_button","z":"f1c88b72.692ab","name":"Dialog start","group":"3d4e1628.d97a92","order":1,"width":"10","height":"1","passthru":false,"label":"start","color":"","bgcolor":"","icon":"","payload":"COGNITON_WS","payloadType":"str","topic":"","x":130,"y":460,"wires":[["79d0a47d.a7a554"]]},{"id":"79d0a47d.a7a554","type":"process-env","z":"f1c88b72.692ab","name":"","topic":"","key":"","x":490,"y":460,"wires":[["5b3ce132.9577a"]]},{"id":"5b3ce132.9577a","type":"exec","z":"f1c88b72.692ab","command":"cd ","addpay":true,"append":" && cd src/roboy_cognition/roboy_dialog && mvn exec:java -Dexec.mainClass=roboy.dialog.DialogSystem -Dprofile=NODERED","useSpawn":"false","timer":"","oldrc":false,"name":"","x":630,"y":460,"wires":[["4b1f36ab.20e108","2e418d65.71040a"],["2e418d65.71040a"],[]]},{"id":"a1276fc6.67a1a8","type":"function","z":"f1c88b72.692ab","name":"kill","func":"// msg = [];\n// msg.payload = \"123\";\n// msg.kill = \"SIGTERM\";\nmsg.kill = \"SIGTERM\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":520,"wires":[["5b3ce132.9577a"]]},{"id":"edf91c6f.32c4e","type":"ui_button","z":"f1c88b72.692ab","name":"Dialog stop","group":"3d4e1628.d97a92","order":2,"width":"10","height":"1","passthru":false,"label":"stop","color":"","bgcolor":"","icon":"","payload":"COGNITON_WS","payloadType":"str","topic":"","x":150,"y":520,"wires":[["a1276fc6.67a1a8"]]},{"id":"2e418d65.71040a","type":"ui_toast","z":"f1c88b72.692ab","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Dialog Error notification","x":890,"y":460,"wires":[]},{"id":"4b1f36ab.20e108","type":"debug","z":"f1c88b72.692ab","name":"","active":true,"console":"false","complete":"false","x":830,"y":400,"wires":[]},{"id":"e9c0d33f.884b98","type":"udp in","z":"f1c88b72.692ab","name":"","iface":"","port":"55556","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":160,"y":620,"wires":[["e457cb24.0dd4c"]]},{"id":"e457cb24.0dd4c","type":"ui_text","z":"f1c88b72.692ab","group":"3d4e1628.d97a92","order":0,"width":"20","height":"3","name":"","label":"Roboy:","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":620,"wires":[]},{"id":"7e2ed9d4.66c658","type":"ui_text_input","z":"f1c88b72.692ab","name":"","label":"You:","group":"3d4e1628.d97a92","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":150,"y":680,"wires":[["14a8857c.0ffdcb"]]},{"id":"14a8857c.0ffdcb","type":"udp out","z":"f1c88b72.692ab","name":"","addr":"127.0.0.1","iface":"","port":"55555","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":360,"y":680,"wires":[]}]