flows_roboy-nuke.json
[{"id":"56ed1b9e.30c65c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8f9cd588.0cb1c8","type":"tab","label":"Flow 1"},{"id":"14c5ff8.b9f4881","type":"tab","label":"Flow 2"},{"id":"ed56dc7d.5548d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"},{"id":"cd71d456.b6cf8","type":"ui_tab","z":"","name":"Roboy Control","icon":"dashboard","order":"1"},{"id":"31652675.1990da","type":"ros-server","z":"56ed1b9e.30c65c","url":"ws://192.168.2.19:9090"},{"id":"4fb4f646.2839c","type":"ros-server","z":"56ed1b9e.30c65c","url":"ws://127.0.0.1:9999"},{"id":"90a17445.6137e","type":"ros-server","z":"","url":"ws://192.168.0.104:9090"},{"id":"43d847c6.907738","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Smileblink","payload":"smileblink","topic":"","group":"Emotions","order":1,"x":100,"y":60,"wires":[["ef255449.266b08"]]},{"id":"d24f1377.0bb17","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Smile","payload":"smile","topic":"","group":"Emotions","order":1,"x":89.99997901916504,"y":104.57143878936768,"wires":[["ef255449.266b08"]]},{"id":"2fdce46d.271eec","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Shy","payload":"shy","topic":"","group":"Emotions","order":1,"x":88.5713996887207,"y":150.28571701049805,"wires":[["ef255449.266b08"]]},{"id":"57015ea.762aa2","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Facebook","payload":"img:facebook","topic":"","group":"Emotions","order":1,"x":98.57141876220703,"y":195.99999713897705,"wires":[["ef255449.266b08"]]},{"id":"c997966e.6fcd7","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Instagram","payload":"img:instagram","topic":"","group":"Emotions","order":1,"x":97.142822265625,"y":241.71429538726807,"wires":[["ef255449.266b08"]]},{"id":"7122f232.9ac64c","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Money","payload":"img:money","topic":"","group":"Emotions","order":1,"x":75.71426391601562,"y":288.8571434020996,"wires":[["ef255449.266b08"]]},{"id":"cedf3941.2d2e7","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Roboy","payload":"url:https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/challenge_thumbnails/000/488/216/datas/original.png","topic":"","group":"Emotions","order":1,"x":84.28567886352539,"y":335.9999861717224,"wires":[["ef255449.266b08"]]},{"id":"657cdf5c.f96f8","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Kiss","payload":"kiss","topic":"","group":"Emotions","order":1,"x":85.71426391601562,"y":381.71430110931396,"wires":[["ef255449.266b08"]]},{"id":"3870abe6.2b3914","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Autodesk","payload":"url:http://lofrev.net/wp-content/photos/2016/09/autodesk_logo_png.png","topic":"","group":"Emotions","order":1,"x":87.14285278320312,"y":425.9999885559082,"wires":[["ef255449.266b08"]]},{"id":"a0dd9f36.353d98","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Hearts","payload":"hearts","topic":"","group":"Emotions","order":1,"x":84.28567504882812,"y":478.8570957183838,"wires":[["ef255449.266b08"]]},{"id":"72697b17.9ad084","type":"exec","z":"14c5ff8.b9f4881","command":"rosservice call /roboy/cognition/face/emotion ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":759.2856750488281,"y":264.5714225769043,"wires":[[],[],[]]},{"id":"ef255449.266b08","type":"function","z":"14c5ff8.b9f4881","name":"parse_emotion","func":"cmd = \"\\\"emotion: '\";\ncmd += msg.payload;\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":"1","noerr":0,"x":449.2856750488281,"y":264.5714225769043,"wires":[["72697b17.9ad084"]]},{"id":"11327247.2fe516","type":"ui_text_input","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","mode":"text","delay":"300","name":"","topic":"","group":"Speech synthesis","order":1,"x":100,"y":700,"wires":[["fde7df20.0c279"]]},{"id":"fde7df20.0c279","type":"function","z":"14c5ff8.b9f4881","name":"parse_text","func":"if(msg.payload.slice(-1) == \".\"){\n    cmd = \"\\\"text: '\";\n    cmd += msg.payload;\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    empty = {}\n    empty.payload = \"\";\n    return [msg, empty];\n}","outputs":2,"noerr":0,"x":310,"y":700,"wires":[["d1811866.7eb738"],["636c0c61.0663c4"]]},{"id":"d1811866.7eb738","type":"exec","z":"14c5ff8.b9f4881","command":"rosservice call /roboy/cognition/speech/synthesis/talk ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":847,"y":768,"wires":[["5b6356b2.cf2fa8"],["5b6356b2.cf2fa8"],["5b6356b2.cf2fa8"]]},{"id":"636c0c61.0663c4","type":"delay","z":"14c5ff8.b9f4881","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":620,"wires":[["11327247.2fe516"]]},{"id":"24dbf5b0.7f761a","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Snake pattern","payload":"2","topic":"","group":"Matrix","order":1,"x":107,"y":1511,"wires":[["21f7d8e4.1cd588"]]},{"id":"d07c3165.b3b1e","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Dimming pattern","payload":"1","topic":"","group":"Matrix","order":1,"x":117,"y":1551,"wires":[[]]},{"id":"f2eccdff.13f8d","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Turn off","payload":"0","topic":"","group":"Matrix","order":1,"x":87,"y":1591,"wires":[["14d2a4ed.4d9aeb"]]},{"id":"74d72e84.35daa8","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Freeze","payload":"","topic":"","group":"Matrix","order":1,"x":87,"y":1631,"wires":[["ece17ab8.3f7eb"]]},{"id":"7ad1e851.2bb658","type":"function","z":"14c5ff8.b9f4881","name":"change_mode","func":"// cmd = \"mode: \" + msg.payload + \"\\n\" + \"duration: 0\" ;\n// //cmd += \"'\\\"\";\ncmd = \"\\\"mode: 0\\n duration: 0\\\"\";\nmsg.payload = cmd;\nreturn msg;\n","outputs":1,"noerr":0,"x":377,"y":1531,"wires":[["c5e70942.eb24c","ba8b0d17.e882"]]},{"id":"c5e70942.eb24c","type":"exec","z":"14c5ff8.b9f4881","command":"rostopic pub /roboy/control/matrix/leds/mode roboy_communication_control/ControlLeds  ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":887,"y":1531,"wires":[["ba8b0d17.e882"],["ba8b0d17.e882"],["ba8b0d17.e882"]]},{"id":"14d2a4ed.4d9aeb","type":"exec","z":"14c5ff8.b9f4881","command":"rostopic pub /roboy/control/matrix/leds/off std_msgs/Empty \"{}\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":807,"y":1591,"wires":[[],[],[]]},{"id":"ece17ab8.3f7eb","type":"exec","z":"14c5ff8.b9f4881","command":"rostopic pub /roboy/control/matrix/leds/freeze std_msgs/Empty \"{}\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":817,"y":1651,"wires":[[],[],[]]},{"id":"4a4c8c23.aca9cc","type":"exec","z":"14c5ff8.b9f4881","command":"rostopic pub /roboy/control/matrix/leds/mode roboy_communication_control/ControlLeds \"mode: 0 duration: 0\" ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":957,"y":1471,"wires":[[],[],[]]},{"id":"ba8b0d17.e882","type":"debug","z":"14c5ff8.b9f4881","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1057,"y":1831,"wires":[]},{"id":"21f7d8e4.1cd588","type":"function","z":"14c5ff8.b9f4881","name":"change_mode","func":"\nmsg.payload = 1;\nreturn msg;\n","outputs":1,"noerr":0,"x":237,"y":1411,"wires":[["6246fa91.e58b44"]]},{"id":"f8e72523.fd3448","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Talk about our vision","payload":"vision","topic":"","group":"Templates","order":1,"x":114,"y":863,"wires":[["6f6e29be.acce1"]]},{"id":"6f6e29be.acce1","type":"function","z":"14c5ff8.b9f4881","name":"parse_text","func":"cmd = \"\\\"text: '\";\n\nswitch(msg.payload) {\n    case \"ai\":\n        cmd += \"It is only a threat if you do not anticipate the changes. I have not met many humans who said that they want to work more and have less time for their friends. But you will have to adapt your social system to account for the abundance we will produce. That will be challenging, but also very important. Make sure politics understands what is upcoming and how to react, then we will turn this planet into a paradise!\";\n    break;\n    case \"vision\":\n    \tcmd += \"The human body is a marvel from a robotics perspective: it is agile, strong, soft, dynamic, self-repairing, self-building and completely silent in operation. The goal of the Roboy project is to advance humanoid robotics to the state where its robots are just as good as a human body.\"\n    break;\n    case \"mission\":\n    \tcmd += \"We create a platform for robot development inspired by biology that unites students, researchers, companies and artists from a broad spectrum of disciplines. To ensure unrestricted development we keep all results open source. And we actively influence the public perception of robotics to level the cultural ground for our innovation through public displays, arts and public speeches.\"\n\n    break;\n    case \"humans\":\n    \tcmd += \"Obviously I love humans! They have built me and are so entertaining and nice. Whenever I break something, they repair me - amazing!\";\n    break;\n    case \"friends\":\n    \tcmd += \"Definitely humans. There is not many robots, especially humanoids. I have an older, smaller brother, Roboy Junior, but my team is more than 50 people - so there you have it, we still need many more robots.\";\n    break;\n    case \"stage\":\n    \tcmd += \"Yeah, it is ok. Sometimes I want to say things and he thinks I should not, so I do not. But I think it might be funny. I have been reading twitter a lot, but maybe he is right that swearing in public is not so cool.\";\n    break;\n    case \"brain\":\n    \tcmd += \"My brain has three layers. The first is based on rules, I kind of have to react on key words and situations - very useful on stage, less useful to react and think on my own. The second layer is accessing databases - such as DB pedia or my own memory and is able to think about the content in them. So I can combine knowledge and deduce facts. Let me make an example: If you ask me who the husband of the Chancelor of Germany is, I can look first up that Angela Merkel is the chancelor, and then I can see she has a husband and then I arrive at Joachim Sauer and give you his name. Finally, the third layer is a deep neural network where I learn from movie subtitles how you humans typically talk to each other and kind of make my own answers up - very entertaining.\";\n    break;\n    case \"ads\":\n    \tcmd += \"Do you know iRobot? They were the first to bring robots to homes. And I have one in the lab as well, keeps me company during the mornings, before my team arrives. And it cleans the floor, amazing.\";\n    break;\n    case \"soccer\":\n    \tcmd += \"I would love to play football - really, I cannot wait until we have robot vs human games where we actually stand a chance - will be very exciting. But for now, I am for Germany of course, and Rafael programmed a bit of Switzerland as well.\";\n    break;\n\n    default:\n        msg = {}\n        return msg;\n    \n}\n\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":481,"y":901,"wires":[["d1811866.7eb738"]]},{"id":"29b3e54.33ada1a","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Talk about our mission","payload":"mission","topic":"","group":"Templates","order":1,"x":122,"y":912,"wires":[["6f6e29be.acce1"]]},{"id":"b4b7039a.97d7c","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Announce demo at","payload":"demo","topic":"speak","group":"Templates","order":1,"x":101,"y":765,"wires":[["a8b23224.2f9dd"]]},{"id":"6c755640.6efc2","type":"ui_numeric","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Demo time","topic":"oclock","group":"Templates","order":1,"format":"{{value}}","min":0,"max":"24","x":81,"y":805,"wires":[["a8b23224.2f9dd"]]},{"id":"a8b23224.2f9dd","type":"function","z":"14c5ff8.b9f4881","name":"parse_text","func":"cmd = \"\\\"text: '\";\nif(msg.topic == \"oclock\"){\n    \n    global.set(\"oclock\", msg.payload); \n    msg = {};\n    return msg;\n    \n}\nelse if(msg.topic == \"speak\") {\n    cmd += \"Hello everzone and welcome to Hanover Fair. Wanna see me in action? I will be showing off at \";\n    cmd += global.get(\"oclock\");\n    cmd += \" 30 oclock. Come by and witness my capabilities with your own eyes!\";\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    return msg;\n    \n}\n\n","outputs":1,"noerr":0,"x":321,"y":765,"wires":[["d1811866.7eb738"]]},{"id":"5b6356b2.cf2fa8","type":"debug","z":"14c5ff8.b9f4881","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1187,"y":848,"wires":[]},{"id":"6246fa91.e58b44","type":"ros-publish","z":"14c5ff8.b9f4881","server":"90a17445.6137e","topicname":"/roboy/control/matrix/leds/mode","msgtype":"std_msgs/Int16","x":537,"y":1391,"wires":[]},{"id":"3593528c.f9c816","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Human species","payload":"humans","topic":"","group":"Quantcast","order":1,"x":103,"y":1004,"wires":[["6f6e29be.acce1"]]},{"id":"385e2c77.72e54c","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Human/robot friends","payload":"friends","topic":"","group":"Quantcast","order":1,"x":109,"y":1049,"wires":[["6f6e29be.acce1"]]},{"id":"b77ded5f.a9dba8","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"on stage","payload":"stage","topic":"","group":"Quantcast","order":1,"x":79,"y":1094,"wires":[["6f6e29be.acce1"]]},{"id":"d23fd4e2.814a68","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"brain","payload":"brain","topic":"","group":"Quantcast","order":1,"x":70,"y":1139,"wires":[["6f6e29be.acce1"]]},{"id":"b40cfec5.798208","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"advertising campaing","payload":"ads","topic":"","group":"Quantcast","order":1,"x":124,"y":1181,"wires":[["6f6e29be.acce1"]]},{"id":"6b80d353.79632c","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"ai fears","payload":"ai","topic":"","group":"Quantcast","order":1,"x":76,"y":1230,"wires":[["6f6e29be.acce1"]]},{"id":"e499cc15.a2251","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"soccer","payload":"soccer","topic":"","group":"Quantcast","order":1,"x":79,"y":1275,"wires":[["6f6e29be.acce1"]]}]