flows_roboy-NUC8i7HNK.json
[{"id":"286b81b2.8be5f6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"52b5890c.deb9e8","type":"tab","label":"Flow 2"},{"id":"1431d2dd.0bb8cd","type":"tab","label":"Launch","disabled":false,"info":""},{"id":"a3d75715.5da158","type":"tab","label":"photoboy","disabled":false,"info":""},{"id":"8aa37358.08beb","type":"tab","label":"utils","disabled":false,"info":""},{"id":"d6a5ab75.636638","type":"tab","label":"ciie show","disabled":false,"info":""},{"id":"cace941b.9a2988","type":"tab","label":"Movement ctl","disabled":false,"info":""},{"id":"d88af59a.abbb08","type":"tab","label":"hug roboy","disabled":false,"info":""},{"id":"97e58043.e48fd","type":"tab","label":"test","disabled":false,"info":""},{"id":"d7f9d35.45bb8b","type":"ui_tab","z":"","name":"Controls","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"31da5dc7.5248f2","type":"ui_group","z":"","name":"Camera stream","tab":"d7f9d35.45bb8b","order":12,"disp":true,"width":"6","collapse":true},{"id":"4ddf4421.544524","type":"ui_base","z":"","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#465572","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#465572","edited":true},"page-titlebar-backgroundColor":{"value":"#465572","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6479a0","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#465572","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Roboy Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":40,"sy":48,"gx":10,"gy":10,"cx":6,"cy":6,"px":2,"py":2}}},{"id":"3d9b8cb5.0e989c","type":"ui_group","z":"","name":"Motor status","tab":"","order":3,"disp":true,"width":"9","collapse":true},{"id":"6831354a.a3846c","type":"ui_group","z":"","name":"Emotions","tab":"d7f9d35.45bb8b","order":2,"disp":true,"width":"5","collapse":true},{"id":"e090dfb5.0fde9","type":"ui_group","z":"","name":"Talk","tab":"d7f9d35.45bb8b","order":4,"disp":true,"width":"6","collapse":true},{"id":"94078f0e.9efad8","type":"ui_group","z":"","name":"Explain English","tab":"d7f9d35.45bb8b","order":5,"disp":true,"width":"6","collapse":true},{"id":"88c99838.3bee8","type":"ui_group","z":"","name":"Encourage","tab":"d7f9d35.45bb8b","order":11,"disp":true,"width":"6","collapse":true},{"id":"8bec28aa.3fe1b","type":"ui_tab","z":"","name":"Camera Stream","icon":"view_stream","order":4,"disabled":false,"hidden":false},{"id":"b7f4bfd2.67f56","type":"ui_group","z":"","name":"Matrix","tab":"d7f9d35.45bb8b","order":3,"disp":true,"width":"6","collapse":true},{"id":"fcbf351c.ddfb58","type":"ui_group","z":"","name":"Launch","tab":"d7f9d35.45bb8b","order":1,"disp":true,"width":"6","collapse":true},{"id":"81fa96a1.275438","type":"ui_group","z":"","name":"Face oracle","tab":"8bec28aa.3fe1b","disp":true,"width":"27","collapse":false},{"id":"eaaa7bbf.50dcf8","type":"ui_group","z":"","name":"Hug","tab":"d7f9d35.45bb8b","order":10,"disp":true,"width":"6","collapse":true},{"id":"c6c883d9.94b1e","type":"ui_group","z":"","name":"Explain German","tab":"d7f9d35.45bb8b","order":6,"disp":true,"width":"6","collapse":true},{"id":"3b881a91.d91036","type":"ui_group","z":"","name":"Fotos","tab":"d7f9d35.45bb8b","order":9,"disp":true,"width":"6","collapse":true},{"id":"80b704e6.d6c7f8","type":"ui_group","z":"","name":"German chitchat","tab":"d7f9d35.45bb8b","order":8,"disp":true,"width":"6","collapse":true},{"id":"c175dd70.a141","type":"ui_group","z":"","name":"English chitchat","tab":"d7f9d35.45bb8b","order":7,"disp":true,"width":"6","collapse":true},{"id":"3d3fdb49.6047e4","type":"ui_group","z":"","name":"photo","tab":"eb6871bf.448c1","order":1,"disp":false,"width":"18","collapse":false},{"id":"6c3556d7.ece548","type":"ui_group","z":"","name":"qr","tab":"eb6871bf.448c1","order":3,"disp":false,"width":"5","collapse":false},{"id":"d434410a.a993d","type":"ui_group","z":"","name":"print","tab":"eb6871bf.448c1","order":5,"disp":false,"width":"5","collapse":false},{"id":"e0cbd0b1.b46ae","type":"ui_group","z":"","name":"filters","tab":"eb6871bf.448c1","order":2,"disp":false,"width":"7","collapse":false},{"id":"eb6871bf.448c1","type":"ui_tab","z":"","name":"Photoboy","icon":"camera_alt","order":1,"disabled":false,"hidden":false},{"id":"1c06993f.bd9797","type":"ui_spacer","name":"spacer","group":"2367b634.9b4c1a","order":14,"width":"5","height":"2"},{"id":"2c20be58.af7b42","type":"ui_group","z":"","name":"Take a photo","tab":"eb6871bf.448c1","disp":true,"width":"5","collapse":false},{"id":"eb068579.1d85b8","type":"ui_tab","z":"","name":"Utils","icon":"settings","order":3,"disabled":false,"hidden":false},{"id":"6f290e93.9e80f","type":"ui_group","z":"","name":"Sound files generator","tab":"eb068579.1d85b8","disp":true,"width":"12","collapse":true},{"id":"5272c43f.425f3c","type":"ui_group","z":"","name":"Filters","tab":"","order":2,"disp":true,"width":"24","collapse":false},{"id":"cf9b4a2a.9d6a48","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":"","willTopic":"","willQos":"0","willRetain":null,"willPayload":""},{"id":"88a8ddc9.0e1c5","type":"ui_group","z":"","name":"Devices","tab":"","order":2,"disp":true,"width":"18"},{"id":"a4ab58c8.82c5f8","type":"ui_spacer","name":"spacer","group":"6f290e93.9e80f","order":3,"width":1,"height":1},{"id":"896ad6b3.744698","type":"ui_group","z":"","name":"Chinese Talk","tab":"d7f9d35.45bb8b","disp":true,"width":"6","collapse":true},{"id":"6dfb2c31.238904","type":"ui_tab","z":"","name":"CIIE","icon":"public","disabled":false,"hidden":false},{"id":"9e9db6ff.b10238","type":"ui_group","z":"","name":"Show","tab":"6dfb2c31.238904","disp":true,"width":"6","collapse":true},{"id":"aa5a1f73.fff3e","type":"ui_tab","z":"","name":"Movements","icon":"directions_walk","disabled":false,"hidden":false},{"id":"a8f7a774.585be8","type":"ui_group","z":"","name":"Actions queue","tab":"aa5a1f73.fff3e","order":3,"disp":true,"width":"6","collapse":true},{"id":"22c01be5.038e84","type":"ui_group","z":"","name":"Available actions","tab":"aa5a1f73.fff3e","order":2,"disp":true,"width":"6","collapse":true},{"id":"1d314a61.6c81b6","type":"ui_group","z":"","name":"Record trajectory","tab":"aa5a1f73.fff3e","order":1,"disp":true,"width":"6","collapse":true},{"id":"6a59a2dd.737c8c","type":"ui_spacer","name":"spacer","group":"1d314a61.6c81b6","order":3,"width":6,"height":1},{"id":"79531856.ef5438","type":"ros-server","z":"","url":"ws://192.168.0.105:9090"},{"id":"f7852742.fc7568","type":"ui_spacer","name":"spacer","group":"fcbf351c.ddfb58","order":11,"width":6,"height":1},{"id":"8976fd67.6a67c","type":"ui_spacer","name":"spacer","group":"b7f4bfd2.67f56","order":6,"width":1,"height":1},{"id":"a4cc06ce.62452","type":"ui_template","z":"286b81b2.8be5f6","group":"31da5dc7.5248f2","name":"MJPEG stream","order":1,"width":6,"height":5,"format":"<html>\n<head>\n<title>My Web Page</title>\n</head>\n<body>\n<img src=\"http://127.0.0.1:8088/cam.mjpg\">\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":130,"y":117,"wires":[[]]},{"id":"a6aaf808.5d806","type":"function","z":"286b81b2.8be5f6","name":"unpack","func":"var actuatorPos = {payload:  msg.payload.position[0], topic: \"0\"};\nvar actuatorPos1 = {payload:  msg.payload.position[1], topic: \"1\"};\n// var actuatorVel = {payload: msg.payload.actuatorVel};\n// var elacticDisplacement ={ payload: msg.payload.elasticDisplacement};\n// var contractileDisplacement ={payload: msg.payload.contractileDisplacement};\nret = []\nfor (i=0; i<msg.payload.velocity.length; i++)\n{\n    ret.push({payload:  msg.payload.velocity[i], topic: i});\n}\n\nreturn ret; //, actuatorVel, elacticDisplacement, contractileDisplacement];","outputs":21,"noerr":0,"x":425,"y":393,"wires":[[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"47d40fd3.653d2","type":"function","z":"286b81b2.8be5f6","name":"unpack","func":"var actuatorPos = {payload:  msg.payload.position[0], topic: \"0\"};\nvar actuatorPos1 = {payload:  msg.payload.position[1], topic: \"1\"};\n// var actuatorVel = {payload: msg.payload.actuatorVel};\n// var elacticDisplacement ={ payload: msg.payload.elasticDisplacement};\n// var contractileDisplacement ={payload: msg.payload.contractileDisplacement};\nret = []\nfor (i=0; i<msg.payload.velocity.length; i++)\n{\n    ret.push({payload:  msg.payload.velocity[i], topic: i});\n}\n\nreturn ret; //, actuatorVel, elacticDisplacement, contractileDisplacement];","outputs":21,"noerr":0,"x":970,"y":467,"wires":[[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"320a4340.55746c","type":"exec","z":"52b5890c.deb9e8","command":"rosservice call /roboy/cognition/face/emotion ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":808.0356597900391,"y":159.57143020629883,"wires":[[],[],[]]},{"id":"f1385161.95f248","type":"function","z":"52b5890c.deb9e8","name":"parse_emotion","func":"cmd = \"\\\"emotion: '\";\ncmd += msg.payload;\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":"1","noerr":0,"x":495.7856750488281,"y":168.32142639160156,"wires":[["320a4340.55746c"]]},{"id":"1ca39831.136b98","type":"function","z":"52b5890c.deb9e8","name":"parse_text","func":"// if(msg.payload.slice(-1) == \".\"){\n    cmd = \"\\\"text: '\";\n    cmd += msg.payload.replace(\"'\",\"\");\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    empty = {}\n    empty.payload = \"\";\n    return [msg, empty];\n// }","outputs":2,"noerr":0,"x":325,"y":688,"wires":[["77c85bb2.2cd55c","93504010.b0fb4"],["70989901.31c188"]]},{"id":"77c85bb2.2cd55c","type":"exec","z":"52b5890c.deb9e8","command":"ls","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":780,"wires":[["8c06d332.49c8f"],["8c06d332.49c8f"],["8c06d332.49c8f"]]},{"id":"70989901.31c188","type":"delay","z":"52b5890c.deb9e8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":208,"y":597,"wires":[["e417796.bbe9e88"]]},{"id":"e3ad8301.40f0f","type":"function","z":"52b5890c.deb9e8","name":"parse_text","func":"cmd = \"\\\"text: '\";\nswitch(msg.payload) {\n    case \"selfie\":\n        var s = [\"Come on, take a selfie with me, I think we will look great together.\", \"I love taking pictures, take your phone and lets take a selfie together.\", \n        \"do you like taking pictures as much as i do? i wouldnt say no to a photo with you.\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        break;\n    case \"oktobertech\":\n        var s = [\"Welcome to OctoberTech, I hope you have a great time, and dont forget to make a selfie with me\",\n        \"Hey there, welcome to OctoberTech! It will be an amazing day, so enjoy it! Oh and I love doing selfies.\",\n        \"Good morning and welcome to OctoberTech. Its quite early for me, but you have to start early to get all the amazing content into the day! So enjoy!\",\n        \"Good morning, welcome to October Tech! Enjoy your stay, it will be a great day! Oh, and take a selfie with me, theres prices to win!\",\n        \"Hey, do you like winning prices? Yes? Then lets take a selfie together. Oh and welcome to OctoberTech\",\n        \"Hi, good morning, wow, so great to see you. Im feeling marvellous and you look like you do to! So, enjoy the day and welcome to OctoberTech!\",\n        \"Welcome to OctoberTech, I hope you have a great time, by the way, Im here by bike, are you?\",\n        \"So Im a very green robot, not by hue, but by bike!\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n    break;\n    case \"talktoname\":\n        var s = [\"Hey \"+name+\" great to see you!\",\n        name+\" how are you?\",\n        \"I know you, you're \"+name,\n        \"Hey \"+name+\" let's take a selfie together\",\n        \"Oh my god, hey \"+name+\" great to see you\",\n        \"it's so great to see you \"+name,\n        \"well, \"+name+\" how are you today? you look fabulous!\",\n        name+\", \"+name+\", \"+name+\" let's take a picture!\"]\n        cmd += s[Math.floor(Math.random()*s.length)];\n    break;\n    case \"built\":\n        var s = [\"Did you know that I was designed in 4 months by a team of students from the Technical university of Munich. It took another month to assemble all the parts. And then I was born in April 2018.\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        break;\n    case \"bioinspired\":\n        var s = [\"My body has a human-like structure. I have muscles and tendons just like people do. You can see these blue strings on my shoulder that are connected to the artificial muscle. My team has designed and produced these muscles for me.\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        break;\n    case \"3dprinted\":\n        var s = [\"My body is completely 3D printed. I use almost 50 motors in order to move. I can see, hear, and soon I will be able to feel your touch.\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        break;\n    case \"rickshaw\":\n        var s = [\"Soon I will be a rickshaw driver. Currently my team is teaching me how to ride the tricycle and drive autonomously on the streets. So that in March I can drive people around the Garching Campus.\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        break;\n    case \"infineonsensors\":\n        var s = [\"\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        s = [\"Their MEMS microphones enable me to hear you, and what would I do without my ears.\",\n            \"The magnetic sensors enable me to understand how I should move my arm, no easy feat! Check out the Video!.\",\n            \"The Infineons 60 gigahertz radar makes it possible that I can detect which material is in front of me.\",\n            \"So you wonder why I am here? Well, Im full of Infineon sensors!.\",\n            \"Its not coincidence I am here, its because Infineon sensors are making me feel the world!.\",\n            \"In case you didnt know why I am here, its because I am full of Infineon sensors that make me feel the world!.\",\n            \"I am here with Infineon, because I use their sensors to make me more human like.\"\n            ];\n        cmd += s[Math.floor(Math.random()*s.length)];\n    break;\n    case \"hugcompliment\":\n        var s = [\"\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        s = [\"what a great hugger you are!\", \"this hug is so good that i would never let you go!\", \"you are very professional doing hugs!\", \"that was great. i can really recommend hugging you.\", \"oh, thank you. you just made my day better\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        break;\n    case \"ai\":\n        cmd += \"It is only a threat if you do not anticipate the changes. I have not met many humans who said that they want to work more and have less time for their friends. But you will have to adapt your social system to account for the abundance we will produce. That will be challenging, but also very important. Make sure politics understands what is upcoming and how to react, then we will turn this planet into a paradise!\";\n    break;\n    case \"vision\":\n    \tcmd += \"The human body is a marvel from a robotics perspective: it is agile, strong, soft, dynamic, self-repairing, self-building and completely silent in operation.\"\n    break;\n    case \"goal\":\n    \tcmd += \"The goal of the Roboy project is to advance humanoid robotics to the state where its robots are just as good as a human body.\"\n    break;\n    case \"mission\":\n    \tcmd += \"We create a platform for robot development inspired by biology that unites students, researchers, companies and artists from a broad spectrum of disciplines.\"\n    break;\n    case \"open-source\":\n    \tcmd += \"To ensure unrestricted development we keep all results open source. And we actively influence the public perception of robotics to level the cultural ground for our innovation through public displays, arts and public speeches.\"\n    break;\n    case \"humans\":\n    \tcmd += \"Obviously I love humans! They have built me and are so entertaining and nice. Whenever I break something, they repair me - amazing!\";\n    break;\n    case \"friends\":\n    \tcmd += \"Definitely humans. There is not many robots, especially humanoids. I have an older, smaller brother, Roboy Junior, but my team is more than 50 people - so there you have it, we still need many more robots.\";\n    break;\n    case \"wacker\":\n    \tcmd += \"Wacker is my favorite company in the world! Do you know anyone working there?\";\n    break;\n    case \"brain\":\n    \tcmd += \"My brain has three layers. The first is based on rules, I kind of have to react on key words and situations - very useful on stage, less useful to react and think on my own. The second layer is accessing databases - such as DB pedia or my own memory and is able to think about the content in them. So I can combine knowledge and deduce facts. Let me make an example: If you ask me who the husband of the Chancelor of Germany is, I can look first up that Angela Merkel is the chancelor, and then I can see she has a husband and then I arrive at Joachim Sauer and give you his name. Finally, the third layer is a deep neural network where I learn from movie subtitles how you humans typically talk to each other and kind of make my own answers up - very entertaining.\";\n    break;\n    case \"welcome\":\n    \tcmd += \"Welcome to Wacker Open Day! I am so happy to be here today.\";\n    break;\n    case \"story\":\n    \tcmd += \"Are you ready for a story. Ok, kids come here if you want to know something interesting. \";\n    \tbreak;\n\n    default:\n        msg = {}\n        return msg;\n    \n}\n\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":963,"wires":[["77c85bb2.2cd55c","93504010.b0fb4"]]},{"id":"f03b7c2d.5160b8","type":"function","z":"52b5890c.deb9e8","name":"parse_text","func":"cmd = \"\\\"text: '\";\nif(msg.topic == \"oclock\"){\n    \n    global.set(\"oclock\", msg.payload); \n    msg = {};\n    return msg;\n    \n}\nelse if(msg.topic == \"speak\") {\n    cmd += \"Hello everzone and welcome to Hanover Fair. Wanna see me in action? I will be showing off at \";\n    cmd += global.get(\"oclock\");\n    cmd += \" 30 oclock. Come by and witness my capabilities with your own eyes!\";\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    return msg;\n    \n}\n\n","outputs":1,"noerr":0,"x":350,"y":760,"wires":[["77c85bb2.2cd55c","93504010.b0fb4"]]},{"id":"8c06d332.49c8f","type":"debug","z":"52b5890c.deb9e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1187,"y":848,"wires":[]},{"id":"c59830db.d9cd18","type":"function","z":"52b5890c.deb9e8","name":"parse_mwc_text","func":"cmd = \"\\\"text: '\";\nswitch(msg.payload) {\n    case \"thanks\":\n        cmd += \"Thanks, very well, how are you?\";\n    break;\n    case \"mems\":\n        cmd += \"With Infineon’ mems microphones, I finally have ears that are probably even better than yours\";\n    break;\n    case \"breast\":\n        cmd += \"Look here on my breast!\";\n    break;\n    case \"beamforming\":\n        cmd += \"With this array of Infineon XENSIV mems microphones, I can even perform beamforming and concentrate on the person talking to me.\";\n    break;\n    case \"yes_look\":\n    \tcmd += \"Yes certainly, I can. Have a look!\"\n    break;\n    case \"microcontroller\":\n    \tcmd += \" I am using embedded power technology from Infineon, the market leader in power semiconductors. These devices are highly integrated; my creators love them, as they require only minimum space due to the integration of microcontroller and power technology on one chip.\"\n    break;\n    case \"magnetic\":\n    \tcmd += \"With Infineon XENSIV 3D magnetic sensors - implemented in my shoulder joints. They are trained with AI technology for superior accuracy\";\n    break;\n    case \"material\":\n    \tcmd += \"Oh well, Very soon I will be able to detect the material I am walking on.\";\n    break;\n    case \"feet\":\n    \tcmd += \"Oh well, I will have Infineon XENSIV 60 GHz radar sensors in my feet.\";\n    break;\n    case \"junior\":\n    \tcmd += \"Well this is just for prototyping; it is actually the foot of my brother Roboy Junior \";\n    break;\n    case \"esim\":\n    \tcmd += \"For now, I have to communicate with the cloud in order to understand human speech. Therefore my creators have implemented an embedded SIM from Infineon, so I can stay online  wherever I am. I even can instantaneously switch the mobile carrier wherever I find best network quality and best data plans.\";\n    break;\n    case \"optiga\":\n    \tcmd += \"I am using an Infineon security product called OPTIGA Trust X that helps me to enable secured transfer of sensitive data between me and the cloud.\";\n    \tbreak;\n    case \"bye\":\n    \tcmd += \"Good bye, it was my pleasure\";\n    break;\n\n    default:\n        msg = {}\n        return msg;\n    \n}\n\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":2025,"y":4470,"wires":[["941177a8.a5cf7"]]},{"id":"941177a8.a5cf7","type":"exec","z":"52b5890c.deb9e8","command":"rosservice call /roboy/cognition/speech/synthesis/talk ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2381.9999923706055,"y":4474.999997138977,"wires":[["40deda58.9fcfec"],["40deda58.9fcfec"],["40deda58.9fcfec"]]},{"id":"40deda58.9fcfec","type":"debug","z":"52b5890c.deb9e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2722.9999923706055,"y":4471.999997138977,"wires":[]},{"id":"dab4bc47.218fc","type":"exec","z":"52b5890c.deb9e8","command":"rostopic pub /roboy/control/matrix/leds/mode/simple std_msgs/Int32 \"data: 2\"  ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2380.000030517578,"y":4270.0000648498535,"wires":[[],[],[]]},{"id":"bb92cf22.0c81e8","type":"exec","z":"52b5890c.deb9e8","command":"rostopic pub /roboy/control/matrix/leds/off std_msgs/Empty \"{}\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2336.25,"y":4333.75,"wires":[[],[],[]]},{"id":"471eb797.72814","type":"http response","z":"52b5890c.deb9e8","name":"","statusCode":"","headers":{},"x":790,"y":440,"wires":[]},{"id":"7db57012.4604c8","type":"http in","z":"52b5890c.deb9e8","name":"","url":"/roboysay","method":"get","upload":false,"swaggerDoc":"","x":430,"y":440,"wires":[["ff7e53c5.3fec5","a3ed5382.6a6358"]]},{"id":"ff7e53c5.3fec5","type":"template","z":"52b5890c.deb9e8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <style>\n            div{\n                float:left;\n                width:19%;\n                height:5%;\n                margin:0.5%;\n                background:#343e4e;\n                color:#fff;\n                font-family:Lato,sans-serif;\n                padding:1%;\n                text-align:center;\n                border:3px solid black;\n            }\n            input,body{\n                font-size:2em;\n            }\n            .good{\n                background-color:hsl(120,100%,25%);\n            }\n            .bad{\n                background-color:hsl(0,100%,25%);\n            }\n            .love{\n                background-color:hsl(0,100%,75%);\n            }\n            .neutral{\n                background-color:hsl(30,100%,25%);\n            }\n            .action{\n                background-color:hsl(180,100%,25%);\n            }\n            .question{\n                background-color:hsl(240,100%,25%);\n            }\n            #hug{\n                width:100%;\n                height:5%;\n                margin:0.5%;\n                background:#343e4e;\n                color:#fff;\n                font-family:Lato,sans-serif;\n                padding:1%;\n                text-align:center;\n            }\n        </style>\n        <script\n\t\t\t  src=\"https://code.jquery.com/jquery-3.3.1.min.js\"\n\t\t\t  integrity=\"sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=\"\n\t\t\t  crossorigin=\"anonymous\">\n        </script>\n    </head>\n    <body>\n        say: <form id=\"sayform\" action=\"/roboysay\">\n            <input name=\"say\" type=\"text\" id=\"selectme\"/>\n            <submit></submit>\n        </form>\n        name: <form id=\"nameform\">\n            <input name=\"name\" type=\"text\" id=\"name\"/>\n        </form> \n        <div id=\"hug\">HUG!</div>\n        <buttons> \n            <div class=\"love\">let's hug!</div>\n            <div class=\"love\">just a little bit closer!</div>\n            <div class=\"love\">don't regret - hug a robot today!</div>\n             <div class=\"love\">hug and follow me on instagram!</div>\n            <div class=\"love\">it was my pleasure, sir</div>\n            <div class=\"love\">it was my pleasure, madam</div>\n            <div class=\"love\">what a great hug</div>\n             <div class=\"love\">you are very professional doing hugging</div>\n            <div class=\"love\">I could hug forever like this</div>\n            <div class=\"love\">oh, that was something!</div>\n            <div class=\"love\">wow, what a hug!</div>\n            <div class=\"love\">loved it! </div>\n            <div class=\"love\">loved the hug! can I follow you on instagram?</div>\n            <div class=\"love\">oh, this was amazing!</div>\n            <div class=\"love\">wow, what a hug! good we have filmed it</div>\n            <div class=\"love\">dont be shy, hug a robot today!</div>\n            <div class=\"good\">yes!</div>\n            <div class=\"good\">oh yes!</div>\n            <div class=\"good\">yes, yes, yes!</div>\n            <div class=\"good\">oh, my, god, so yes!</div>\n            <div class=\"neutral\">maybe!</div>\n            <div class=\"neutral\">uhm, ok, sure!</div>\n            <div class=\"neutral\">yeah, sounds ok!</div>\n            <div class=\"neutral\">well, I guess!</div>\n            <div class=\"bad\">nope</div>\n            <div class=\"bad\">no, so no!</div>\n            <div class=\"bad\">not really, no</div>\n            <div class=\"bad\">definitely not!</div>\n            <div class=\"neutral\">give me a second, have to think</div>\n            <div class=\"neutral\">processing, please wait</div>\n            <div class=\"neutral\">so, I don't really know how to answer, please wait.</div>\n            <div class=\"neutral\">did I tell you this story, how one time, I uhm? no I didn't.</div>\n            <div class=\"question\">what is your name?</div>\n            <div class=\"question\">what did you like best at the fair so far?</div>\n            <div class=\"question\">first day at the fair?</div>\n            <div class=\"question\">did you see all the amazing sensors I have?</div>\n            <div class=\"good\">let's take a selfie!</div>\n            <div class=\"good\">come on! let's take a picture!</div>\n            <div class=\"good\">don't be shy, you are the better looking one of us!</div>\n            <div class=\"good\">let's do this!</div>\n            <div class=\"good\">oh this was great!</div>\n            <div class=\"question\">perfect, can I take a look?</div>\n            <div class=\"good\">oh you do look great in the picture!</div>\n            <div class=\"good\">perfect, at least one of us looks great, and it's not me!</div>\n            <div class=\"action\">time to go already? ok bye!</div>\n            <div class=\"action\">good bye!</div>\n            <div class=\"action\">bye bye!</div>\n            <div class=\"action\">ciao, enjoy the fair!</div>\n            <div class=\"blabla\">so I am quite fresh, a research project really!</div>\n            <div class=\"blabla\">I am the most human robot here!</div>\n            <div class=\"blabla\">You want a hug? Let's hug!</div>\n            <div class=\"blabla\">I am not just looking good, you can also touch me, don't be afraid!</div>\n            <div class=\"action\">hi, {name}, how are you doing?</div>\n            <div class=\"action\">{name}, {name}, let's take a selfie together?</div>\n            <div class=\"action\">hello {name}, I am Roboy, it's great to meet you!</div>\n            <div class=\"action\">{name}, that's a beautiful name!</div>\n        </buttons>\n        <script type=\"text/javascript\">\n            var input = document.getElementById('selectme');\n            input.focus();\n            input.select();\n\t\t\t  $(\"form\").submit(function(e){\n\t\t\t        jQuery.get(\"/roboysays\",$('form').serialize())\n                    e.preventDefault();\n                    $(\"form\").trigger(\"reset\");\n            })\n\t\t\t  $(\"buttons div\").click(function(e){\n\t\t\t      var t = $(e.target).text()\n\t\t\t      var name = $(\"#name\").val()\n\t\t\t      if(name){\n\t\t\t          t = t.split(\"{name}\").join(name);\n\t\t\t      }\n\t\t\t      jQuery.ajax({\n\t\t\t          type:\"GET\",\n\t\t\t          url:\"/roboysays\",\n\t\t\t          data:{\"say\":t},\n\t\t\t          success:\n\t\t\t            function(o){\n\t\t\t                $(e.target).css(\"border-color\", \"#00ff00\")\n\t\t\t                $(e.target).delay(300).css('border-color', '#000000');\n\t\t\t            }\n\t\t\t           });\n\t\t\t  });\n\t\t\t  $(\"#hug\").click(function(e){\n\t\t\t     jQuery.get(\"/hugroboy\"); \n\t\t\t  });\n        </script>\n    </body>\n</html>","output":"str","x":580,"y":360,"wires":[["471eb797.72814"]]},{"id":"74acc909.c219e","type":"function","z":"52b5890c.deb9e8","name":"","func":"if(msg.payload.say){\n    cmd = \"\\\"text: '\";\n    cmd += msg.payload.say.replace(\"'\",\"\");\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    empty = {}\n    empty.payload = \"\";\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":630,"y":480,"wires":[["77c85bb2.2cd55c","471eb797.72814","93504010.b0fb4"]]},{"id":"a3ed5382.6a6358","type":"debug","z":"52b5890c.deb9e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":580,"y":540,"wires":[]},{"id":"a10040ee.523cb8","type":"http in","z":"52b5890c.deb9e8","name":"","url":"/roboysays","method":"get","upload":false,"swaggerDoc":"","x":420,"y":480,"wires":[["74acc909.c219e","a3ed5382.6a6358"]]},{"id":"3c1d9b8d.2f48bc","type":"function","z":"52b5890c.deb9e8","name":"simple_parse_text","func":"cmd = \"\\\"text: '\";\ncmd += msg.payload\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":632,"y":1118,"wires":[["77c85bb2.2cd55c"]]},{"id":"255386e8.ffb712","type":"function","z":"52b5890c.deb9e8","name":"change_mode","func":"// cmd = \"mode: \" + msg.payload + \"\\n\" + \"duration: 0\" ;\n// //cmd += \"'\\\"\";\ncmd = \"\\\"mode: 0\\n duration: 0\\\"\";\nmsg.payload = cmd;\nreturn msg;\n","outputs":1,"noerr":0,"x":1098.75,"y":1008.75,"wires":[[]]},{"id":"ce665cdb.3cbf5","type":"exec","z":"52b5890c.deb9e8","command":". ~/hug.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1199.75,"y":1266.75,"wires":[[],[],[]]},{"id":"142ba518.845613","type":"http in","z":"52b5890c.deb9e8","name":"","url":"/hugroboy","method":"get","upload":false,"swaggerDoc":"","x":992.75,"y":1177.75,"wires":[["ce665cdb.3cbf5","ab4c5673.4427d8","12a5424f.834c2e"]]},{"id":"ab4c5673.4427d8","type":"http response","z":"52b5890c.deb9e8","name":"","statusCode":"","headers":{},"x":1162.75,"y":1177.75,"wires":[]},{"id":"12a5424f.834c2e","type":"http request","z":"52b5890c.deb9e8","name":"","method":"GET","ret":"txt","url":"https://i.gi.ai/roboy/recordhug","tls":"","x":1222.75,"y":1117.75,"wires":[["693db768.b19fb8"]]},{"id":"87e6c0b7.704e38","type":"ui_template","z":"52b5890c.deb9e8","group":"6831354a.a3846c","name":"emoji","order":1,"width":5,"height":12,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name='viewport' content='width=device-width, initial-scale=1' charset='utf-8'>\n<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>\n<link href=\"https://afeld.github.io/emoji-css/emoji.css\" rel=\"stylesheet\">\n<style>\n.btn-group .button {\n  background-color: #465572; /* Roboy blue */\n  border: 3px solid white;\n  color: white;\n  padding: 15px 30px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 25px;\n  cursor: pointer;\n  float: left;\n  border-radius: 15px;\n\n}\n\n.btn-group .button:not(:last-child) {\n  border-right: none; /* Prevent double borders */\n}\n\n.btn-group .button:hover {\n  background-color: #5C677C;\n}\n</style>\n</head>\n<body>\n\n\n<div class=\"btn-group\"  >\n  <button ng-click=\"send({payload: 'kiss'})\" class=\"button\"><i class=\"em em-kissing\"></i></button>\n  <button ng-click=\"send({payload: 'shy'})\" class=\"button\"><i class=\"em em-flushed\"></i></button>\n  <button ng-click=\"send({payload: 'hearts'})\" class=\"button\"><i class=\"em em-heart_eyes\"></i></button>\n  <button ng-click=\"send({payload: 'smileblink'})\" class=\"button\"><i class=\"em em-wink\"></i></button>\n  <button ng-click=\"send({payload: 'rolling'})\" class=\"button\"><i class=\"em em-face_with_rolling_eyes\"></i></button>\n  <button ng-click=\"send({payload: 'surprise'})\" class=\"button\"><i class=\"em em-astonished\"></i></button>\n  <button ng-click=\"send({payload: 'angry'})\" class=\"button\"><i class=\"em em-rage\"></i></button>\n  <button ng-click=\"send({payload: 'lucky'})\" class=\"button\"><i class=\"em em-blush\"></i></button>\n  <button ng-click=\"send({payload: 'teeth'})\" class=\"button\"><i class=\"em em-grimacing\"></i></button>\n  <button ng-click=\"send({payload: 'tongue'})\" class=\"button\"><i class=\"em em-stuck_out_tongue\"></i></button>\n  <button ng-click=\"send({payload: 'img:money'})\" class=\"button\"><i class=\"em em-moneybag\"></i></button>\n  <button ng-click=\"send({payload: 'pissed'})\" class=\"button\"><i class=\"em em-persevere\"></i></button>\n  <!--<button ng-click=\"send({payload: 'cry'})\" class=\"button\"><i class=\"em em-cry\"></i></button>-->\n  <button ng-click=\"send({payload: 'hypno_color'})\" class=\"button\"><i class=\"em em-rainbow\"></i></button>\n  <button ng-click=\"send({payload: 'hypno'})\" class=\"button\"><i class=\"em em-heavy_multiplication_x\"></i></button>\n  <button ng-click=\"send({payload: 'lookleft'})\" class=\"button\"><i class=\"em em-point_left\"></i></button>\n  <button ng-click=\"send({payload: 'lookright'})\" class=\"button\"><i class=\"em em-point_right\"></i></button>\n\n</div>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":161.25,"y":103.75,"wires":[["f1385161.95f248"]]},{"id":"9fa76011.6ca5f","type":"ui_switch","z":"52b5890c.deb9e8","name":"","label":"Pirate","tooltip":"","group":"6831354a.a3846c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"pirate","onvalueType":"str","onicon":"","oncolor":"","offvalue":"pirate","offvalueType":"str","officon":"","offcolor":"","x":162,"y":151,"wires":[["f1385161.95f248"]]},{"id":"7e368b4a.0bf6bc","type":"ui_switch","z":"52b5890c.deb9e8","name":"","label":"Pink glasses","tooltip":"","group":"6831354a.a3846c","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"sunglasses_on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"sunglasses_on","offvalueType":"str","officon":"","offcolor":"","x":182,"y":200,"wires":[["f1385161.95f248"]]},{"id":"654309d8.00a438","type":"ui_switch","z":"52b5890c.deb9e8","name":"","label":"Moustache","tooltip":"","group":"6831354a.a3846c","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"moustache","onvalueType":"str","onicon":"","oncolor":"","offvalue":"moustache","offvalueType":"str","officon":"","offcolor":"","x":180,"y":245,"wires":[["f1385161.95f248"]]},{"id":"e417796.bbe9e88","type":"ui_text_input","z":"52b5890c.deb9e8","name":"","label":"English text..","tooltip":"","group":"e090dfb5.0fde9","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":167,"y":740,"wires":[["1ca39831.136b98"]]},{"id":"97b027cb.4a66c8","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"94078f0e.9efad8","order":2,"width":0,"height":0,"passthru":false,"label":"Vision","tooltip":"","color":"","bgcolor":"","icon":"","payload":"vision","payloadType":"str","topic":"","x":131,"y":899,"wires":[["e3ad8301.40f0f"]]},{"id":"448314e1.febf4c","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"94078f0e.9efad8","order":1,"width":0,"height":0,"passthru":false,"label":"Mission","tooltip":"","color":"","bgcolor":"","icon":"","payload":"mission","payloadType":"str","topic":"","x":139,"y":939,"wires":[["e3ad8301.40f0f"]]},{"id":"44f0ec8f.8f255c","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"94078f0e.9efad8","order":9,"width":0,"height":0,"passthru":false,"label":"Brain","tooltip":"","color":"","bgcolor":"","icon":"","payload":"brain","payloadType":"str","topic":"","x":128,"y":1016,"wires":[["e3ad8301.40f0f"]]},{"id":"7070b097.498b38","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"94078f0e.9efad8","order":3,"width":0,"height":0,"passthru":false,"label":"Goal","tooltip":"","color":"","bgcolor":"","icon":"","payload":"goal","payloadType":"str","topic":"","x":128,"y":975,"wires":[["e3ad8301.40f0f"]]},{"id":"efac1625.29f32","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"94078f0e.9efad8","order":8,"width":0,"height":0,"passthru":false,"label":"how built","tooltip":"","color":"","bgcolor":"","icon":"","payload":"built","payloadType":"str","topic":"","x":134,"y":1054,"wires":[["e3ad8301.40f0f"]]},{"id":"343c4159.102fa6","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"94078f0e.9efad8","order":6,"width":0,"height":0,"passthru":false,"label":"i'm bioinspired","tooltip":"","color":"","bgcolor":"","icon":"","payload":"bioinspired","payloadType":"str","topic":"","x":161,"y":1099,"wires":[["e3ad8301.40f0f"]]},{"id":"925e0e98.153ff8","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"94078f0e.9efad8","order":7,"width":0,"height":0,"passthru":false,"label":"i'm 3D printed","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3dprinted","payloadType":"str","topic":"","x":164,"y":1143,"wires":[["e3ad8301.40f0f"]]},{"id":"9d521798.fc226","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"94078f0e.9efad8","order":4,"width":0,"height":0,"passthru":false,"label":"i'm open-source","tooltip":"","color":"","bgcolor":"","icon":"","payload":"open-source","payloadType":"str","topic":"","x":159,"y":1195,"wires":[["e3ad8301.40f0f"]]},{"id":"d3ef6440.d2969","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"88c99838.3bee8","order":1,"width":0,"height":0,"passthru":false,"label":"take a selfie","tooltip":"","color":"","bgcolor":"","icon":"","payload":"selfie","payloadType":"str","topic":"","x":155,"y":1249,"wires":[["e3ad8301.40f0f"]]},{"id":"1374d8ac.c8f8cf","type":"exec","z":"52b5890c.deb9e8","command":"rostopic pub -1 /roboy/control/matrix/leds/mode/simple std_msgs/Int32 \"data: 1\"  ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":589,"y":1488.0000009536743,"wires":[[],[],[]]},{"id":"6272892b.adde2","type":"exec","z":"52b5890c.deb9e8","command":"rostopic pub -1 /roboy/control/matrix/leds/off std_msgs/Empty \"{}\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":1540,"wires":[[],[],[]]},{"id":"9106f070.4d6da8","type":"exec","z":"52b5890c.deb9e8","command":"rostopic pub -1 /roboy/control/matrix/leds/mode/simple std_msgs/Int32 \"data: 2\"  ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":592.75,"y":1432.5,"wires":[[],[],[]]},{"id":"ed0fa634.f7737","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"b7f4bfd2.67f56","order":3,"width":0,"height":0,"passthru":false,"label":"hand Blink","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":129,"y":1432,"wires":[["1374d8ac.c8f8cf"]]},{"id":"c9508a.6e3c7f78","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"b7f4bfd2.67f56","order":4,"width":0,"height":0,"passthru":false,"label":"hand Snake pattern","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":153,"y":1484,"wires":[["9106f070.4d6da8"]]},{"id":"b017eb9f.f1fa5","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"b7f4bfd2.67f56","order":5,"width":0,"height":0,"passthru":false,"label":"hand Turn off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":139,"y":1543,"wires":[["6272892b.adde2"]]},{"id":"e702d06a.533a78","type":"ui_template","z":"52b5890c.deb9e8","group":"b7f4bfd2.67f56","name":"matrix","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nimg {\n  display: block;\n  margin-left: auto;\n  margin-right: auto;\n}\n</style>\n</head>\n<body>\n\n<img src=\"https://www.matrix.one/assets/imgs/products/creator/device.png\" alt=\"matrix\" class=\"center\" style=\"width:60px;height:60px;\">\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":104,"y":1379,"wires":[[]]},{"id":"d3e030b8.d2bac","type":"ui_switch","z":"1431d2dd.0bb8cd","name":"","label":"face","tooltip":"","group":"fcbf351c.ddfb58","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"face","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":122,"y":173,"wires":[["d5ad43f8.b41fc8"]]},{"id":"d5ad43f8.b41fc8","type":"function","z":"1431d2dd.0bb8cd","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"roslaunch roboy_skill_machine face.launch\"\n}\nelse {\n    cmd = \"rosnode kill /unity_face /rosbridge\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":160,"wires":[["af90a660.9a5eb8"]]},{"id":"5bf4d417.030d74","type":"ui_switch","z":"1431d2dd.0bb8cd","name":"","label":"roscore","tooltip":"","group":"fcbf351c.ddfb58","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"roscore","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":141,"y":101,"wires":[["82193172.4a29c"]]},{"id":"82193172.4a29c","type":"function","z":"1431d2dd.0bb8cd","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"roscore\"\n}\nelse {\n    cmd = \"killall roscore\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":316,"y":104,"wires":[["9a77d474.b698d"]]},{"id":"cae0cc45.102ab","type":"function","z":"1431d2dd.0bb8cd","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"roslaunch roboy_skill_machine matrix_speech_synthesis.launch\"\n}\nelse {\n    cmd = \"rosnode kill /speech_synthesisd\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":358,"y":233,"wires":[["7d7f8624.8c4c"]]},{"id":"e55d4221.bdd42","type":"function","z":"1431d2dd.0bb8cd","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"roslaunch roboy_skill_machine matrix_leds.launch\"\n}\nelse {\n    cmd = \"rosnode kill /leds\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":328,"y":299,"wires":[["9d4be8f1.5b2ce8"]]},{"id":"3ff07b91.5b5624","type":"function","z":"1431d2dd.0bb8cd","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"roslaunch roboy_skill_machine matrix_audioplayer.launch\"\n}\nelse {\n    cmd = \"rosnode kill /audioplayer\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":336,"y":362,"wires":[["ee1f209.cca1ce"]]},{"id":"9a77d474.b698d","type":"exec","z":"1431d2dd.0bb8cd","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":609,"y":112.5,"wires":[[],["eb5793f1.1ca1d"],[]]},{"id":"af9684fc.a3a66","type":"function","z":"1431d2dd.0bb8cd","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"roslaunch roboy_skill_machine local_audioplayer.launch\"\n}\nelse {\n    cmd = \"rosnode kill /audioplayer\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["56b0eb88.bf1d9c"]]},{"id":"af90a660.9a5eb8","type":"exec","z":"1431d2dd.0bb8cd","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":610,"y":160,"wires":[[],["eb5793f1.1ca1d"],[]]},{"id":"7d7f8624.8c4c","type":"exec","z":"1431d2dd.0bb8cd","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":610,"y":240,"wires":[[],[],[]]},{"id":"9d4be8f1.5b2ce8","type":"exec","z":"1431d2dd.0bb8cd","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":603,"y":290,"wires":[[],["eb5793f1.1ca1d"],[]]},{"id":"ee1f209.cca1ce","type":"exec","z":"1431d2dd.0bb8cd","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":600,"y":352,"wires":[[],[],[]]},{"id":"56b0eb88.bf1d9c","type":"exec","z":"1431d2dd.0bb8cd","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":602,"y":418,"wires":[[],[],[]]},{"id":"b1e7ae36.9c4a4","type":"ui_switch","z":"52b5890c.deb9e8","name":"","label":"Cry","tooltip":"","group":"6831354a.a3846c","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"cry","onvalueType":"str","onicon":"","oncolor":"","offvalue":"cry","offvalueType":"str","officon":"","offcolor":"","x":158,"y":292,"wires":[["f1385161.95f248"]]},{"id":"12edc2cd.a43c55","type":"function","z":"1431d2dd.0bb8cd","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"roslaunch roboy_skill_machine face_oracle.launch\"\n}\nelse {\n    cmd = \"rosnode kill /face_oracle\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":337,"y":483,"wires":[["604b577.d9f7ca8"]]},{"id":"604b577.d9f7ca8","type":"exec","z":"1431d2dd.0bb8cd","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":606,"y":478,"wires":[[],[],[]]},{"id":"f1ef1efb.dbf3d","type":"function","z":"1431d2dd.0bb8cd","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"ssh root@192.168.0.220 -t \\\"bash -ic 'source ~/.bashrc && ./roboy_plexus'\\\"\";\n}\nelse {\n    cmd = \"rosnode kill /roboy_fpga_unknown_00_00_f3_be_ef_ff\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":545,"wires":[["682ee32.8ffda9c"]]},{"id":"682ee32.8ffda9c","type":"exec","z":"1431d2dd.0bb8cd","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":613,"y":548,"wires":[[],[],[]]},{"id":"96d9a586.fa8ff8","type":"function","z":"1431d2dd.0bb8cd","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"ssh root@192.168.0.220 -t \\\"bash -ic 'source ~/.bashrc && ./roboy_plexus'\\\"\";\n}\nelse {\n    cmd = \"rosnode kill /roboy_fpga_unknown_00_00_f3_be_ef_ff\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":347,"y":602,"wires":[["d76faf0f.8445f8"]]},{"id":"d76faf0f.8445f8","type":"exec","z":"1431d2dd.0bb8cd","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":610,"y":605,"wires":[[],[],[]]},{"id":"469d2eb2.b2d5c","type":"ui_template","z":"286b81b2.8be5f6","group":"81fa96a1.275438","name":"MJPEG stream","order":0,"width":"27","height":"21","format":"<html>\n<head>\n<title>My Web Page</title>\n</head>\n<body>\n<img src=\"http://127.0.0.1:8088/cam.mjpg\">\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":136,"y":194,"wires":[[]]},{"id":"bee4124e.e427d","type":"function","z":"52b5890c.deb9e8","name":"parse_text","func":"// if(msg.payload.slice(-1) == \".\"){\n    cmd = \"\\\"text: '\";\n    cmd += msg.payload.replace(\"'\",\"\");\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    empty = {}\n    empty.payload = \"\";\n    return [msg, empty];\n// }","outputs":2,"noerr":0,"x":348,"y":2294,"wires":[["d46ae2df.0543d"],["a3b57392.d3b77"]]},{"id":"d46ae2df.0543d","type":"exec","z":"52b5890c.deb9e8","command":"rosservice call /roboy/cognition/speech/synthesis/talk/german ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":863,"y":2386,"wires":[[],[],[]]},{"id":"a3b57392.d3b77","type":"delay","z":"52b5890c.deb9e8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":231,"y":2203,"wires":[["989ff3ac.61a31"]]},{"id":"eed78732.2183e8","type":"function","z":"52b5890c.deb9e8","name":"parse_text","func":"cmd = \"\\\"text: '\";\nif(msg.topic == \"oclock\"){\n    \n    global.set(\"oclock\", msg.payload); \n    msg = {};\n    return msg;\n    \n}\nelse if(msg.topic == \"speak\") {\n    cmd += \"Hello everzone and welcome to Hanover Fair. Wanna see me in action? I will be showing off at \";\n    cmd += global.get(\"oclock\");\n    cmd += \" 30 oclock. Come by and witness my capabilities with your own eyes!\";\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    return msg;\n    \n}\n\n","outputs":1,"noerr":0,"x":373,"y":2366,"wires":[["d46ae2df.0543d"]]},{"id":"989ff3ac.61a31","type":"ui_text_input","z":"52b5890c.deb9e8","name":"","label":"German text..","tooltip":"","group":"e090dfb5.0fde9","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":200,"y":2346,"wires":[["bee4124e.e427d"]]},{"id":"7fa1c114.6e69","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"eaaa7bbf.50dcf8","order":1,"width":0,"height":0,"passthru":false,"label":"Do hug","tooltip":"","color":"white","bgcolor":"pink","icon":"","payload":"","payloadType":"str","topic":"","x":910,"y":1276,"wires":[["ce665cdb.3cbf5","31d3b0ba.f6af"]]},{"id":"f47ece7c.663d6","type":"function","z":"52b5890c.deb9e8","name":"simple_parse_text","func":"cmd = \"\\\"text: '\";\ncmd += msg.payload\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":822.8889026641846,"y":3158.4442653656006,"wires":[["b2126ce6.636a1"]]},{"id":"b2126ce6.636a1","type":"exec","z":"52b5890c.deb9e8","command":"rosservice call /roboy/cognition/speech/synthesis/talk/german ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":889.7778091430664,"y":2544.8889331817627,"wires":[[],[],[]]},{"id":"f94836b6.590bb8","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"3b881a91.d91036","order":1,"width":0,"height":0,"passthru":false,"label":"Selfie","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Komm schon, mach einen Selfie mit mir, ich denke, wir werden zusammen toll aussehen.","payloadType":"str","topic":"","x":287.33333587646484,"y":2502.0000467300415,"wires":[["f47ece7c.663d6"]]},{"id":"cecea068.96ef6","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"3b881a91.d91036","order":2,"width":0,"height":0,"passthru":false,"label":"fotos","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Ich liebe es, Fotos zu machen, nimm dein Handy und mach ein Selfie zusammen mit mir.","payloadType":"str","topic":"","x":287.77777099609375,"y":2544.4443359375,"wires":[["f47ece7c.663d6"]]},{"id":"8bdd42fd.a7ff","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"3b881a91.d91036","order":3,"width":0,"height":0,"passthru":false,"label":"foto","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Magst du es, Fotos zu machen, so sehr wie ich? Ich würde nicht nein zu einem Foto mit dir sagen.","payloadType":"str","topic":"","x":289.99996185302734,"y":2585.555576324463,"wires":[["f47ece7c.663d6"]]},{"id":"64812116.dd595","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"c6c883d9.94b1e","order":1,"width":0,"height":0,"passthru":false,"label":"3d gedruckt","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Mein Körper is beinahe komplett 3D gedruckt. Mit Hilfe von über 50 Motoren kann ich ihn bewegen. Ich kann sehen, hören und bald auch Ihre Berührungen spüren.","payloadType":"str","topic":"","x":315.5555419921875,"y":2756.66650390625,"wires":[["f47ece7c.663d6"]]},{"id":"2b0efa0a.ee0366","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"c6c883d9.94b1e","order":2,"width":0,"height":0,"passthru":false,"label":"in tum gebaut","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Wussten Sie schon, dass ich von einem Team der Technischen Universität München entwickelt wurde? Das hat gerade mal 4 Monate gedauert. Dann noch einen Monat Zusammenbauen und schon war ich fertig. Seit dem lerne ich jeden Tag etwas Neues.","payloadType":"str","topic":"","x":316.6666564941406,"y":2800,"wires":[["f47ece7c.663d6"]]},{"id":"bef1f6a9.cd1398","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"80b704e6.d6c7f8","order":1,"width":0,"height":0,"passthru":false,"label":"großartiger Tag","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Guten Morgen, willkommen zu Sensor and Test! Geniess deinen Aufenthalt, es wird ein großartiger Tag!","payloadType":"str","topic":"","x":317.77777099609375,"y":2917.777587890625,"wires":[["f47ece7c.663d6"]]},{"id":"61dacc2e.53da84","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"c6c883d9.94b1e","order":3,"width":0,"height":0,"passthru":false,"label":"fahrrad","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Also bin ich ein sehr grüner Roboter, nicht nach Farbton, sondern weil ich auch Fahrrad fahren kann","payloadType":"str","topic":"","x":297.77777099609375,"y":2961.111083984375,"wires":[["f47ece7c.663d6"]]},{"id":"950e5694.b4f8d8","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"80b704e6.d6c7f8","order":2,"width":0,"height":0,"passthru":false,"label":"wie gehts","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Wie geht es dir?","payloadType":"str","topic":"","x":301.111083984375,"y":3002.22216796875,"wires":[["f47ece7c.663d6"]]},{"id":"9a5ba484.9c5b08","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"c6c883d9.94b1e","order":4,"width":0,"height":0,"passthru":false,"label":"Muskel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Mein Körper hat eine menschenähnliche Struktur. Ich habe Muskeln und Sehnen, genau wie die Menschen. Du kannst diese Schnüre auf meiner Schulter sehen, die mit dem künstlichen Muskel verbunden sind. Mein Team hat diese Muskeln für mich entworfen und produziert.","payloadType":"str","topic":"","x":306.6666564941406,"y":3043.333251953125,"wires":[["f47ece7c.663d6"]]},{"id":"d5244359.cc3f3","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"c6c883d9.94b1e","order":5,"width":0,"height":0,"passthru":false,"label":"Eiscreme","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Im August soll ich Eiscreme verkaufen und meine Freunde an der Uni Muenchen bringen mir das gerade bei. Noch in der Simulation, aber hoffentlich bald dann auch in Echt.","payloadType":"str","topic":"","x":304.4444274902344,"y":3087.777587890625,"wires":[["f47ece7c.663d6"]]},{"id":"cfaaf1b7.a31e1","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"c6c883d9.94b1e","order":6,"width":0,"height":0,"passthru":false,"label":"Gehirn","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Mein Gehirn hat drei Schichten. Das erste basiert auf Regeln, ich muss irgendwie auf Schlüsselwörter und Situationen reagieren - sehr nützlich auf der Bühne, weniger nützlich, um zu reagieren und selbstständig zu denken. Die zweite Schicht ist der Zugriff auf Datenbanken - wie Wikipedia oder mein eigenes Gedächtnis - und ist in der Lage, über den Inhalt nachzudenken. So kann ich Wissen kombinieren und Fakten ableiten. Lassen Sie mich ein Beispiel geben: Wenn Sie mich fragen, wer der Ehemann der Kanzlerin von Deutschland ist, kann ich zuerst nachschauen, dass Angela Merkel die Kanzlerin ist, und dann kann ich sehen, dass sie einen Mann hat, und dann komme ich zu Joachim Sauer und gebe Ihnen seinen Namen. Schließlich ist die dritte Schicht ein tiefes neuronales Netzwerk, in dem ich von Filmuntertiteln lerne, wie ihr Menschen typischerweise miteinander sprecht und meine eigenen Antworten macht - sehr unterhaltsam.","payloadType":"str","topic":"","x":296.6666564941406,"y":3177.777587890625,"wires":[["f47ece7c.663d6"]]},{"id":"cbdf9acf.952fd8","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"80b704e6.d6c7f8","order":3,"width":0,"height":0,"passthru":false,"label":"wie heisst du","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Habt ihr schon einmal einen Roboter gesehen? Ich heisse Roboy und wie heisst du?","payloadType":"str","topic":"","x":313.33331298828125,"y":3224.4443359375,"wires":[["f47ece7c.663d6"]]},{"id":"590e0e14.60ffb","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"c6c883d9.94b1e","order":7,"width":0,"height":0,"passthru":false,"label":"Bruder","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Es gibt nicht viele Roboter, vor allem Humanoide. Ich habe einen älteren, kleineren Bruder, Roboy Junior, aber mein Team besteht aus mehr als 50 Menschen - da haben wir es also, wir brauchen noch viel mehr Roboter.","payloadType":"str","topic":"","x":294.4444274902344,"y":3446.66650390625,"wires":[["f47ece7c.663d6"]]},{"id":"b1670b18.bf50c8","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"c6c883d9.94b1e","order":8,"width":0,"height":0,"passthru":false,"label":"liebe Menschen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Offensichtlich liebe ich Menschen! Sie haben mich gebaut und sind so unterhaltsam und nett. Wann immer ich etwas zerbreche, reparieren sie mich - erstaunlich!","payloadType":"str","topic":"","x":333.33331298828125,"y":3485.555419921875,"wires":[["f47ece7c.663d6"]]},{"id":"d0acdf3f.aa1d8","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"c6c883d9.94b1e","order":9,"width":0,"height":0,"passthru":false,"label":"open source","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Um eine uneingeschränkte Entwicklung zu gewährleisten, halten wir alle Ergebnisse Open Source. Und wir beeinflussen aktiv die öffentliche Wahrnehmung der Robotik, um den kulturellen Boden für unsere Innovationen durch öffentliche Ausstellungen, Kunst und öffentliche Reden zu ebnen.","payloadType":"str","topic":"","x":322.2221908569336,"y":3534.4442043304443,"wires":[["f47ece7c.663d6"]]},{"id":"a6ccf930.440988","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"c6c883d9.94b1e","order":10,"width":0,"height":0,"passthru":false,"label":"Plattform","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Wir schaffen eine biologisch inspirierte Plattform für die Roboterentwicklung, die Studenten, Forscher, Unternehmen und Künstler aus einem breiten Spektrum von Disziplinen vereint.","payloadType":"str","topic":"","x":318.8888854980469,"y":3584.4443359375,"wires":[["f47ece7c.663d6"]]},{"id":"47316fed.946ff","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"80b704e6.d6c7f8","order":4,"width":0,"height":0,"passthru":false,"label":"ich bin roboy","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ich bin roboy","payloadType":"str","topic":"","x":335.5555419921875,"y":3631.111083984375,"wires":[["f47ece7c.663d6"]]},{"id":"42f602ef.5177ec","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"80b704e6.d6c7f8","order":5,"width":0,"height":0,"passthru":false,"label":"sehr gut","tooltip":"","color":"","bgcolor":"","icon":"","payload":"sehr gut","payloadType":"str","topic":"","x":313.3332977294922,"y":3676.6666221618652,"wires":[["f47ece7c.663d6"]]},{"id":"55e4a24d.f633fc","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"80b704e6.d6c7f8","order":6,"width":0,"height":0,"passthru":false,"label":"JA KLAR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ja klar","payloadType":"str","topic":"","x":313.33331298828125,"y":3723.333251953125,"wires":[["f47ece7c.663d6"]]},{"id":"d8f5360e.b96dc8","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"eaaa7bbf.50dcf8","order":2,"width":0,"height":0,"passthru":false,"label":"umarme mich","tooltip":"","color":"","bgcolor":"","icon":"","payload":"willst du eine umarmung? steig auf die stufe und umarme mich","payloadType":"str","topic":"","x":338.8888854980469,"y":3763.333251953125,"wires":[["f47ece7c.663d6"]]},{"id":"ad32b911.44d738","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"80b704e6.d6c7f8","order":7,"width":0,"height":0,"passthru":false,"label":"beisse nicht","tooltip":"","color":"","bgcolor":"","icon":"","payload":"komm her, ich beisse nicht","payloadType":"str","topic":"","x":321.111083984375,"y":3811.1107473373413,"wires":[["f47ece7c.663d6"]]},{"id":"5cf7af94.6be6a","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"80b704e6.d6c7f8","order":8,"width":0,"height":0,"passthru":false,"label":" viele roboter ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"hast du schon viele roboter kennen gelernt?","payloadType":"str","topic":"","x":328.8888854980469,"y":3861.11083984375,"wires":[["f47ece7c.663d6"]]},{"id":"b1121f30.6f031","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"eaaa7bbf.50dcf8","order":3,"width":0,"height":0,"passthru":false,"label":"profi","tooltip":"","color":"","bgcolor":"","icon":"","payload":"du bist echt ein profi in umarmung","payloadType":"str","topic":"","x":305.5555419921875,"y":3906.66650390625,"wires":[["f47ece7c.663d6"]]},{"id":"81901c48.d9b64","type":"function","z":"52b5890c.deb9e8","name":"simple_parse_text","func":"cmd = \"\\\"text: '\";\ncmd += msg.payload\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":4100,"wires":[["4998c318.c75d1c"]]},{"id":"4998c318.c75d1c","type":"exec","z":"52b5890c.deb9e8","command":"rosservice call /roboy/cognition/speech/synthesis/talk ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1000,"y":4100,"wires":[[],[],[]]},{"id":"b5d2ab87.b8d0e8","type":"http request","z":"52b5890c.deb9e8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://i.gi.ai/roboy/recordhug","tls":"","proxy":"","x":1209,"y":1318,"wires":[["6465e584.19084c"]]},{"id":"31d3b0ba.f6af","type":"function","z":"52b5890c.deb9e8","name":"","func":"msg.rejectUnauthorized = false;\nreturn msg;","outputs":1,"noerr":0,"x":1059,"y":1319,"wires":[["b5d2ab87.b8d0e8"]]},{"id":"837f3a72.556e08","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"94078f0e.9efad8","order":5,"width":0,"height":0,"passthru":false,"label":"infineon sensors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"infineonsensors","payloadType":"str","topic":"","x":164,"y":1295,"wires":[["e3ad8301.40f0f"]]},{"id":"b9629168.853e2","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"c175dd70.a141","order":1,"width":0,"height":0,"passthru":false,"label":"looking great","tooltip":"","color":"","bgcolor":"","icon":"","payload":"You are looking great today!","payloadType":"str","topic":"","x":149,"y":4056,"wires":[["81901c48.d9b64"]]},{"id":"1b80c6e9.2fd399","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"eaaa7bbf.50dcf8","order":4,"width":0,"height":0,"passthru":false,"label":"come hug me","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hey come here and give me a hug.","payloadType":"str","topic":"","x":154,"y":4012,"wires":[["81901c48.d9b64"]]},{"id":"8daddf88.0e27b","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"eaaa7bbf.50dcf8","order":5,"width":0,"height":0,"passthru":false,"label":"dont bite","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Come closer, I dont bite.","payloadType":"str","topic":"","x":139,"y":4216,"wires":[["81901c48.d9b64"]]},{"id":"31e0b1f.5a8a54e","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"eaaa7bbf.50dcf8","order":6,"width":0,"height":0,"passthru":false,"label":"would like a hug","tooltip":"","color":"","bgcolor":"","icon":"","payload":"i would really enjoy a hug  from you right now.","payloadType":"str","topic":"","x":161,"y":4128,"wires":[["81901c48.d9b64"]]},{"id":"1c18144e.04af0c","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"c175dd70.a141","order":2,"width":0,"height":0,"passthru":false,"label":"sensor & test","tooltip":"","color":"","bgcolor":"","icon":"","payload":"how do you like sensor test so far? did you find something interesting?","payloadType":"str","topic":"","x":149,"y":4167,"wires":[["81901c48.d9b64"]]},{"id":"658e04ab.46fcec","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"eaaa7bbf.50dcf8","order":7,"width":0,"height":0,"passthru":false,"label":"compliment hug","tooltip":"","color":"","bgcolor":"","icon":"","payload":"hugcompliment","payloadType":"str","topic":"","x":166,"y":858,"wires":[["e3ad8301.40f0f"]]},{"id":"a87185a1.f0d018","type":"exec","z":"52b5890c.deb9e8","command":"rostopic pub -1 /roboy/control/matrix/leds/mode/simple std_msgs/Int32 \"data: 4\"  ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":601,"y":1628,"wires":[[],[],[]]},{"id":"adf79a9.3658368","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"b7f4bfd2.67f56","order":2,"width":0,"height":0,"passthru":false,"label":"hand rainbow","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":145,"y":1633,"wires":[["a87185a1.f0d018"]]},{"id":"59c932a5.7b634c","type":"ui_template","z":"a3d75715.5da158","group":"3d3fdb49.6047e4","name":"","order":1,"width":18,"height":10,"format":"<!--<!DOCTYPE html>-->\n<!--<html>-->\n<!--<head>-->\n<!--<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">-->\n<!--<style>-->\n  <!--/*width: 100%;*/-->\n<!--  height: auto;-->\n  <!--/* Magic! */-->\n<!--  max-width: 5vw;-->\n<!--</style>-->\n<!--</head>-->\n\n<!--<body>-->\n\n<!--<h2>Images on Another Server</h2>-->\n\n<!--<img src=\"http://bot.roboy.org:8081/~roboy/photoboy/pic0001.jpeg\" >-->\n\n<!--</body>-->\n<!--</html>-->\n\n<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nimg {\n  display: block;\n  margin-left: auto;\n  margin-right: auto;\n}\n</style>\n</head>\n<body>\n\n<img src=\"https://bot.roboy.org//{{msg.payload}}.jpeg\" alt=\"photoboy\" class=\"center\">\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":728,"y":115,"wires":[[]]},{"id":"17f2074b.8e4819","type":"exec","z":"a3d75715.5da158","command":"rosparam get /snapchat/latest_filename","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":422,"y":163.5,"wires":[["59c932a5.7b634c","ada7bb21.4264c8","d91b1abd.497258","eeb560ad.6a49c","49697f6.ce10d8"],[],[]]},{"id":"2a2da4c9.033ecc","type":"inject","z":"a3d75715.5da158","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":124,"y":161,"wires":[["17f2074b.8e4819"]]},{"id":"ada7bb21.4264c8","type":"ui_template","z":"a3d75715.5da158","group":"6c3556d7.ece548","name":"","order":1,"width":5,"height":4,"format":"<!--<!DOCTYPE html>-->\n<!--<html>-->\n<!--<head>-->\n<!--<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">-->\n<!--<style>-->\n  <!--/*width: 100%;*/-->\n<!--  height: auto;-->\n  <!--/* Magic! */-->\n<!--  max-width: 5vw;-->\n<!--</style>-->\n<!--</head>-->\n\n<!--<body>-->\n\n<!--<h2>Images on Another Server</h2>-->\n\n<!--<img src=\"http://bot.roboy.org:8081/~roboy/photoboy/pic0001.jpeg\" >-->\n\n<!--</body>-->\n<!--</html>-->\n\n<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nimg {\n  display: block;\n  margin-left: auto;\n  margin-right: auto;\n}\n</style>\n</head>\n\n<body>\n<img src=\"https://bot.roboy.org/qr_{{msg.payload}}.png\" alt=\"photoboy\" class=\"center\">\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":728,"y":168,"wires":[[]]},{"id":"d91b1abd.497258","type":"function","z":"a3d75715.5da158","name":"","func":"var f = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm, \"\");\nf = f.replace(/\\s/g, '');\nflow.set(\"filename\",f);","outputs":1,"noerr":0,"x":732.5,"y":221,"wires":[[]]},{"id":"e0fe8528.a33f28","type":"exec","z":"a3d75715.5da158","command":"rostopic pub -1  /roboy/cognition/apply_filter std_msgs/String \"data: '","addpay":true,"append":"'\"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":630.5,"y":550.5,"wires":[[],[],[]]},{"id":"1ca49c4b.659984","type":"ui_template","z":"a3d75715.5da158","group":"d434410a.a993d","name":"","order":1,"width":5,"height":4,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name='viewport' content='width=device-width, initial-scale=1' charset='utf-8'>\n<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>\n<link href=\"https://afeld.github.io/emoji-css/emoji.css\" rel=\"stylesheet\">\n<style>\n.btn-group .button {\n  background-color: #465572; /* Roboy blue */\n  border: 3px solid white;\n  color: white;\n  padding: 40px 55px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 60px;\n  cursor: pointer;\n  float: center;\n  border-radius: 15px;\n\n}\n\n.btn-group .button:not(:last-child) {\n  border-right: none; /* Prevent double borders */\n}\n\n.btn-group .button:hover {\n  background-color: #5C677B;\n  /*background-color: #FFFFFF;*/\n} \n.btn-group .button:click {\nbackground-color: #FFFFFF;\n}\n</style>\n</head>\n<body>\n\n\n<div class=\"btn-group\"  >\n  <button ng-click=\"send({payload: 'Printing...'})\" class=\"button\"><i class=\"em em-printer\"></i></button>\n</div>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":103.5,"y":328,"wires":[["15a344e5.3af5ab"]]},{"id":"7b2fa70f.7050d8","type":"ui_toast","z":"a3d75715.5da158","position":"bottom right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Sent to print","x":453.5,"y":383,"wires":[]},{"id":"15a344e5.3af5ab","type":"function","z":"a3d75715.5da158","name":"","func":"msg1 = {};\nmsg1.payload = flow.get('filename');\nmsg2 = {};\nmsg2.payload = \"Printing...\"\nreturn [msg1,msg2]","outputs":2,"noerr":0,"x":267,"y":362,"wires":[["d0d7f1ec.fe15"],["7b2fa70f.7050d8"]]},{"id":"5de65a67.773734","type":"ui_switch","z":"a3d75715.5da158","name":"","label":"roboy","tooltip":"","group":"e0cbd0b1.b46ae","order":1,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"roboy","onvalueType":"str","onicon":"","oncolor":"","offvalue":"roboy","offvalueType":"str","officon":"","offcolor":"","x":128,"y":485,"wires":[["e0fe8528.a33f28"]]},{"id":"3bcde98.f00b616","type":"ui_switch","z":"a3d75715.5da158","name":"","label":"sunglasses","tooltip":"","group":"e0cbd0b1.b46ae","order":2,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"sunglasses","onvalueType":"str","onicon":"","oncolor":"","offvalue":"sunglasses","offvalueType":"str","officon":"","offcolor":"","x":151,"y":533,"wires":[["e0fe8528.a33f28"]]},{"id":"bd152dc6.e1f7","type":"ui_switch","z":"a3d75715.5da158","name":"","label":"hat","tooltip":"","group":"e0cbd0b1.b46ae","order":3,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"hat","onvalueType":"str","onicon":"","oncolor":"","offvalue":"hat","offvalueType":"str","officon":"","offcolor":"","x":130,"y":586,"wires":[["e0fe8528.a33f28"]]},{"id":"35042118.26164e","type":"ui_switch","z":"a3d75715.5da158","name":"","label":"flies","tooltip":"","group":"e0cbd0b1.b46ae","order":4,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"flies","onvalueType":"str","onicon":"","oncolor":"","offvalue":"flies","offvalueType":"str","officon":"","offcolor":"","x":139,"y":630,"wires":[["e0fe8528.a33f28"]]},{"id":"e48932d9.4c6ae","type":"ui_switch","z":"a3d75715.5da158","name":"","label":"crown","tooltip":"","group":"e0cbd0b1.b46ae","order":5,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"crown","onvalueType":"str","onicon":"","oncolor":"","offvalue":"crown","offvalueType":"str","officon":"","offcolor":"","x":127,"y":679,"wires":[["e0fe8528.a33f28"]]},{"id":"c239a627.a78078","type":"ui_switch","z":"a3d75715.5da158","name":"","label":"mustache","tooltip":"","group":"e0cbd0b1.b46ae","order":6,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"mustache","onvalueType":"str","onicon":"","oncolor":"","offvalue":"mustache","offvalueType":"str","officon":"","offcolor":"","x":129,"y":728,"wires":[["e0fe8528.a33f28"]]},{"id":"d0d7f1ec.fe15","type":"exec","z":"a3d75715.5da158","command":"rostopic pub -1  /roboy/cognition/print_photo std_msgs/String \"data: '","addpay":true,"append":"'\"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":598,"y":327,"wires":[[],[],[]]},{"id":"2790c89e.7f7d28","type":"ui_text","z":"1431d2dd.0bb8cd","group":"fcbf351c.ddfb58","order":12,"width":6,"height":6,"name":"","label":"Active nodes","format":"{{msg.payload}}","layout":"col-center","x":1230,"y":600,"wires":[]},{"id":"75957836.9dbff8","type":"exec","z":"1431d2dd.0bb8cd","command":"rosnode list","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":1030,"y":600,"wires":[["2790c89e.7f7d28"],["2790c89e.7f7d28"],[]]},{"id":"a9bf77f7.cc1d08","type":"inject","z":"1431d2dd.0bb8cd","name":"","topic":"","payload":"1","payloadType":"str","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":830,"y":580,"wires":[["75957836.9dbff8"]]},{"id":"be145694.906698","type":"function","z":"1431d2dd.0bb8cd","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"roslaunch roboy_skill_machine matrix_selfies.launch\"\n}\nelse {\n    cmd = \"rosnode kill /matrix_led_control /roboy_snapchat_filter\" // /selfie_hotwords\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":680,"wires":[["6994c9ba.d59a88"]]},{"id":"6994c9ba.d59a88","type":"exec","z":"1431d2dd.0bb8cd","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":610,"y":700,"wires":[[],["eb5793f1.1ca1d"],[]]},{"id":"5568f3d.f35b60c","type":"ui_switch","z":"1431d2dd.0bb8cd","name":"","label":"speech_english","tooltip":"","group":"fcbf351c.ddfb58","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"speech_english","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":780,"wires":[["be605bf.1926aa8"]]},{"id":"be605bf.1926aa8","type":"function","z":"1431d2dd.0bb8cd","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"rosrun soncreo google_TTS_srv_eng.py\"\n}\nelse {\n    cmd = \"rosnode kill /google_tts_en\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":780,"wires":[["e63065d1.1b9fa8"]]},{"id":"e63065d1.1b9fa8","type":"exec","z":"1431d2dd.0bb8cd","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":618,"y":787,"wires":[[],["5ee7c11a.0212e"],[]]},{"id":"3220134.bd1e6ec","type":"ui_switch","z":"1431d2dd.0bb8cd","name":"","label":"speech_german","tooltip":"","group":"fcbf351c.ddfb58","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"speech_german","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":880,"wires":[["b6f6e9a9.db6028"]]},{"id":"b6f6e9a9.db6028","type":"function","z":"1431d2dd.0bb8cd","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"rosrun soncreo google_TTS_srv_de.py\"\n}\nelse {\n    cmd = \"rosnode kill /google_tts_de\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":880,"wires":[["6c7a73b3.f1095c"]]},{"id":"6c7a73b3.f1095c","type":"exec","z":"1431d2dd.0bb8cd","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":618,"y":887,"wires":[[],[],[]]},{"id":"872d42bb.bc3eb","type":"ui_switch","z":"1431d2dd.0bb8cd","name":"","label":"speech_chinese","tooltip":"","group":"fcbf351c.ddfb58","order":5,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"speech_chineese","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":960,"wires":[["c626f85b.1d52b8"]]},{"id":"c626f85b.1d52b8","type":"function","z":"1431d2dd.0bb8cd","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"rosrun soncreo baidu_tts.py\"\n}\nelse {\n    cmd = \"rosnode kill /baidu_tts\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":960,"wires":[["c0f99904.230d08"]]},{"id":"c0f99904.230d08","type":"exec","z":"1431d2dd.0bb8cd","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":618,"y":967,"wires":[[],[],[]]},{"id":"17da58a9.91fc77","type":"ui_switch","z":"1431d2dd.0bb8cd","name":"","label":"matrix_selfies","tooltip":"","group":"fcbf351c.ddfb58","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"matrix_selfies","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":680,"wires":[["be145694.906698"]]},{"id":"eb5793f1.1ca1d","type":"ui_toast","z":"1431d2dd.0bb8cd","position":"dialog","displayTime":"5","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"error","x":1130,"y":440,"wires":[[]]},{"id":"b6122f1d.20391","type":"function","z":"52b5890c.deb9e8","name":"parse_text","func":"// if(msg.payload.slice(-1) == \".\"){\n    cmd = \"\\\"text: '\";\n    cmd += msg.payload.replace(\"'\",\"\");\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    empty = {}\n    empty.payload = \"\";\n    return [msg, empty];\n// }","outputs":2,"noerr":0,"x":330,"y":2020,"wires":[["6b396e5f.1c17c"],["e3827c7d.6f24e"]]},{"id":"6b396e5f.1c17c","type":"exec","z":"52b5890c.deb9e8","command":"rosservice call /roboy/cognition/speech/synthesis/talk/chinese","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":845,"y":2112,"wires":[[],[],[]]},{"id":"e3827c7d.6f24e","type":"delay","z":"52b5890c.deb9e8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":213,"y":1929,"wires":[["205d0bd7.dd65d4"]]},{"id":"205d0bd7.dd65d4","type":"ui_text_input","z":"52b5890c.deb9e8","name":"","label":"Chinese text..","tooltip":"","group":"e090dfb5.0fde9","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":182,"y":2072,"wires":[["b6122f1d.20391"]]},{"id":"b8e1e036.075e7","type":"ui_toast","z":"52b5890c.deb9e8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1200,"y":2240,"wires":[]},{"id":"5ee7c11a.0212e","type":"debug","z":"1431d2dd.0bb8cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":780,"wires":[]},{"id":"27b171e5.aedfbe","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"3b881a91.d91036","order":4,"width":0,"height":0,"passthru":false,"label":"take a photo","tooltip":"","color":"","bgcolor":"pink","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":4300,"wires":[["d065ec1e.6ad64"]]},{"id":"d065ec1e.6ad64","type":"exec","z":"52b5890c.deb9e8","command":"rostopic pub -1 /roboy/cognition/apply_filter std_msgs/String \"data: 'cheese'\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":580,"y":4300,"wires":[[],[],[]]},{"id":"c5146697.293468","type":"ui_text_input","z":"8aa37358.08beb","name":"","label":"English text..","tooltip":"","group":"6f290e93.9e80f","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"english","x":150,"y":420,"wires":[["9a78e098.6df5b"]]},{"id":"ed77c9f3.9428b8","type":"ui_text_input","z":"8aa37358.08beb","name":"","label":"Chinese text..","tooltip":"","group":"6f290e93.9e80f","order":5,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"chinese","x":160,"y":260,"wires":[["9a78e098.6df5b"]]},{"id":"eb70a0dc.f48bf","type":"ui_text_input","z":"8aa37358.08beb","name":"","label":"German text..","tooltip":"","group":"6f290e93.9e80f","order":6,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"german","x":140,"y":340,"wires":[["9a78e098.6df5b"]]},{"id":"7cea94be.9d18cc","type":"function","z":"8aa37358.08beb","name":"set-filename","func":"flow.set(\"synthesis/filename\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[[]]},{"id":"dc420109.56a5f","type":"python3-function","z":"8aa37358.08beb","name":"rospy-synthesis","func":"from roboy_cognition_msgs.srv import TalkToFile, TalkToFileRequest\nimport rospy\nprint(msg)\n# msg[\"payload\"] = \"df\"\nrospy.init_node(\"node_red\")\nlanguage = msg[\"payload\"][\"language\"]\nsrv = rospy.ServiceProxy(\"/roboy/cognition/speech/synthesis/save/\"+language, TalkToFile)\n\nreq = TalkToFileRequest()\nreq.text = msg[\"payload\"][\"text\"]\nreq.filename = msg[\"payload\"][\"filename\"]\nsrv(req)\nreturn msg","outputs":1,"x":660,"y":320,"wires":[["4fcfcfdb.8a29"]]},{"id":"9a78e098.6df5b","type":"function","z":"8aa37358.08beb","name":"config-synthesis","func":"text = msg.payload;\nmsg.payload = {};\nmsg.payload.text = text;\nmsg.payload.filename = flow.get(\"synthesis/filename\");\nmsg.payload.language = msg.topic;\nif (text !== \"\" || test !== null) {\n    msg2 = {};\n    msg2.payload = \"Synthesizing...\";\n    return [msg,msg2];\n}\nelse {\n    return msg\n}","outputs":2,"noerr":0,"x":440,"y":320,"wires":[["dc420109.56a5f"],["90d47a15.f5fc58"]]},{"id":"eb56af5e.d404f","type":"ui_text_input","z":"8aa37358.08beb","name":"","label":"Filename","tooltip":"","group":"6f290e93.9e80f","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":140,"y":120,"wires":[["7cea94be.9d18cc"]]},{"id":"d4daa382.4b571","type":"ui_text","z":"8aa37358.08beb","group":"6f290e93.9e80f","order":1,"width":0,"height":0,"name":"","label":"Saving to ","format":"{{msg.payload}}{{flow.get(\"synthesis/filename\")}}","layout":"col-center","x":940,"y":120,"wires":[]},{"id":"6333be36.4219a","type":"python3-function","z":"8aa37358.08beb","name":"get-path","func":"import rospkg\nrospack = rospkg.RosPack()\nmsg[\"payload\"] = rospack.get_path('soncreo')+'/generated/'\nreturn msg","outputs":1,"x":700,"y":120,"wires":[["d4daa382.4b571"]]},{"id":"a410fdc6.16004","type":"inject","z":"8aa37358.08beb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":530,"y":140,"wires":[["6333be36.4219a"]]},{"id":"4fcfcfdb.8a29","type":"function","z":"8aa37358.08beb","name":"notify-reset-fields","func":"msg.payload = \"\";\nmsg.reset = 1;\nmsg2 = {};\nname = flow.get(\"synthesis/filename\");\nif (name !== \"\") {\n    msg2.payload = \"Saved\";\n}\nelse {\n    msg2.payload = \"Did not save. Filename was not set\";\n}\nreturn [msg, msg2];","outputs":2,"noerr":0,"x":930,"y":320,"wires":[["ed77c9f3.9428b8","eb70a0dc.f48bf","c5146697.293468"],["90d47a15.f5fc58"]]},{"id":"90d47a15.f5fc58","type":"ui_toast","z":"8aa37358.08beb","position":"bottom right","displayTime":"3","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1110,"y":440,"wires":[]},{"id":"135dea48.642686","type":"ui_switch","z":"1431d2dd.0bb8cd","name":"","label":"sound_play","tooltip":"","group":"fcbf351c.ddfb58","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"sound_play","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":1080,"wires":[["af6f5347.7ac89"]]},{"id":"af6f5347.7ac89","type":"function","z":"1431d2dd.0bb8cd","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"rosrun sound_play replay.py\"\n}\nelse {\n    cmd = \"rosnode kill /sound_play_server\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1080,"wires":[["a979582a.ee04d8"]]},{"id":"a979582a.ee04d8","type":"exec","z":"1431d2dd.0bb8cd","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":638,"y":1087,"wires":[[],[],[]]},{"id":"28411888.9f1248","type":"python3-function","z":"52b5890c.deb9e8","name":"sound-play-client","func":"import rospy\nfrom roboy_cognition_msgs.srv import PlaySound, PlaySoundRequest\n\nrospy.init_node(\"nodered_sound_client\")\nsrv = rospy.ServiceProxy(\"/roboy/matrix/sound/play\", PlaySound)\n\nreq = PlaySoundRequest()\nreq.filepath = msg[\"payload\"][\"filename\"]\n#todo emotions\nsrv(req)\n\nreturn msg","outputs":1,"x":710,"y":4720,"wires":[[]]},{"id":"3745f356.9e653c","type":"python3-function","z":"52b5890c.deb9e8","name":"get-path","func":"import os\nimport rospkg\nfrom random import choice\n\nrospack = rospkg.RosPack()\npath = rospack.get_path('soncreo')+'/generated/'\nkeyword = msg[\"payload\"]\npath = path+keyword\nif os.path.exists(path):\n    files = [f for f in os.listdir(path) if os.path.isfile(os.path.join(path, f))]\n    msg[\"payload\"] = {\"filename\": path+'/'+choice(files)}\nelif os.path.exists(path+\".wav\"):\n    msg[\"payload\"] = {\"filename\": path+\".wav\"}\nreturn msg","outputs":1,"x":480,"y":4720,"wires":[["28411888.9f1248"]]},{"id":"5c3160f0.571f3","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"3b881a91.d91036","order":5,"width":0,"height":0,"passthru":false,"label":"Take a selfie","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"zh_selfie","payloadType":"str","topic":"","x":130,"y":4560,"wires":[["3745f356.9e653c"]]},{"id":"6c7716e0.fd3bd8","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"896ad6b3.744698","order":1,"width":0,"height":0,"passthru":false,"label":"3D printed","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"zh_3dprinted","payloadType":"str","topic":"","x":130,"y":4600,"wires":[["3745f356.9e653c"]]},{"id":"2cf56836.04d058","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"896ad6b3.744698","order":2,"width":0,"height":0,"passthru":false,"label":"human-like structure","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"zh_humanlike","payloadType":"str","topic":"","x":160,"y":4640,"wires":[["3745f356.9e653c"]]},{"id":"89b75609.516cb8","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"896ad6b3.744698","order":3,"width":0,"height":0,"passthru":false,"label":"designed","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"zh_designed","payloadType":"str","topic":"","x":120,"y":4680,"wires":[["3745f356.9e653c"]]},{"id":"84cdbf50.97e4","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"896ad6b3.744698","order":4,"width":0,"height":0,"passthru":false,"label":"roboy goal","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"zh_goal","payloadType":"str","topic":"","x":130,"y":4720,"wires":[["3745f356.9e653c"]]},{"id":"45377a67.c2aae4","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"896ad6b3.744698","order":5,"width":0,"height":0,"passthru":false,"label":"opensource","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"zh_opensource","payloadType":"str","topic":"","x":130,"y":4760,"wires":[["3745f356.9e653c"]]},{"id":"b84d0af.0354af8","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"896ad6b3.744698","order":6,"width":0,"height":0,"passthru":false,"label":"platform","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"zh_platform","payloadType":"str","topic":"","x":120,"y":4800,"wires":[["3745f356.9e653c"]]},{"id":"e0a7a4c0.92f8f8","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"896ad6b3.744698","order":7,"width":0,"height":0,"passthru":false,"label":"infineon sensors","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"zh_infineon","payloadType":"str","topic":"","x":140,"y":4840,"wires":[["3745f356.9e653c"]]},{"id":"b1be99.1a791168","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"eaaa7bbf.50dcf8","order":8,"width":0,"height":0,"passthru":false,"label":"compliment","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"zh_hugcompliment","payloadType":"str","topic":"","x":130,"y":4880,"wires":[["3745f356.9e653c"]]},{"id":"fe4a71e3.842d","type":"function","z":"1431d2dd.0bb8cd","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"roslaunch roboy_skill_machine autohug.launch\"\n}\nelse {\n    cmd = \"rosnode kill /pico_flexx /pico_flexx_driver /pico_flexx_static_tf /hug_detector /fake_movement_srv\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1180,"wires":[["ae412c1b.8624"]]},{"id":"ae412c1b.8624","type":"exec","z":"1431d2dd.0bb8cd","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":630,"y":1180,"wires":[[],[],[]]},{"id":"387cacd1.b73554","type":"ui_switch","z":"1431d2dd.0bb8cd","name":"","label":"autohug","tooltip":"","group":"fcbf351c.ddfb58","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"matrix_selfies","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":1180,"wires":[["fe4a71e3.842d"]]},{"id":"cfaad22a.860b3","type":"function","z":"1431d2dd.0bb8cd","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"rosrun roboy_skill_machine soli_fpga.sh\";\n}\nelse {\n    cmd = \"rosnode kill /roboy_fpga_unknown_00_00_f3_be_ef_05\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1300,"wires":[["5ff6265f.0ddf28"]]},{"id":"5ff6265f.0ddf28","type":"exec","z":"1431d2dd.0bb8cd","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":630,"y":1320,"wires":[[],[],[]]},{"id":"d4d1894f.df6488","type":"ui_switch","z":"1431d2dd.0bb8cd","name":"","label":"soli_fpga","tooltip":"","group":"fcbf351c.ddfb58","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"soli_fpga","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":1300,"wires":[["cfaad22a.860b3"]]},{"id":"4ee8ac7f.318eb4","type":"function","z":"1431d2dd.0bb8cd","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"rosrun roboy_soli material_predict.py\";\n}\nelse {\n    cmd = \"rosnode kill /soli_material_classification\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1360,"wires":[["5ff6265f.0ddf28"]]},{"id":"1b84bfff.51884","type":"ui_switch","z":"1431d2dd.0bb8cd","name":"","label":"soli_classification","tooltip":"","group":"fcbf351c.ddfb58","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"soli_fpga","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":1360,"wires":[["4ee8ac7f.318eb4"]]},{"id":"2dd1c06d.1e7d8","type":"python3-function","z":"d6a5ab75.636638","name":"sound-play-client","func":"import rospy\nfrom roboy_cognition_msgs.srv import PlaySound, PlaySoundRequest\n\nrospy.init_node(\"nodered_sound_client\")\nsrv = rospy.ServiceProxy(\"/roboy/matrix/sound/play\", PlaySound)\n\nreq = PlaySoundRequest()\nreq.filepath = msg[\"payload\"][\"filename\"]\n#todo emotions\nsrv(req)\n\nreturn msg","outputs":1,"x":850,"y":340,"wires":[[]]},{"id":"c7ae4230.4d508","type":"python3-function","z":"d6a5ab75.636638","name":"get-path","func":"import os\nimport rospkg\nfrom random import choice\n\nrospack = rospkg.RosPack()\npath = rospack.get_path('soncreo')+'/generated/'\nkeyword = msg[\"payload\"]\npath = path+keyword\nif os.path.exists(path):\n    files = [f for f in os.listdir(path) if os.path.isfile(os.path.join(path, f))]\n    msg[\"payload\"] = {\"filename\": path+'/'+choice(files)}\nelif os.path.exists(path+\".wav\"):\n    msg[\"payload\"] = {\"filename\": path+\".wav\"}\nreturn msg","outputs":1,"x":620,"y":340,"wires":[["2dd1c06d.1e7d8"]]},{"id":"49017347.b406ac","type":"ui_button","z":"d6a5ab75.636638","name":"","group":"9e9db6ff.b10238","order":1,"width":0,"height":0,"passthru":false,"label":"1. i'm here","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"ciie/1","payloadType":"str","topic":"","x":150,"y":60,"wires":[["c7ae4230.4d508"]]},{"id":"e6305857.1e5f68","type":"ui_button","z":"d6a5ab75.636638","name":"","group":"9e9db6ff.b10238","order":2,"width":0,"height":0,"passthru":false,"label":"2. all about roboy","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"ciie/2","payloadType":"str","topic":"","x":170,"y":100,"wires":[["c7ae4230.4d508","fb6e3b51.773d48"]]},{"id":"db671ee6.95403","type":"ui_button","z":"d6a5ab75.636638","name":"","group":"9e9db6ff.b10238","order":3,"width":0,"height":0,"passthru":false,"label":"3. dont let me wait","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"ciie/3","payloadType":"str","topic":"","x":170,"y":140,"wires":[["c7ae4230.4d508"]]},{"id":"74aca3f2.f0066c","type":"ui_button","z":"d6a5ab75.636638","name":"","group":"9e9db6ff.b10238","order":4,"width":0,"height":0,"passthru":false,"label":"4. enjoying ciie?","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"ciie/4","payloadType":"str","topic":"","x":160,"y":180,"wires":[["c7ae4230.4d508"]]},{"id":"9566bc7d.0ae8b","type":"ui_button","z":"d6a5ab75.636638","name":"","group":"9e9db6ff.b10238","order":5,"width":0,"height":0,"passthru":false,"label":"5. special ears","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"ciie/5","payloadType":"str","topic":"","x":160,"y":220,"wires":[["c7ae4230.4d508"]]},{"id":"45f8a803.6ab968","type":"ui_button","z":"d6a5ab75.636638","name":"","group":"9e9db6ff.b10238","order":6,"width":0,"height":0,"passthru":false,"label":"6. look on my chest","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"ciie/6","payloadType":"str","topic":"","x":170,"y":260,"wires":[["c7ae4230.4d508","e3844cd8.be2dc"]]},{"id":"ee49ead1.9c1c08","type":"ui_button","z":"d6a5ab75.636638","name":"","group":"9e9db6ff.b10238","order":7,"width":0,"height":0,"passthru":false,"label":"7. mics used in smartphones","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"ciie/7","payloadType":"str","topic":"","x":200,"y":300,"wires":[["c7ae4230.4d508"]]},{"id":"7193898c.ae8e38","type":"ui_button","z":"d6a5ab75.636638","name":"","group":"9e9db6ff.b10238","order":8,"width":0,"height":0,"passthru":false,"label":"8. yep, it does","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"ciie/8","payloadType":"str","topic":"","x":160,"y":340,"wires":[["c7ae4230.4d508"]]},{"id":"1262d37e.d471ed","type":"ui_button","z":"d6a5ab75.636638","name":"","group":"9e9db6ff.b10238","order":9,"width":0,"height":0,"passthru":false,"label":"9. sure come here","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"ciie/9","payloadType":"str","topic":"","x":170,"y":380,"wires":[["c7ae4230.4d508"]]},{"id":"b04c8d62.b9599","type":"ui_button","z":"d6a5ab75.636638","name":"","group":"9e9db6ff.b10238","order":10,"width":0,"height":0,"passthru":false,"label":"10. yes, i can","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"ciie/10","payloadType":"str","topic":"","x":150,"y":420,"wires":[["c7ae4230.4d508"]]},{"id":"5d20f9a9.7d9f68","type":"ui_button","z":"d6a5ab75.636638","name":"","group":"9e9db6ff.b10238","order":11,"width":0,"height":0,"passthru":false,"label":"11. embedded power","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"ciie/11","payloadType":"str","topic":"","x":180,"y":460,"wires":[["c7ae4230.4d508"]]},{"id":"29e95a1b.202e76","type":"ui_button","z":"d6a5ab75.636638","name":"","group":"9e9db6ff.b10238","order":12,"width":0,"height":0,"passthru":false,"label":"12. magnetic sensor","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"ciie/12","payloadType":"str","topic":"","x":180,"y":500,"wires":[["c7ae4230.4d508"]]},{"id":"bd276ec6.e0c17","type":"ui_button","z":"d6a5ab75.636638","name":"","group":"9e9db6ff.b10238","order":14,"width":0,"height":0,"passthru":false,"label":"14. 60 GHz radar","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"ciie/14","payloadType":"str","topic":"","x":170,"y":540,"wires":[["c7ae4230.4d508"]]},{"id":"22f328a7.8a4588","type":"ui_button","z":"d6a5ab75.636638","name":"","group":"9e9db6ff.b10238","order":15,"width":0,"height":0,"passthru":false,"label":"15. embedded sim","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"ciie/15","payloadType":"str","topic":"","x":150,"y":580,"wires":[["c7ae4230.4d508"]]},{"id":"fff29efd.618db","type":"ui_button","z":"d6a5ab75.636638","name":"","group":"9e9db6ff.b10238","order":16,"width":0,"height":0,"passthru":false,"label":"16. trust x","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"ciie/16","payloadType":"str","topic":"","x":140,"y":620,"wires":[["c7ae4230.4d508"]]},{"id":"dcf1655d.99f268","type":"ui_button","z":"d6a5ab75.636638","name":"","group":"9e9db6ff.b10238","order":17,"width":0,"height":0,"passthru":false,"label":"17. pleasure is mine","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"ciie/17","payloadType":"str","topic":"","x":180,"y":660,"wires":[["c7ae4230.4d508"]]},{"id":"a74a22f0.8f74d","type":"python3-function","z":"cace941b.9a2988","name":"send-py","func":"import rospy\nfrom roboy_control_msgs.srv import PerformActionsRequest, PerformActions\n\nrospy.init_node(\"nodered_movements_client\")\nsrv = rospy.ServiceProxy(\"/roboy/control/PerformMovements\", PerformActions)\n\nactions = [];\nfor item in msg['payload']:\n    actions.append(item['title'])\n\nreq = PerformActionsRequest(actions)\nsrv(req)\n\nreturn msg","outputs":1,"x":400,"y":280,"wires":[[]]},{"id":"c586dc4f.d15e1","type":"ui_button","z":"cace941b.9a2988","name":"","group":"a8f7a774.585be8","order":2,"width":3,"height":1,"passthru":false,"label":"send","tooltip":"","color":"","bgcolor":"","icon":"","payload":"todo_movements","payloadType":"flow","topic":"","x":210,"y":280,"wires":[["a74a22f0.8f74d"]]},{"id":"dab08461.d2d248","type":"inject","z":"cace941b.9a2988","name":"","topic":"","payload":"[\"Item1\",\"Item2\",\"Item3\"]","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":120,"wires":[["9c46e932.d0a858"]]},{"id":"9c46e932.d0a858","type":"function","z":"cace941b.9a2988","name":"init","func":"m = []\nflow.set(\"todo_movements\", m)\nmsg.payload = [\"right\",\"left\",\"Item3\",\"Item1\",\"Item2\",\"Item3\",\"Item1\",\"Item2\",\"Item3\",\"Item1\",\"Item2\",\"Item3\"]\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":120,"wires":[["f7a27131.f3454"]]},{"id":"f7a27131.f3454","type":"ui_list","z":"cace941b.9a2988","group":"22c01be5.038e84","name":"Available trajectories","order":1,"width":0,"height":0,"lineType":"one","actionType":"click","allowHTML":false,"outputs":1,"topic":"","x":460,"y":120,"wires":[["5945f2c8.c8123c","9fdbc4fa.a91358"]]},{"id":"b189898b.2fdd18","type":"ui_list","z":"cace941b.9a2988","group":"a8f7a774.585be8","name":"Todo-Trajectory","order":1,"width":6,"height":7,"lineType":"two","actionType":"click","allowHTML":false,"outputs":1,"topic":"","x":1140,"y":220,"wires":[["c34a033.d332e"]]},{"id":"5945f2c8.c8123c","type":"function","z":"cace941b.9a2988","name":"push","func":"m = flow.get(\"todo_movements\")\nm.push(msg.payload)\nflow.set(\"todo_movements\", m)\nreturn msg","outputs":1,"noerr":0,"x":670,"y":60,"wires":[[]]},{"id":"9fdbc4fa.a91358","type":"function","z":"cace941b.9a2988","name":"update-queue","func":"m = flow.get(\"todo_movements\")\nmsg.payload = m\nreturn msg","outputs":1,"noerr":0,"x":840,"y":220,"wires":[["b189898b.2fdd18"]]},{"id":"c34a033.d332e","type":"function","z":"cace941b.9a2988","name":"pop","func":"m = flow.get(\"todo_movements\")\nnode.warn(m)\nrm = m.indexOf(msg.payload);\nm.splice(rm, 1)\nnode.warn(m)\nflow.set(\"todo_movements\", m)\nreturn msg","outputs":1,"noerr":0,"x":1150,"y":140,"wires":[["9fdbc4fa.a91358"]]},{"id":"33d4eaf1.117a36","type":"ui_button","z":"cace941b.9a2988","name":"","group":"a8f7a774.585be8","order":3,"width":3,"height":1,"passthru":false,"label":"clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"todo_movements","payloadType":"flow","topic":"","x":210,"y":220,"wires":[["50523004.db6f8"]]},{"id":"50523004.db6f8","type":"function","z":"cace941b.9a2988","name":"clear","func":"m = flow.get(\"todo_movements\")\nm = []\nflow.set(\"todo_movements\", m)\nreturn msg","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["9fdbc4fa.a91358"]]},{"id":"2ee4c1be.b2cd0e","type":"inject","z":"cace941b.9a2988","name":"","topic":"","payload":"[\"Item1\",\"Item2\",\"Item3\"]","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":400,"wires":[["2cc9da4b.0e7196"]]},{"id":"2cc9da4b.0e7196","type":"function","z":"cace941b.9a2988","name":"init","func":"m = []\nflow.set(\"enabled_bodyparts\", m)\nmsg.payload = [\"shoulder_right\", \"shoulder_left\", \"head\", \"arm_right\", \"arm_left\"]\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["34625e6d.6a26a2"]]},{"id":"34625e6d.6a26a2","type":"ui_list","z":"cace941b.9a2988","group":"1d314a61.6c81b6","name":"Body parts","order":1,"width":6,"height":5,"lineType":"one","actionType":"check","allowHTML":false,"outputs":1,"topic":"","x":470,"y":400,"wires":[["8bf92126.0854e"]]},{"id":"8bf92126.0854e","type":"function","z":"cace941b.9a2988","name":"","func":"parts = flow.get(\"enabled_bodyparts\")\nnode.warn(parts)\nif (msg.payload.isChecked === true && !parts.includes(msg.payload.title)) {\n    parts.push(msg.payload.title)\n}\nelse if (msg.payload.isChecked === false) {\n    var index = parts.indexOf(msg.payload.title);\n    if (index !== -1) parts.splice(index, 1);\n}\nflow.set(\"enabled_bodyparts\", parts)\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":400,"wires":[[]]},{"id":"3c2c52fb.57db0e","type":"ui_button","z":"cace941b.9a2988","name":"","group":"1d314a61.6c81b6","order":4,"width":3,"height":1,"passthru":false,"label":"start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"enabled_bodyparts","payloadType":"flow","topic":"","x":190,"y":520,"wires":[["bffa466f.1e1488"]]},{"id":"c1bff1ee.c62ed","type":"python3-function","z":"cace941b.9a2988","name":"record","func":"import rospy\nfrom roboy_control_msgs.msg import StartRecordTrajectory\n\nrospy.init_node(\"recodring_trigger\")\npub = rospy.Publisher(\"/roboy/control/StartRecordTrajectory\", StartRecordTrajectory, queue_size=1)\nros_msg = StartRecordTrajectory()\nros_msg.name = msg['payload']['trajectory_name']\nros_msg.body_parts = msg['payload']['enabled_bodyparts']\nros_msg.id_list = [1,2,3,4]\npub.publish(ros_msg)\nreturn msg","outputs":1,"x":510,"y":520,"wires":[[]]},{"id":"60620a48.183d34","type":"ui_button","z":"cace941b.9a2988","name":"","group":"1d314a61.6c81b6","order":5,"width":3,"height":1,"passthru":false,"label":"stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"enabled_bodyparts","payloadType":"flow","topic":"","x":190,"y":580,"wires":[["d6b29c08.bb634"]]},{"id":"d6b29c08.bb634","type":"python3-function","z":"cace941b.9a2988","name":"record","func":"import rospy\nfrom std_msgs.msg import Empty\n\nrospy.init_node(\"recodring_trigger\")\npub = rospy.Publisher(\"/roboy/control/StopRecordTrajectory\", Empty, queue_size=1)\nros_msg = Empty()\npub.publish(ros_msg)\nreturn msg","outputs":1,"x":410,"y":580,"wires":[[]]},{"id":"a17f182b.0db078","type":"ui_text_input","z":"cace941b.9a2988","name":"","label":"Trajectory name","tooltip":"","group":"1d314a61.6c81b6","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":180,"y":640,"wires":[["996f0eba.ca1ab"]]},{"id":"996f0eba.ca1ab","type":"function","z":"cace941b.9a2988","name":"init","func":"\nflow.set(\"trajectory_name\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":640,"wires":[[]]},{"id":"bffa466f.1e1488","type":"function","z":"cace941b.9a2988","name":"","func":"msg1 = {}\nmsg1.payload = {}\nmsg1.payload.enabled_bodyparts = msg.payload\nmsg1.payload.trajectory_name = flow.get(\"trajectory_name\")\nreturn msg1;","outputs":1,"noerr":0,"x":350,"y":520,"wires":[["c1bff1ee.c62ed"]]},{"id":"a1d5538f.cb55e","type":"http in","z":"d88af59a.abbb08","name":"","url":"/roboy/getselfies","method":"get","upload":false,"swaggerDoc":"","x":100,"y":660,"wires":[["abd0cadb.63edf8"]]},{"id":"abd0cadb.63edf8","type":"function","z":"d88af59a.abbb08","name":"","func":"var ids = context.global.get(\"selfieids\")\nif(!ids){\n    ids = [\"ufcbq\",\"poovh\",\"kvuab\",\"gwthj\",\"eaxkp\",\"rnvev\",\"ykpfn\",\"yqnoj\",\"zktnu\",\"ezvnl\"];\n    context.global.set(\"selfieids\");\n}\nvar r = [];\nvar baseurl = \"https://bot.roboy.org/\";\nfor(var i = 0;i < Math.min(ids.length,10);i++){\n    r.push({'id':ids[i],'url':baseurl+ids[i]+\".jpeg\"});\n}\nmsg.payload = r;\nmsg.headers = {\"Access-Control-Allow-Origin\":\"*\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":660,"wires":[["7c75df60.e7b2f"]]},{"id":"7c75df60.e7b2f","type":"http response","z":"d88af59a.abbb08","name":"","statusCode":"","headers":{},"x":490,"y":660,"wires":[]},{"id":"eeb560ad.6a49c","type":"function","z":"a3d75715.5da158","name":"Store Name","func":"var sids = context.global.get(\"selfieids\")\nif(!sids) sids = [\"ufcbq\",\"poovh\",\"kvuab\",\"gwthj\",\"eaxkp\",\"rnvev\",\"ykpfn\",\"yqnoj\",\"zktnu\",\"ezvnl\"];\nvar f = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm, \"\");\nf = f.replace(/\\s/g, '');\nvar b = false;\nif(sids.length === 0 || sids[0] != f){\n    b = true;\n    sids.unshift(f);\n    msg.payload = {\"q50f4007df955b8\":f};\n}\nwhile(sids.length > 12) sids.pop();\ncontext.global.set(\"selfieids\",sids);\nmsg.rejectUnauthorized = false;\n\nif(b)\n    return msg;","outputs":1,"noerr":0,"x":750,"y":260,"wires":[["8d70f740.9d5988","49697f6.ce10d8"]]},{"id":"956702b8.a416a","type":"function","z":"d88af59a.abbb08","name":"","func":"context.global.set(\"selfieids\",[\"ufcbq\",\"poovh\",\"kvuab\",\"gwthj\",\"eaxkp\",\"rnvev\",\"ykpfn\",\"yqnoj\",\"zktnu\",\"ezvnl\"])\n","outputs":1,"noerr":0,"x":390,"y":600,"wires":[[]]},{"id":"9aeb0a.0da854f8","type":"inject","z":"d88af59a.abbb08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":600,"wires":[["956702b8.a416a"]]},{"id":"693db768.b19fb8","type":"http response","z":"52b5890c.deb9e8","name":"","statusCode":"","headers":{},"x":1370,"y":1120,"wires":[]},{"id":"6465e584.19084c","type":"http response","z":"52b5890c.deb9e8","name":"","statusCode":"","headers":{},"x":1350,"y":1320,"wires":[]},{"id":"9864b97d.21db98","type":"ros-subscribe","z":"52b5890c.deb9e8","server":"79531856.ef5438","topicname":"/hug_counter","x":950,"y":1100,"wires":[["31d3b0ba.f6af","a8f8d7d4.daf428"]]},{"id":"8d70f740.9d5988","type":"http request","z":"a3d75715.5da158","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"https://94.130.116.146/roboy/recordselfie","tls":"","proxy":"","authType":"basic","x":970,"y":260,"wires":[[]]},{"id":"83844e88.712ea","type":"ui_button","z":"d6a5ab75.636638","name":"","group":"9e9db6ff.b10238","order":13,"width":0,"height":0,"passthru":false,"label":"13. surface","tooltip":"","color":"","bgcolor":"#DC143C","icon":"","payload":"ciie/13","payloadType":"str","topic":"","x":130,"y":700,"wires":[["c7ae4230.4d508"]]},{"id":"acdb3579.e60638","type":"exec","z":"d6a5ab75.636638","command":"rosservice call /roboy/cognition/face/emotion \"emotion: 'lucky'\" ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":850,"y":120,"wires":[[],[],[]]},{"id":"fb6e3b51.773d48","type":"delay","z":"d6a5ab75.636638","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":120,"wires":[["acdb3579.e60638"]]},{"id":"a8f8d7d4.daf428","type":"debug","z":"52b5890c.deb9e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":1060,"wires":[]},{"id":"7a9060f7.12199","type":"exec","z":"d6a5ab75.636638","command":"rostopic pub -1 /roboy/control/matrix/chest/leds/mode/simple std_msgs/Int32 \"data: 4\"  ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":860,"y":180,"wires":[["c6c04ec2.54058"],[],[]]},{"id":"e3844cd8.be2dc","type":"delay","z":"d6a5ab75.636638","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":160,"wires":[["7a9060f7.12199"]]},{"id":"c6c04ec2.54058","type":"delay","z":"d6a5ab75.636638","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":180,"wires":[["b6f7eb1f.a764c8"]]},{"id":"b6f7eb1f.a764c8","type":"exec","z":"d6a5ab75.636638","command":"rostopic pub -1 /roboy/control/matrix/chest/leds/off std_msgs/Empty \"{}\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1150,"y":240,"wires":[[],[],[]]},{"id":"49697f6.ce10d8","type":"debug","z":"a3d75715.5da158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":900,"y":200,"wires":[]},{"id":"93504010.b0fb4","type":"exec","z":"52b5890c.deb9e8","command":"rosservice call /roboy/cognition/speech/synthesis/talk/chinese","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":880,"y":720,"wires":[[],[],[]]},{"id":"c123ff4e.59839","type":"exec","z":"52b5890c.deb9e8","command":"rostopic pub -1 /roboy/control/matrix/chest/leds/mode/simple std_msgs/Int32 \"data: 1\"  ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":620,"y":1740,"wires":[[],[],[]]},{"id":"826c01d8.537fe","type":"exec","z":"52b5890c.deb9e8","command":"rostopic pub -1 /roboy/control/matrix/chest/leds/off std_msgs/Empty \"{}\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":561,"y":1791.9999990463257,"wires":[[],[],[]]},{"id":"1823beb7.c09f91","type":"exec","z":"52b5890c.deb9e8","command":"rostopic pub -1 /roboy/control/matrix/chest/leds/mode/simple std_msgs/Int32 \"data: 2\"  ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":623.75,"y":1684.4999990463257,"wires":[[],[],[]]},{"id":"610281f7.39e4e","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"b7f4bfd2.67f56","order":8,"width":0,"height":0,"passthru":false,"label":"chest Blink","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":1683.9999990463257,"wires":[["c123ff4e.59839"]]},{"id":"9d67b3c8.eff85","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"b7f4bfd2.67f56","order":9,"width":0,"height":0,"passthru":false,"label":"chest Snake pattern","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":174,"y":1735.9999990463257,"wires":[["1823beb7.c09f91"]]},{"id":"7322731f.1b5bec","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"b7f4bfd2.67f56","order":10,"width":0,"height":0,"passthru":false,"label":"chest Turn off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":1794.9999990463257,"wires":[["826c01d8.537fe"]]},{"id":"b31f8cbb.01571","type":"exec","z":"52b5890c.deb9e8","command":"rostopic pub -1 /roboy/control/matrix/chest/leds/mode/simple std_msgs/Int32 \"data: 4\"  ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":620,"y":1860,"wires":[[],[],[]]},{"id":"352acfea.f9762","type":"ui_button","z":"52b5890c.deb9e8","name":"","group":"b7f4bfd2.67f56","order":7,"width":0,"height":0,"passthru":false,"label":"chest rainbow","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":1860,"wires":[["b31f8cbb.01571"]]}]