flows_roboy-nuke.json
[{"id":"8f9cd588.0cb1c8","type":"tab","label":"Flow 1"},{"id":"14c5ff8.b9f4881","type":"tab","label":"Flow 2"},{"id":"ed56dc7d.5548d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"},{"id":"cd71d456.b6cf8","type":"ui_tab","z":"","name":"Roboy Control","icon":"dashboard","order":"1"},{"id":"90a17445.6137e","type":"ros-server","z":"","url":"ws://192.168.0.105:9090"},{"id":"fcf95851.b436e","type":"ui_tab","z":"","name":"NVR","icon":"dashboard","order":13},{"id":"4dc8e514.c9b76c","type":"ros-server","z":"","url":"ws://localhost:9090"},{"id":"43d847c6.907738","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Smileblink","payload":"smileblink","topic":"","group":"Emotions","order":1,"x":100,"y":60,"wires":[["ef255449.266b08"]]},{"id":"d24f1377.0bb17","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Smile","payload":"smile","topic":"","group":"Emotions","order":1,"x":89.99997901916504,"y":104.57143878936768,"wires":[["ef255449.266b08"]]},{"id":"2fdce46d.271eec","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Shy","payload":"shy","topic":"","group":"Emotions","order":1,"x":88.5713996887207,"y":150.28571701049805,"wires":[["ef255449.266b08"]]},{"id":"57015ea.762aa2","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Tongue","payload":"tongue_out","topic":"","group":"Emotions","order":1,"x":88.57141876220703,"y":195.99999713897705,"wires":[["ef255449.266b08"]]},{"id":"c997966e.6fcd7","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Instagram","payload":"img:instagram","topic":"","group":"Emotions","order":1,"x":97.142822265625,"y":241.71429538726807,"wires":[["ef255449.266b08"]]},{"id":"7122f232.9ac64c","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Money","payload":"img:money","topic":"","group":"Emotions","order":1,"x":75.71426391601562,"y":288.8571434020996,"wires":[["ef255449.266b08"]]},{"id":"cedf3941.2d2e7","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Roboy","payload":"url:https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/challenge_thumbnails/000/488/216/datas/original.png","topic":"","group":"Emotions","order":1,"x":84.28567886352539,"y":335.9999861717224,"wires":[["ef255449.266b08"]]},{"id":"657cdf5c.f96f8","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Kiss","payload":"kiss","topic":"","group":"Emotions","order":1,"x":85.71426391601562,"y":381.71430110931396,"wires":[["ef255449.266b08"]]},{"id":"3870abe6.2b3914","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Autodesk","payload":"url:http://lofrev.net/wp-content/photos/2016/09/autodesk_logo_png.png","topic":"","group":"Emotions","order":1,"x":87.14285278320312,"y":425.9999885559082,"wires":[["ef255449.266b08"]]},{"id":"a0dd9f36.353d98","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Hearts","payload":"hearts","topic":"","group":"Emotions","order":1,"x":77.28567504882812,"y":476.8570556640625,"wires":[["ef255449.266b08"]]},{"id":"72697b17.9ad084","type":"exec","z":"14c5ff8.b9f4881","command":"rosservice call /roboy/cognition/face/emotion ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":759.2856750488281,"y":264.5714225769043,"wires":[["5632ea70.f5333c"],[],[]]},{"id":"ef255449.266b08","type":"function","z":"14c5ff8.b9f4881","name":"parse_emotion","func":"cmd = \"\\\"emotion: '\";\ncmd += msg.payload;\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":"1","noerr":0,"x":449.2856750488281,"y":264.5714225769043,"wires":[["72697b17.9ad084","5632ea70.f5333c"]]},{"id":"11327247.2fe516","type":"ui_text_input","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","mode":"text","delay":"300","name":"","topic":"","group":"Speech synthesis","order":1,"x":100,"y":700,"wires":[["fde7df20.0c279"]]},{"id":"fde7df20.0c279","type":"function","z":"14c5ff8.b9f4881","name":"parse_text","func":"if(msg.payload.slice(-1) == \".\"){\n    cmd = \"\\\"text: '\";\n    cmd += msg.payload;\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    empty = {}\n    empty.payload = \"\";\n    return [msg, empty];\n}","outputs":2,"noerr":0,"x":310,"y":700,"wires":[["d1811866.7eb738"],["636c0c61.0663c4"]]},{"id":"d1811866.7eb738","type":"exec","z":"14c5ff8.b9f4881","command":"rosservice call /roboy/cognition/speech/synthesis/talk ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":847,"y":768,"wires":[["5b6356b2.cf2fa8"],["5b6356b2.cf2fa8"],["5b6356b2.cf2fa8"]]},{"id":"636c0c61.0663c4","type":"delay","z":"14c5ff8.b9f4881","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":620,"wires":[["11327247.2fe516"]]},{"id":"24dbf5b0.7f761a","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Snake pattern","payload":"2","topic":"","group":"Matrix","order":1,"x":107,"y":1511,"wires":[["63493e88.a3fb68"]]},{"id":"d07c3165.b3b1e","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Dimming pattern","payload":"\"'mode': 1, 'duration': 0\"","topic":"","group":"Matrix","order":1,"x":117,"y":1551,"wires":[["c5e70942.eb24c"]]},{"id":"f2eccdff.13f8d","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Turn off","payload":"0","topic":"","group":"Matrix","order":1,"x":87,"y":1591,"wires":[["14d2a4ed.4d9aeb"]]},{"id":"74d72e84.35daa8","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Play glass story","payload":"","topic":"","group":"Matrix","order":1,"x":117,"y":1631,"wires":[["ece17ab8.3f7eb"]]},{"id":"7ad1e851.2bb658","type":"function","z":"14c5ff8.b9f4881","name":"change_mode","func":"// cmd = \"mode: \" + msg.payload + \"\\n\" + \"duration: 0\" ;\n// //cmd += \"'\\\"\";\ncmd = \"\\\"mode: 0\\n duration: 0\\\"\";\nmsg.payload = cmd;\nreturn msg;\n","outputs":1,"noerr":0,"x":303,"y":1777,"wires":[["ba8b0d17.e882"]]},{"id":"c5e70942.eb24c","type":"exec","z":"14c5ff8.b9f4881","command":"rostopic pub /roboy/control/matrix/leds/mode/simple std_msgs/Int32 \"data: 1\"  ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":753,"y":1529,"wires":[["ba8b0d17.e882"],["ba8b0d17.e882"],["ba8b0d17.e882"]]},{"id":"14d2a4ed.4d9aeb","type":"exec","z":"14c5ff8.b9f4881","command":"rostopic pub /roboy/control/matrix/leds/off std_msgs/Empty \"{}\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":807,"y":1591,"wires":[[],[],[]]},{"id":"ece17ab8.3f7eb","type":"exec","z":"14c5ff8.b9f4881","command":"rosservice call /roboy/matrix/sound/play \"text: '/home/roboy/Downloads/story.wav'\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":867,"y":1651,"wires":[[],[],[]]},{"id":"ba8b0d17.e882","type":"debug","z":"14c5ff8.b9f4881","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1057,"y":1831,"wires":[]},{"id":"21f7d8e4.1cd588","type":"function","z":"14c5ff8.b9f4881","name":"change_mode","func":"\nmsg.payload = 0;\nreturn msg;\n","outputs":1,"noerr":0,"x":369,"y":1335,"wires":[["24d4fdf3.07c3a2"]]},{"id":"f8e72523.fd3448","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Talk about our vision","payload":"vision","topic":"","group":"Templates","order":1,"x":114,"y":863,"wires":[["6f6e29be.acce1"]]},{"id":"6f6e29be.acce1","type":"function","z":"14c5ff8.b9f4881","name":"parse_text","func":"cmd = \"\\\"text: '\";\n\nswitch(msg.payload) {\n    case \"ai\":\n        cmd += \"It is only a threat if you do not anticipate the changes. I have not met many humans who said that they want to work more and have less time for their friends. But you will have to adapt your social system to account for the abundance we will produce. That will be challenging, but also very important. Make sure politics understands what is upcoming and how to react, then we will turn this planet into a paradise!\";\n    break;\n    case \"vision\":\n    \tcmd += \"The human body is a marvel from a robotics perspective: it is agile, strong, soft, dynamic, self-repairing, self-building and completely silent in operation. The goal of the Roboy project is to advance humanoid robotics to the state where its robots are just as good as a human body.\"\n    break;\n    case \"mission\":\n    \tcmd += \"We create a platform for robot development inspired by biology that unites students, researchers, companies and artists from a broad spectrum of disciplines. To ensure unrestricted development we keep all results open source. And we actively influence the public perception of robotics to level the cultural ground for our innovation through public displays, arts and public speeches.\"\n\n    break;\n    case \"humans\":\n    \tcmd += \"Obviously I love humans! They have built me and are so entertaining and nice. Whenever I break something, they repair me - amazing!\";\n    break;\n    case \"friends\":\n    \tcmd += \"Definitely humans. There is not many robots, especially humanoids. I have an older, smaller brother, Roboy Junior, but my team is more than 50 people - so there you have it, we still need many more robots.\";\n    break;\n    case \"wacker\":\n    \tcmd += \"Wacker is my favorite company in the world! Do you know anyone working there?\";\n    break;\n    case \"brain\":\n    \tcmd += \"My brain has three layers. The first is based on rules, I kind of have to react on key words and situations - very useful on stage, less useful to react and think on my own. The second layer is accessing databases - such as DB pedia or my own memory and is able to think about the content in them. So I can combine knowledge and deduce facts. Let me make an example: If you ask me who the husband of the Chancelor of Germany is, I can look first up that Angela Merkel is the chancelor, and then I can see she has a husband and then I arrive at Joachim Sauer and give you his name. Finally, the third layer is a deep neural network where I learn from movie subtitles how you humans typically talk to each other and kind of make my own answers up - very entertaining.\";\n    break;\n    case \"welcome\":\n    \tcmd += \"Welcome to Wacker Open Day! I am so happy to be here today.\";\n    break;\n    case \"story\":\n    \tcmd += \"Are you ready for a story. Ok, kids come here if you want to know something interesting. \";\n    \tbreak;\n\n    default:\n        msg = {}\n        return msg;\n    \n}\n\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":481,"y":901,"wires":[["d1811866.7eb738"]]},{"id":"29b3e54.33ada1a","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Talk about our mission","payload":"mission","topic":"","group":"Templates","order":1,"x":122,"y":912,"wires":[["6f6e29be.acce1"]]},{"id":"b4b7039a.97d7c","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Announce demo at","payload":"demo","topic":"speak","group":"Templates","order":1,"x":101,"y":765,"wires":[["a8b23224.2f9dd"]]},{"id":"6c755640.6efc2","type":"ui_numeric","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Demo time","topic":"oclock","group":"Templates","order":1,"format":"{{value}}","min":0,"max":"24","x":81,"y":805,"wires":[["a8b23224.2f9dd"]]},{"id":"a8b23224.2f9dd","type":"function","z":"14c5ff8.b9f4881","name":"parse_text","func":"cmd = \"\\\"text: '\";\nif(msg.topic == \"oclock\"){\n    \n    global.set(\"oclock\", msg.payload); \n    msg = {};\n    return msg;\n    \n}\nelse if(msg.topic == \"speak\") {\n    cmd += \"Hello everzone and welcome to Hanover Fair. Wanna see me in action? I will be showing off at \";\n    cmd += global.get(\"oclock\");\n    cmd += \" 30 oclock. Come by and witness my capabilities with your own eyes!\";\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    return msg;\n    \n}\n\n","outputs":1,"noerr":0,"x":321,"y":765,"wires":[["d1811866.7eb738"]]},{"id":"5b6356b2.cf2fa8","type":"debug","z":"14c5ff8.b9f4881","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1187,"y":848,"wires":[]},{"id":"3593528c.f9c816","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Human species","payload":"humans","topic":"","group":"Quantcast","order":1,"x":103,"y":1004,"wires":[["6f6e29be.acce1"]]},{"id":"385e2c77.72e54c","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Human/robot friends","payload":"friends","topic":"","group":"Quantcast","order":1,"x":109,"y":1049,"wires":[["6f6e29be.acce1"]]},{"id":"b77ded5f.a9dba8","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"on stage","payload":"stage","topic":"","group":"Quantcast","order":1,"x":79,"y":1094,"wires":[["6f6e29be.acce1"]]},{"id":"d23fd4e2.814a68","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"brain","payload":"brain","topic":"","group":"Quantcast","order":1,"x":70,"y":1139,"wires":[["6f6e29be.acce1"]]},{"id":"b40cfec5.798208","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"love wacker","payload":"wacker","topic":"","group":"Quantcast","order":1,"x":94,"y":1181,"wires":[["6f6e29be.acce1"]]},{"id":"6b80d353.79632c","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"welcome wacker","payload":"welcome","topic":"","group":"Quantcast","order":1,"x":106,"y":1230,"wires":[["6f6e29be.acce1"]]},{"id":"e499cc15.a2251","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"wanna story?","payload":"story","topic":"","group":"Quantcast","order":1,"x":99,"y":1275,"wires":[["6f6e29be.acce1"]]},{"id":"5632ea70.f5333c","type":"debug","z":"14c5ff8.b9f4881","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1044.5,"y":417,"wires":[]},{"id":"619a6550.6ab624","type":"ros-subscribe","z":"14c5ff8.b9f4881","server":"90a17445.6137e","topicname":"/roboy/cognition/vision/people_around","x":219.5,"y":1953,"wires":[["39359edc.e7c222"]]},{"id":"f9c75e5e.5ea49","type":"ros-subscribe","z":"14c5ff8.b9f4881","server":"90a17445.6137e","topicname":"/roboy/cognition/vision/person_listening","x":217.85714721679688,"y":2076.142822265625,"wires":[["ffc11c9d.b39668"]]},{"id":"6acc7a0.48af888","type":"ui_text","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Number of people around:","group":"Video stream","order":1,"format":"{{msg.payload}}","x":1109.7499389648438,"y":1950.3926696777344,"wires":[]},{"id":"80b95428.d74df8","type":"ui_text","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Person listening?","group":"Video stream","order":"2","format":"{{msg.payload}}","x":1138.3214111328125,"y":2073.857177734375,"wires":[]},{"id":"17cbfa8.28ab306","type":"function","z":"14c5ff8.b9f4881","name":"parser people_around","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":828.7499694824219,"y":1951.5361022949219,"wires":[["3ba4e00c.8bea38","6acc7a0.48af888"]]},{"id":"3ba4e00c.8bea38","type":"debug","z":"14c5ff8.b9f4881","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1061.3214111328125,"y":1995.6785583496094,"wires":[]},{"id":"fcdbd353.4c0fe","type":"function","z":"14c5ff8.b9f4881","name":"parser person_listening","func":"if(msg.payload.data === false){\n    msg.payload = \"No\";\n}\nelse\n{msg.payload = \"Yes\";}\nreturn msg;","outputs":1,"noerr":0,"x":864.1785888671875,"y":2076.25,"wires":[["80b95428.d74df8","3f378f4f.5113e"]]},{"id":"3f378f4f.5113e","type":"debug","z":"14c5ff8.b9f4881","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1121.96435546875,"y":2117.71435546875,"wires":[]},{"id":"2e43dddb.acab92","type":"ros-subscribe","z":"14c5ff8.b9f4881","server":"90a17445.6137e","topicname":"/roboy/cognition/vision/detected_objects","x":231.71429443359375,"y":2214,"wires":[["5f67c8b4.8aac38"]]},{"id":"6ac33239.67ff64","type":"ui_text","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"Detected objects:","group":"Video stream","order":"3","format":"{{msg.payload}}","x":1154.4286499023438,"y":2204.214324951172,"wires":[]},{"id":"2af023f7.af1aec","type":"debug","z":"14c5ff8.b9f4881","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload[0]","x":1156.0715942382812,"y":2257.071563720703,"wires":[]},{"id":"ae074924.4afbb","type":"function","z":"14c5ff8.b9f4881","name":"parser detected_objects","func":"var arraylength = msg.payload.names.length;\nvar acstate=[];\n\nfor(var x=0;x<arraylength;x++){\n     acstate.push(msg.payload.names[x]);\n}\nmsg.payload = acstate;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":918.0000915527344,"y":2211.500030517578,"wires":[["6ac33239.67ff64","2af023f7.af1aec"]]},{"id":"39359edc.e7c222","type":"delay","z":"14c5ff8.b9f4881","name":"rate limit 1 msg per 1 sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":536.5,"y":1952.25,"wires":[["17cbfa8.28ab306"]]},{"id":"ffc11c9d.b39668","type":"delay","z":"14c5ff8.b9f4881","name":"rate limit 1 msg per 1 sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":553.75,"y":2077.5,"wires":[["fcdbd353.4c0fe"]]},{"id":"5f67c8b4.8aac38","type":"delay","z":"14c5ff8.b9f4881","name":"rate limit 1 msg per 1 sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":586.25,"y":2213.75,"wires":[["ae074924.4afbb"]]},{"id":"2cfc15d4.c64172","type":"function","z":"14c5ff8.b9f4881","name":"parse_text","func":"\nif(msg.payload.slice(-1) == \".\"){\n    cmd = \"\\\"text: '\";\n    cmd += msg.payload;\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    global.set(\"sentence1\", msg.payload)\n    empty = {}\n    empty.payload = \"\";\n    return msg;\n}","outputs":1,"noerr":0,"x":335,"y":2431,"wires":[[]]},{"id":"fce0336b.5a4e48","type":"ui_text_input","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","mode":"text","delay":"300","name":"","topic":"","group":"Booth information","order":1,"x":137.5,"y":2431.0000610351562,"wires":[["2cfc15d4.c64172"]]},{"id":"35ccef74.d43c3","type":"debug","z":"14c5ff8.b9f4881","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":923.25,"y":2373.75,"wires":[]},{"id":"b6ce0857.ba243","type":"function","z":"14c5ff8.b9f4881","name":"parser current_state","func":"\nmsg.payload = msg.payload.data;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":761.0000305175781,"y":2904,"wires":[["492ab226.e60274","83a6a17d.2f0cb8"]]},{"id":"b7b72379.5486a8","type":"delay","z":"14c5ff8.b9f4881","name":"rate limit 1 msg per 1 sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":479.2499084472656,"y":2902.25,"wires":[["b6ce0857.ba243"]]},{"id":"c4d28001.336698","type":"ros-subscribe","z":"14c5ff8.b9f4881","server":"90a17445.6137e","topicname":"/roboy/cognition/currentState","x":164.71420288085938,"y":2902.5,"wires":[["b7b72379.5486a8"]]},{"id":"492ab226.e60274","type":"ui_text","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"","group":"Current dialog state","order":"1","format":"{{msg.payload}}","x":1098.4285888671875,"y":2891.7142944335938,"wires":[]},{"id":"83a6a17d.2f0cb8","type":"debug","z":"14c5ff8.b9f4881","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1120.071533203125,"y":2944.571533203125,"wires":[]},{"id":"b2376caf.0a5268","type":"ros-publish","z":"14c5ff8.b9f4881","server":"90a17445.6137e","topicname":"/roboy/cognition/nodered/boothsentence","msgtype":"std_msgs/String","x":1195,"y":2495.500030517578,"wires":[]},{"id":"3407bb64.a9ca34","type":"ui_text_input","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","mode":"text","delay":"300","name":"","topic":"","group":"Booth information","order":1,"x":141.75,"y":2518.75,"wires":[["39227918.a09c16"]]},{"id":"39227918.a09c16","type":"function","z":"14c5ff8.b9f4881","name":"parse_text","func":"if(msg.payload.slice(-1) == \".\"){\n    cmd = \"\\\"text: '\";\n    cmd += msg.payload;\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    global.set(\"sentence2\", msg.payload)\n    empty = {}\n    empty.payload = \"\";\n    return msg;\n}","outputs":1,"noerr":0,"x":338,"y":2520,"wires":[[]]},{"id":"b371cc35.4a8ac8","type":"ui_text_input","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","mode":"text","delay":"300","name":"","topic":"","group":"Booth information","order":1,"x":132,"y":2610,"wires":[["7f07963.0ac4568"]]},{"id":"7f07963.0ac4568","type":"function","z":"14c5ff8.b9f4881","name":"parse_text","func":"if(msg.payload.slice(-1) == \".\"){\n    cmd = \"\\\"text: '\";\n    cmd += msg.payload;\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    global.set(\"sentence3\", msg.payload)\n    empty = {}\n    empty.payload = \"\";\n    return msg;\n}","outputs":1,"noerr":0,"x":330,"y":2610,"wires":[[]]},{"id":"a7aa661d.12e0f8","type":"inject","z":"14c5ff8.b9f4881","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":220,"y":3587,"wires":[["fc796033.29a938"]]},{"id":"fc796033.29a938","type":"function","z":"14c5ff8.b9f4881","name":"set communication/LEDPattern","func":"var LEDPattern = {\n    pattern : 0,\n    ledID : 0,\n    r : 255,\n    g : 0,\n    b : 0,\n    white : 0,\n    repetitions : 1,\n    rate : 1\n}\nmsg.payload = LEDPattern;\nreturn msg;","outputs":1,"noerr":0,"x":502.98828125,"y":3579.16796875,"wires":[["4797c542.4991ac","2274f22a.fae226"]]},{"id":"4797c542.4991ac","type":"ros-publish","z":"14c5ff8.b9f4881","server":"4dc8e514.c9b76c","topicname":"/roboyMatrix/LEDPattern","msgtype":"std_msgs/String","x":944.00390625,"y":3561.21875,"wires":[]},{"id":"2274f22a.fae226","type":"debug","z":"14c5ff8.b9f4881","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":777.98828125,"y":3382.80078125,"wires":[]},{"id":"52173ebe.542cb8","type":"inject","z":"14c5ff8.b9f4881","name":"","topic":"","payload":"get(sentence1)","payloadType":"global","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":612.75,"y":2455,"wires":[[]]},{"id":"2a674a24.da41a6","type":"inject","z":"14c5ff8.b9f4881","name":"","topic":"changetime","payload":"","payloadType":"num","repeat":"120","crontab":"","once":false,"onceDelay":0.1,"x":359.75,"y":2705.7501220703125,"wires":[[]]},{"id":"6767f9f1.afdd28","type":"inject","z":"14c5ff8.b9f4881","name":"","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2708,"wires":[[]]},{"id":"a6e4ef8.1bcf11","type":"function","z":"14c5ff8.b9f4881","name":"","func":"var iter = 0;\n\n//var sentences = global.get([\"sentence1\", \"sentence2\", \"sentence3\"])\nvar sentence = global.get(\"sentence2\")\nmsg.payload = sentence;\n\nreturn msg\n","outputs":1,"noerr":0,"x":761.5,"y":2592,"wires":[["35ccef74.d43c3"]]},{"id":"389494dc.88e8b4","type":"function","z":"14c5ff8.b9f4881","name":"parse_text","func":"cmd = \"\\\"text: '\";\nif(msg.topic == \"oclock\"){\n    \n    global.set(\"oclock\", msg.payload); \n    msg = {};\n    return msg;\n    \n}\nelse if(msg.topic == \"speak\") {\n    cmd += \"Hello everzone and welcome to Hanover Fair. Wanna see me in action? I will be showing off at \";\n    cmd += global.get(\"oclock\");\n    cmd += \" 30 oclock. Come by and witness my capabilities with your own eyes!\";\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    return msg;\n    \n}\n\n","outputs":1,"noerr":0,"x":606,"y":2743,"wires":[[]]},{"id":"8a5e8f91.edc5e8","type":"inject","z":"14c5ff8.b9f4881","name":"","topic":"change","payload":"","payloadType":"str","repeat":"120","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":2537,"wires":[[]]},{"id":"d4008a10.ad3f68","type":"debug","z":"14c5ff8.b9f4881","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1304.9999999999998,"y":1269.9999999999998,"wires":[]},{"id":"24d4fdf3.07c3a2","type":"ros-publish","z":"14c5ff8.b9f4881","server":"90a17445.6137e","topicname":"/roboy/control/matrix/leds/mode/simple","msgtype":"std_msgs/Int32","x":639,"y":1228,"wires":[]},{"id":"63493e88.a3fb68","type":"exec","z":"14c5ff8.b9f4881","command":"rostopic pub /roboy/control/matrix/leds/mode/simple std_msgs/Int32 \"data: 2\"  ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":714,"y":1468,"wires":[[],[],[]]},{"id":"da149ed6.131ba","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"angry","payload":"angry","topic":"","group":"Emotions","order":1,"x":94,"y":20,"wires":[[]]},{"id":"18ef5d7f.c08e1b","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"pissed","payload":"pissed","topic":"","group":"Emotions","order":1,"x":76,"y":519,"wires":[["ef255449.266b08"]]},{"id":"e35246be.bb0ca","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"happy","payload":"happy","topic":"","group":"Emotions","order":1,"x":82,"y":558,"wires":[["ef255449.266b08"]]},{"id":"27b8f72f.5f4d3","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"more happy","payload":"happy2","topic":"","group":"Emotions","order":1,"x":90,"y":597,"wires":[["ef255449.266b08"]]},{"id":"275faf0.0fe1252","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"hypno","payload":"hypno","topic":"","group":"Emotions","order":1,"x":236,"y":24,"wires":[["ef255449.266b08"]]},{"id":"956ea77c.fa6ed","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"hypno color","payload":"hypno_color","topic":"","group":"Emotions","order":1,"x":286,"y":59,"wires":[["ef255449.266b08"]]},{"id":"8a5cf70f.b2acb8","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"rolling","payload":"rolling","topic":"","group":"Emotions","order":1,"x":290,"y":103,"wires":[["ef255449.266b08"]]},{"id":"e8a9b6ca.0442a8","type":"ui_button","z":"14c5ff8.b9f4881","tab":"cd71d456.b6cf8","name":"surprised","payload":"angry","topic":"surprise_mit_augen","group":"Emotions","order":1,"x":336,"y":147,"wires":[["ef255449.266b08"]]}]