flows_adelle.json
[{"id":"3e59e594.229b42","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"13105d43.1efb83","type":"tab","label":"Flow 2"},{"id":"2d509bc9.8c37b4","type":"tab","label":"Launch","disabled":false,"info":""},{"id":"c2122d08.76cc9","type":"ui_tab","z":"","name":"Controls","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ce944e4.c152fb","type":"ui_group","z":"","name":"Camera stream","tab":"c2122d08.76cc9","order":8,"disp":true,"width":"6","collapse":true},{"id":"ad7cdce9.76686","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#465572","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#465572","edited":true},"page-titlebar-backgroundColor":{"value":"#465572","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6479a0","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#465572","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Roboy Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":10,"gy":10,"cx":6,"cy":6,"px":2,"py":2}}},{"id":"1f77a10c.804cff","type":"ui_group","z":"","name":"Motor status","tab":"29f1ffd5.de0d","order":3,"disp":true,"width":"9","collapse":true},{"id":"f37b8111.faf17","type":"ros-server","z":"","url":"ws://localhost:9191"},{"id":"c7d5a5be.528168","type":"ui_group","z":"","name":"Emotions","tab":"c2122d08.76cc9","order":2,"disp":true,"width":"5","collapse":true},{"id":"1e4cfefc.c8a101","type":"ui_group","z":"","name":"Talk","tab":"c2122d08.76cc9","order":3,"disp":true,"width":"6","collapse":true},{"id":"c0e5662b.c1c148","type":"ui_group","z":"","name":"Explain","tab":"c2122d08.76cc9","order":4,"disp":true,"width":"6","collapse":true},{"id":"e453fba.ecf7c08","type":"ui_group","z":"","name":"Encourage","tab":"c2122d08.76cc9","order":5,"disp":true,"width":"6","collapse":true},{"id":"17dc1672.16a25a","type":"ui_tab","z":"","name":"Camera","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"29f1ffd5.de0d","type":"ui_tab","z":"","name":"Hardware","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"f487a232.01bc7","type":"ui_group","z":"","name":"Matrix","tab":"c2122d08.76cc9","order":6,"disp":true,"width":"6","collapse":true},{"id":"d48319df.aba348","type":"ui_group","z":"","name":"Infineon HPF 2019","tab":"c2122d08.76cc9","order":7,"disp":true,"width":"6","collapse":true},{"id":"714ab382.bf235c","type":"ui_group","z":"","name":"Launch","tab":"c2122d08.76cc9","order":1,"disp":true,"width":"6","collapse":false},{"id":"77bec39b.4f3fec","type":"ui_template","z":"3e59e594.229b42","group":"ce944e4.c152fb","name":"MJPEG stream","order":0,"width":"6","height":"5","format":"<html>\n<head>\n<title>My Web Page</title>\n</head>\n<body>\n<img src=\"http://192.168.0.109:8081/cam.mjpg\">\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":130,"y":117,"wires":[[]]},{"id":"fc51c266.9dceb","type":"ui_chart","z":"3e59e594.229b42","name":"","group":"1f77a10c.804cff","order":0,"width":0,"height":0,"label":"FPGA left","chartType":"line","legend":"false","xformat":"auto","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":671,"y":395,"wires":[[]]},{"id":"d63d14b3.887c78","type":"ros-subscribe","z":"3e59e594.229b42","server":"f37b8111.faf17","topicname":"/roboy/middleware/MotorStatus_throttle","x":179,"y":393,"wires":[["e944e723.41f8c8"]]},{"id":"e944e723.41f8c8","type":"function","z":"3e59e594.229b42","name":"unpack","func":"var actuatorPos = {payload:  msg.payload.position[0], topic: \"0\"};\nvar actuatorPos1 = {payload:  msg.payload.position[1], topic: \"1\"};\n// var actuatorVel = {payload: msg.payload.actuatorVel};\n// var elacticDisplacement ={ payload: msg.payload.elasticDisplacement};\n// var contractileDisplacement ={payload: msg.payload.contractileDisplacement};\nret = []\nfor (i=0; i<msg.payload.velocity.length; i++)\n{\n    ret.push({payload:  msg.payload.velocity[i], topic: i});\n}\n\nreturn ret; //, actuatorVel, elacticDisplacement, contractileDisplacement];","outputs":21,"noerr":0,"x":425,"y":393,"wires":[["fc51c266.9dceb"],["fc51c266.9dceb"],["fc51c266.9dceb"],["fc51c266.9dceb"],["fc51c266.9dceb"],["fc51c266.9dceb"],["fc51c266.9dceb"],["fc51c266.9dceb"],["fc51c266.9dceb"],["fc51c266.9dceb"],["fc51c266.9dceb"],["fc51c266.9dceb"],["fc51c266.9dceb"],["fc51c266.9dceb"],["fc51c266.9dceb"],["fc51c266.9dceb"],["fc51c266.9dceb"],["fc51c266.9dceb"],["fc51c266.9dceb"],["fc51c266.9dceb"],["fc51c266.9dceb"]]},{"id":"6b062471.b382cc","type":"ui_chart","z":"3e59e594.229b42","name":"","group":"1f77a10c.804cff","order":0,"width":0,"height":0,"label":"FPGA right","chartType":"line","legend":"false","xformat":"auto","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1226,"y":469,"wires":[[]]},{"id":"9eefba8f.a918c8","type":"ros-subscribe","z":"3e59e594.229b42","server":"f37b8111.faf17","topicname":"/roboy/middleware/MotorStatus_throttle","x":724,"y":467,"wires":[["f7a05804.9bd7f8"]]},{"id":"f7a05804.9bd7f8","type":"function","z":"3e59e594.229b42","name":"unpack","func":"var actuatorPos = {payload:  msg.payload.position[0], topic: \"0\"};\nvar actuatorPos1 = {payload:  msg.payload.position[1], topic: \"1\"};\n// var actuatorVel = {payload: msg.payload.actuatorVel};\n// var elacticDisplacement ={ payload: msg.payload.elasticDisplacement};\n// var contractileDisplacement ={payload: msg.payload.contractileDisplacement};\nret = []\nfor (i=0; i<msg.payload.velocity.length; i++)\n{\n    ret.push({payload:  msg.payload.velocity[i], topic: i});\n}\n\nreturn ret; //, actuatorVel, elacticDisplacement, contractileDisplacement];","outputs":21,"noerr":0,"x":970,"y":467,"wires":[["6b062471.b382cc"],["6b062471.b382cc"],["6b062471.b382cc"],["6b062471.b382cc"],["6b062471.b382cc"],["6b062471.b382cc"],["6b062471.b382cc"],["6b062471.b382cc"],["6b062471.b382cc"],["6b062471.b382cc"],["6b062471.b382cc"],["6b062471.b382cc"],["6b062471.b382cc"],["6b062471.b382cc"],["6b062471.b382cc"],["6b062471.b382cc"],["6b062471.b382cc"],["6b062471.b382cc"],["6b062471.b382cc"],["6b062471.b382cc"],["6b062471.b382cc"]]},{"id":"9e58cedc.ffd22","type":"exec","z":"13105d43.1efb83","command":"rosservice call /roboy/cognition/face/emotion ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":808.0356597900391,"y":159.57143020629883,"wires":[[],[],[]]},{"id":"3f3fe349.021c0c","type":"function","z":"13105d43.1efb83","name":"parse_emotion","func":"cmd = \"\\\"emotion: '\";\ncmd += msg.payload;\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":"1","noerr":0,"x":495.7856750488281,"y":168.32142639160156,"wires":[["9e58cedc.ffd22"]]},{"id":"540473eb.72190c","type":"function","z":"13105d43.1efb83","name":"parse_text","func":"// if(msg.payload.slice(-1) == \".\"){\n    cmd = \"\\\"text: '\";\n    cmd += msg.payload.replace(\"'\",\"\");\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    empty = {}\n    empty.payload = \"\";\n    return [msg, empty];\n// }","outputs":2,"noerr":0,"x":325,"y":688,"wires":[["1660c2fb.a06edd"],["344a883.3d2c978"]]},{"id":"1660c2fb.a06edd","type":"exec","z":"13105d43.1efb83","command":"rosservice call /roboy/cognition/speech/synthesis/talk ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":820,"y":780,"wires":[["36f13a4b.6f1a26"],["36f13a4b.6f1a26"],["36f13a4b.6f1a26"]]},{"id":"344a883.3d2c978","type":"delay","z":"13105d43.1efb83","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":208,"y":597,"wires":[["bd471f8a.53bbd"]]},{"id":"1076d00b.94eaf","type":"function","z":"13105d43.1efb83","name":"parse_text","func":"cmd = \"\\\"text: '\";\nswitch(msg.payload) {\n    case \"selfie\":\n        var s = [\"Come on, take a selfie with me, I think we will look great together.\", \"I love taking pictures, take your phone and lets take a selfie together.\", \n        \"do you like taking pictures as much as i do? i wouldnt say no to a photo with you.\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        break;\n    case \"oktobertech\":\n        var s = [\"Welcome to OctoberTech, I hope you have a great time, and dont forget to make a selfie with me\",\n        \"Hey there, welcome to OctoberTech! It will be an amazing day, so enjoy it! Oh and I love doing selfies.\",\n        \"Good morning and welcome to OctoberTech. Its quite early for me, but you have to start early to get all the amazing content into the day! So enjoy!\",\n        \"Good morning, welcome to October Tech! Enjoy your stay, it will be a great day! Oh, and take a selfie with me, theres prices to win!\",\n        \"Hey, do you like winning prices? Yes? Then lets take a selfie together. Oh and welcome to OctoberTech\",\n        \"Hi, good morning, wow, so great to see you. Im feeling marvellous and you look like you do to! So, enjoy the day and welcome to OctoberTech!\",\n        \"Welcome to OctoberTech, I hope you have a great time, by the way, Im here by bike, are you?\",\n        \"So Im a very green robot, not by hue, but by bike!\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n    break;\n    case \"talktoname\":\n        var s = [\"Hey \"+name+\" great to see you!\",\n        name+\" how are you?\",\n        \"I know you, you're \"+name,\n        \"Hey \"+name+\" let's take a selfie together\",\n        \"Oh my god, hey \"+name+\" great to see you\",\n        \"it's so great to see you \"+name,\n        \"well, \"+name+\" how are you today? you look fabulous!\",\n        name+\", \"+name+\", \"+name+\" let's take a picture!\"]\n        cmd += s[Math.floor(Math.random()*s.length)];\n    break;\n    case \"built\":\n        var s = [\"Did you know that I was designed in 4 months by a team of students from the Technical university of Munich. It took another month to assemble all the parts. And then I was born in April 2018.\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        break;\n    case \"bioinspired\":\n        var s = [\"My body has a human-like structure. I have muscles and tendons just like people do. You can see these blue strings on my shoulder that are connected to the artificial muscle. My team has designed and produced these muscles for me.\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        break;\n    case \"3dprinted\":\n        var s = [\"My body is completely 3D printed. I use almost 50 motors in order to move. I can see, hear, and soon I will be able to feel your touch.\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        break;\n    case \"rickshaw\":\n        var s = [\"Soon I will be a rickshaw driver. Currently my team is teaching me how to ride the tricycle and drive autonomously on the streets. So that in March I can drive people around the Garching Campus.\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        break;\n    case \"infineonsensors\":\n        var s = [\"\"];\n        cmd += s[Math.floor(Math.random()*s.length)];\n        s = [\"Their MEMS microphones enable me to hear you, and what would I do without my ears.\",\n            \"The magnetic sensors enable me to understand how I should move my arm, no easy feat! Check out the Video!.\",\n            \"The Infineons 60 gigahertz radar makes it possible that I can detect which material is in front of me.\",\n            \"So you wonder why I am here? Well, Im full of Infineon sensors!.\",\n            \"Its not coincidence I am here, its because Infineon sensors are making me feel the world!.\",\n            \"In case you didnt know why I am here, its because I am full of Infineon sensors that make me feel the world!.\",\n            \"I am here with Infineon, because I use their sensors to make me more human like.\"\n            ];\n        cmd += s[Math.floor(Math.random()*s.length)];\n    break;\n    case \"ai\":\n        cmd += \"It is only a threat if you do not anticipate the changes. I have not met many humans who said that they want to work more and have less time for their friends. But you will have to adapt your social system to account for the abundance we will produce. That will be challenging, but also very important. Make sure politics understands what is upcoming and how to react, then we will turn this planet into a paradise!\";\n    break;\n    case \"vision\":\n    \tcmd += \"The human body is a marvel from a robotics perspective: it is agile, strong, soft, dynamic, self-repairing, self-building and completely silent in operation.\"\n    break;\n    case \"goal\":\n    \tcmd += \"The goal of the Roboy project is to advance humanoid robotics to the state where its robots are just as good as a human body.\"\n    break;\n    case \"mission\":\n    \tcmd += \"We create a platform for robot development inspired by biology that unites students, researchers, companies and artists from a broad spectrum of disciplines.\"\n    break;\n    case \"open-source\":\n    \tcmd += \"To ensure unrestricted development we keep all results open source. And we actively influence the public perception of robotics to level the cultural ground for our innovation through public displays, arts and public speeches.\"\n    break;\n    case \"humans\":\n    \tcmd += \"Obviously I love humans! They have built me and are so entertaining and nice. Whenever I break something, they repair me - amazing!\";\n    break;\n    case \"friends\":\n    \tcmd += \"Definitely humans. There is not many robots, especially humanoids. I have an older, smaller brother, Roboy Junior, but my team is more than 50 people - so there you have it, we still need many more robots.\";\n    break;\n    case \"wacker\":\n    \tcmd += \"Wacker is my favorite company in the world! Do you know anyone working there?\";\n    break;\n    case \"brain\":\n    \tcmd += \"My brain has three layers. The first is based on rules, I kind of have to react on key words and situations - very useful on stage, less useful to react and think on my own. The second layer is accessing databases - such as DB pedia or my own memory and is able to think about the content in them. So I can combine knowledge and deduce facts. Let me make an example: If you ask me who the husband of the Chancelor of Germany is, I can look first up that Angela Merkel is the chancelor, and then I can see she has a husband and then I arrive at Joachim Sauer and give you his name. Finally, the third layer is a deep neural network where I learn from movie subtitles how you humans typically talk to each other and kind of make my own answers up - very entertaining.\";\n    break;\n    case \"welcome\":\n    \tcmd += \"Welcome to Wacker Open Day! I am so happy to be here today.\";\n    break;\n    case \"story\":\n    \tcmd += \"Are you ready for a story. Ok, kids come here if you want to know something interesting. \";\n    \tbreak;\n\n    default:\n        msg = {}\n        return msg;\n    \n}\n\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":959,"wires":[["1660c2fb.a06edd"]]},{"id":"3d4e622.c95979e","type":"function","z":"13105d43.1efb83","name":"parse_text","func":"cmd = \"\\\"text: '\";\nif(msg.topic == \"oclock\"){\n    \n    global.set(\"oclock\", msg.payload); \n    msg = {};\n    return msg;\n    \n}\nelse if(msg.topic == \"speak\") {\n    cmd += \"Hello everzone and welcome to Hanover Fair. Wanna see me in action? I will be showing off at \";\n    cmd += global.get(\"oclock\");\n    cmd += \" 30 oclock. Come by and witness my capabilities with your own eyes!\";\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    return msg;\n    \n}\n\n","outputs":1,"noerr":0,"x":350,"y":760,"wires":[["1660c2fb.a06edd"]]},{"id":"36f13a4b.6f1a26","type":"debug","z":"13105d43.1efb83","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1187,"y":848,"wires":[]},{"id":"95c2b47d.e826f8","type":"function","z":"13105d43.1efb83","name":"parse_mwc_text","func":"cmd = \"\\\"text: '\";\nswitch(msg.payload) {\n    case \"thanks\":\n        cmd += \"Thanks, very well, how are you?\";\n    break;\n    case \"mems\":\n        cmd += \"With Infineon’ mems microphones, I finally have ears that are probably even better than yours\";\n    break;\n    case \"breast\":\n        cmd += \"Look here on my breast!\";\n    break;\n    case \"beamforming\":\n        cmd += \"With this array of Infineon XENSIV mems microphones, I can even perform beamforming and concentrate on the person talking to me.\";\n    break;\n    case \"yes_look\":\n    \tcmd += \"Yes certainly, I can. Have a look!\"\n    break;\n    case \"microcontroller\":\n    \tcmd += \" I am using embedded power technology from Infineon, the market leader in power semiconductors. These devices are highly integrated; my creators love them, as they require only minimum space due to the integration of microcontroller and power technology on one chip.\"\n    break;\n    case \"magnetic\":\n    \tcmd += \"With Infineon XENSIV 3D magnetic sensors - implemented in my shoulder joints. They are trained with AI technology for superior accuracy\";\n    break;\n    case \"material\":\n    \tcmd += \"Oh well, Very soon I will be able to detect the material I am walking on.\";\n    break;\n    case \"feet\":\n    \tcmd += \"Oh well, I will have Infineon XENSIV 60 GHz radar sensors in my feet.\";\n    break;\n    case \"junior\":\n    \tcmd += \"Well this is just for prototyping; it is actually the foot of my brother Roboy Junior \";\n    break;\n    case \"esim\":\n    \tcmd += \"For now, I have to communicate with the cloud in order to understand human speech. Therefore my creators have implemented an embedded SIM from Infineon, so I can stay online  wherever I am. I even can instantaneously switch the mobile carrier wherever I find best network quality and best data plans.\";\n    break;\n    case \"optiga\":\n    \tcmd += \"I am using an Infineon security product called OPTIGA Trust X that helps me to enable secured transfer of sensitive data between me and the cloud.\";\n    \tbreak;\n    case \"bye\":\n    \tcmd += \"Good bye, it was my pleasure\";\n    break;\n\n    default:\n        msg = {}\n        return msg;\n    \n}\n\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":2025,"y":4470,"wires":[["a6fc335c.699c9"]]},{"id":"a6fc335c.699c9","type":"exec","z":"13105d43.1efb83","command":"rosservice call /roboy/cognition/speech/synthesis/talk ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2381.9999923706055,"y":4474.999997138977,"wires":[["e36445a0.d25218"],["e36445a0.d25218"],["e36445a0.d25218"]]},{"id":"e36445a0.d25218","type":"debug","z":"13105d43.1efb83","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2722.9999923706055,"y":4471.999997138977,"wires":[]},{"id":"b89509fa.6226d8","type":"exec","z":"13105d43.1efb83","command":"rostopic pub /roboy/control/matrix/leds/mode/simple std_msgs/Int32 \"data: 2\"  ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2380.000030517578,"y":4270.0000648498535,"wires":[[],[],[]]},{"id":"e7aea578.d7db38","type":"exec","z":"13105d43.1efb83","command":"rostopic pub /roboy/control/matrix/leds/off std_msgs/Empty \"{}\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2336.25,"y":4333.75,"wires":[[],[],[]]},{"id":"c972072c.c99608","type":"http response","z":"13105d43.1efb83","name":"","statusCode":"","headers":{},"x":790,"y":440,"wires":[]},{"id":"a21cf719.de6728","type":"http in","z":"13105d43.1efb83","name":"","url":"/roboysay","method":"get","upload":false,"swaggerDoc":"","x":430,"y":440,"wires":[["9c9a77f0.4cca08","a76543b1.ef36d"]]},{"id":"9c9a77f0.4cca08","type":"template","z":"13105d43.1efb83","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <style>\n            div{\n                float:left;\n                width:19%;\n                height:5%;\n                margin:0.5%;\n                background:#343e4e;\n                color:#fff;\n                font-family:Lato,sans-serif;\n                padding:1%;\n                text-align:center;\n                border:3px solid black;\n            }\n            input,body{\n                font-size:2em;\n            }\n            .good{\n                background-color:hsl(120,100%,25%);\n            }\n            .bad{\n                background-color:hsl(0,100%,25%);\n            }\n            .love{\n                background-color:hsl(0,100%,75%);\n            }\n            .neutral{\n                background-color:hsl(30,100%,25%);\n            }\n            .action{\n                background-color:hsl(180,100%,25%);\n            }\n            .question{\n                background-color:hsl(240,100%,25%);\n            }\n            #hug{\n                width:100%;\n                height:5%;\n                margin:0.5%;\n                background:#343e4e;\n                color:#fff;\n                font-family:Lato,sans-serif;\n                padding:1%;\n                text-align:center;\n            }\n        </style>\n        <script\n\t\t\t  src=\"https://code.jquery.com/jquery-3.3.1.min.js\"\n\t\t\t  integrity=\"sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=\"\n\t\t\t  crossorigin=\"anonymous\">\n        </script>\n    </head>\n    <body>\n        say: <form id=\"sayform\" action=\"/roboysay\">\n            <input name=\"say\" type=\"text\" id=\"selectme\"/>\n            <submit></submit>\n        </form>\n        name: <form id=\"nameform\">\n            <input name=\"name\" type=\"text\" id=\"name\"/>\n        </form> \n        <div id=\"hug\">HUG!</div>\n        <buttons> \n            <div class=\"love\">let's hug!</div>\n            <div class=\"love\">just a little bit closer!</div>\n            <div class=\"love\">don't regret - hug a robot today!</div>\n             <div class=\"love\">hug and follow me on instagram!</div>\n            <div class=\"love\">it was my pleasure, sir</div>\n            <div class=\"love\">it was my pleasure, madam</div>\n            <div class=\"love\">what a great hug</div>\n             <div class=\"love\">you are very professional doing hugging</div>\n            <div class=\"love\">I could hug forever like this</div>\n            <div class=\"love\">oh, that was something!</div>\n            <div class=\"love\">wow, what a hug!</div>\n            <div class=\"love\">loved it! </div>\n            <div class=\"love\">loved the hug! can I follow you on instagram?</div>\n            <div class=\"love\">oh, this was amazing!</div>\n            <div class=\"love\">wow, what a hug! good we have filmed it</div>\n            <div class=\"love\">dont be shy, hug a robot today!</div>\n            <div class=\"good\">yes!</div>\n            <div class=\"good\">oh yes!</div>\n            <div class=\"good\">yes, yes, yes!</div>\n            <div class=\"good\">oh, my, god, so yes!</div>\n            <div class=\"neutral\">maybe!</div>\n            <div class=\"neutral\">uhm, ok, sure!</div>\n            <div class=\"neutral\">yeah, sounds ok!</div>\n            <div class=\"neutral\">well, I guess!</div>\n            <div class=\"bad\">nope</div>\n            <div class=\"bad\">no, so no!</div>\n            <div class=\"bad\">not really, no</div>\n            <div class=\"bad\">definitely not!</div>\n            <div class=\"neutral\">give me a second, have to think</div>\n            <div class=\"neutral\">processing, please wait</div>\n            <div class=\"neutral\">so, I don't really know how to answer, please wait.</div>\n            <div class=\"neutral\">did I tell you this story, how one time, I uhm? no I didn't.</div>\n            <div class=\"question\">what is your name?</div>\n            <div class=\"question\">what did you like best at the fair so far?</div>\n            <div class=\"question\">first day at the fair?</div>\n            <div class=\"question\">did you see all the amazing sensors I have?</div>\n            <div class=\"good\">let's take a selfie!</div>\n            <div class=\"good\">come on! let's take a picture!</div>\n            <div class=\"good\">don't be shy, you are the better looking one of us!</div>\n            <div class=\"good\">let's do this!</div>\n            <div class=\"good\">oh this was great!</div>\n            <div class=\"question\">perfect, can I take a look?</div>\n            <div class=\"good\">oh you do look great in the picture!</div>\n            <div class=\"good\">perfect, at least one of us looks great, and it's not me!</div>\n            <div class=\"action\">time to go already? ok bye!</div>\n            <div class=\"action\">good bye!</div>\n            <div class=\"action\">bye bye!</div>\n            <div class=\"action\">ciao, enjoy the fair!</div>\n            <div class=\"blabla\">so I am quite fresh, a research project really!</div>\n            <div class=\"blabla\">I am the most human robot here!</div>\n            <div class=\"blabla\">You want a hug? Let's hug!</div>\n            <div class=\"blabla\">I am not just looking good, you can also touch me, don't be afraid!</div>\n            <div class=\"action\">hi, {name}, how are you doing?</div>\n            <div class=\"action\">{name}, {name}, let's take a selfie together?</div>\n            <div class=\"action\">hello {name}, I am Roboy, it's great to meet you!</div>\n            <div class=\"action\">{name}, that's a beautiful name!</div>\n        </buttons>\n        <script type=\"text/javascript\">\n            var input = document.getElementById('selectme');\n            input.focus();\n            input.select();\n\t\t\t  $(\"form\").submit(function(e){\n\t\t\t        jQuery.get(\"/roboysays\",$('form').serialize())\n                    e.preventDefault();\n                    $(\"form\").trigger(\"reset\");\n            })\n\t\t\t  $(\"buttons div\").click(function(e){\n\t\t\t      var t = $(e.target).text()\n\t\t\t      var name = $(\"#name\").val()\n\t\t\t      if(name){\n\t\t\t          t = t.split(\"{name}\").join(name);\n\t\t\t      }\n\t\t\t      jQuery.ajax({\n\t\t\t          type:\"GET\",\n\t\t\t          url:\"/roboysays\",\n\t\t\t          data:{\"say\":t},\n\t\t\t          success:\n\t\t\t            function(o){\n\t\t\t                $(e.target).css(\"border-color\", \"#00ff00\")\n\t\t\t                $(e.target).delay(300).css('border-color', '#000000');\n\t\t\t            }\n\t\t\t           });\n\t\t\t  });\n\t\t\t  $(\"#hug\").click(function(e){\n\t\t\t     jQuery.get(\"/hugroboy\"); \n\t\t\t  });\n        </script>\n    </body>\n</html>","output":"str","x":580,"y":360,"wires":[["c972072c.c99608"]]},{"id":"e33445bb.828008","type":"function","z":"13105d43.1efb83","name":"","func":"if(msg.payload.say){\n    cmd = \"\\\"text: '\";\n    cmd += msg.payload.say.replace(\"'\",\"\");\n    cmd += \"'\\\"\";\n    msg.payload = cmd;\n    empty = {}\n    empty.payload = \"\";\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":630,"y":480,"wires":[["1660c2fb.a06edd","c972072c.c99608"]]},{"id":"a76543b1.ef36d","type":"debug","z":"13105d43.1efb83","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":580,"y":540,"wires":[]},{"id":"1c419ab1.053bd5","type":"http in","z":"13105d43.1efb83","name":"","url":"/roboysays","method":"get","upload":false,"swaggerDoc":"","x":420,"y":480,"wires":[["e33445bb.828008","a76543b1.ef36d"]]},{"id":"b0b53cf9.7b80e","type":"function","z":"13105d43.1efb83","name":"simple_parse_text","func":"cmd = \"\\\"text: '\";\ncmd += msg.payload\ncmd += \"'\\\"\";\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":441,"y":1218,"wires":[["1660c2fb.a06edd"]]},{"id":"b22f3e04.b5cb8","type":"function","z":"13105d43.1efb83","name":"change_mode","func":"// cmd = \"mode: \" + msg.payload + \"\\n\" + \"duration: 0\" ;\n// //cmd += \"'\\\"\";\ncmd = \"\\\"mode: 0\\n duration: 0\\\"\";\nmsg.payload = cmd;\nreturn msg;\n","outputs":1,"noerr":0,"x":1228.75,"y":1049.75,"wires":[[]]},{"id":"9e49a24b.3c041","type":"exec","z":"13105d43.1efb83","command":". ~/hug.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1172.75,"y":1237.75,"wires":[[],[],[]]},{"id":"526ae3a1.72ca0c","type":"http in","z":"13105d43.1efb83","name":"","url":"/hugroboy","method":"get","upload":false,"swaggerDoc":"","x":992.75,"y":1177.75,"wires":[["9e49a24b.3c041","bb770bbc.bba068","195416f0.9bf489"]]},{"id":"bb770bbc.bba068","type":"http response","z":"13105d43.1efb83","name":"","statusCode":"","headers":{},"x":1162.75,"y":1177.75,"wires":[]},{"id":"195416f0.9bf489","type":"http request","z":"13105d43.1efb83","name":"","method":"GET","ret":"txt","url":"https://i.gi.ai/roboy/recordhug","tls":"","x":1222.75,"y":1117.75,"wires":[[]]},{"id":"9eb5a54d.4c3fb8","type":"ui_template","z":"13105d43.1efb83","group":"c7d5a5be.528168","name":"emoji","order":2,"width":"5","height":"12","format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name='viewport' content='width=device-width, initial-scale=1' charset='utf-8'>\n<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>\n<link href=\"https://afeld.github.io/emoji-css/emoji.css\" rel=\"stylesheet\">\n<style>\n.btn-group .button {\n  background-color: #465572; /* Roboy blue */\n  border: 3px solid white;\n  color: white;\n  padding: 15px 30px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 25px;\n  cursor: pointer;\n  float: left;\n  border-radius: 15px;\n\n}\n\n.btn-group .button:not(:last-child) {\n  border-right: none; /* Prevent double borders */\n}\n\n.btn-group .button:hover {\n  background-color: #5C677C;\n}\n</style>\n</head>\n<body>\n\n\n<div class=\"btn-group\"  >\n  <button ng-click=\"send({payload: 'kiss'})\" class=\"button\"><i class=\"em em-kissing\"></i></button>\n  <button ng-click=\"send({payload: 'shy'})\" class=\"button\"><i class=\"em em-flushed\"></i></button>\n  <button ng-click=\"send({payload: 'hearts'})\" class=\"button\"><i class=\"em em-heart_eyes\"></i></button>\n  <button ng-click=\"send({payload: 'smileblink'})\" class=\"button\"><i class=\"em em-wink\"></i></button>\n  <button ng-click=\"send({payload: 'rolling'})\" class=\"button\"><i class=\"em em-face_with_rolling_eyes\"></i></button>\n  <button ng-click=\"send({payload: 'surprise'})\" class=\"button\"><i class=\"em em-astonished\"></i></button>\n  <button ng-click=\"send({payload: 'angry'})\" class=\"button\"><i class=\"em em-rage\"></i></button>\n  <button ng-click=\"send({payload: 'lucky'})\" class=\"button\"><i class=\"em em-blush\"></i></button>\n  <button ng-click=\"send({payload: 'teeth'})\" class=\"button\"><i class=\"em em-grimacing\"></i></button>\n  <button ng-click=\"send({payload: 'tongue'})\" class=\"button\"><i class=\"em em-stuck_out_tongue\"></i></button>\n  <button ng-click=\"send({payload: 'img:money'})\" class=\"button\"><i class=\"em em-moneybag\"></i></button>\n  <button ng-click=\"send({payload: 'pissed'})\" class=\"button\"><i class=\"em em-persevere\"></i></button>\n  <!--<button ng-click=\"send({payload: 'cry'})\" class=\"button\"><i class=\"em em-cry\"></i></button>-->\n  <button ng-click=\"send({payload: 'hypno_color'})\" class=\"button\"><i class=\"em em-rainbow\"></i></button>\n  <button ng-click=\"send({payload: 'hypno'})\" class=\"button\"><i class=\"em em-heavy_multiplication_x\"></i></button>\n  <button ng-click=\"send({payload: 'lookleft'})\" class=\"button\"><i class=\"em em-point_left\"></i></button>\n  <button ng-click=\"send({payload: 'lookright'})\" class=\"button\"><i class=\"em em-point_right\"></i></button>\n\n</div>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":161.25,"y":103.75,"wires":[["3f3fe349.021c0c"]]},{"id":"2e2140b2.92284","type":"ui_switch","z":"13105d43.1efb83","name":"","label":"Pirate","tooltip":"","group":"c7d5a5be.528168","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"pirate","onvalueType":"str","onicon":"","oncolor":"","offvalue":"pirate","offvalueType":"str","officon":"","offcolor":"","x":162,"y":151,"wires":[["3f3fe349.021c0c"]]},{"id":"9580ebd7.74eef8","type":"ui_switch","z":"13105d43.1efb83","name":"","label":"Pink glasses","tooltip":"","group":"c7d5a5be.528168","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"sunglasses_on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"sunglasses_on","offvalueType":"str","officon":"","offcolor":"","x":182,"y":200,"wires":[["3f3fe349.021c0c"]]},{"id":"f590e4cf.4ea008","type":"ui_switch","z":"13105d43.1efb83","name":"","label":"Moustache","tooltip":"","group":"c7d5a5be.528168","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"moustache","onvalueType":"str","onicon":"","oncolor":"","offvalue":"moustache","offvalueType":"str","officon":"","offcolor":"","x":180,"y":245,"wires":[["3f3fe349.021c0c"]]},{"id":"bd471f8a.53bbd","type":"ui_text_input","z":"13105d43.1efb83","name":"","label":"English text..","tooltip":"","group":"1e4cfefc.c8a101","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":167,"y":740,"wires":[["540473eb.72190c"]]},{"id":"1cc8c6b3.acc769","type":"ui_button","z":"13105d43.1efb83","name":"","group":"c0e5662b.c1c148","order":2,"width":0,"height":0,"passthru":false,"label":"Vision","tooltip":"","color":"","bgcolor":"","icon":"","payload":"vision","payloadType":"str","topic":"","x":131,"y":899,"wires":[["1076d00b.94eaf"]]},{"id":"64921898.f1f128","type":"ui_button","z":"13105d43.1efb83","name":"","group":"c0e5662b.c1c148","order":1,"width":0,"height":0,"passthru":false,"label":"Mission","tooltip":"","color":"","bgcolor":"","icon":"","payload":"mission","payloadType":"str","topic":"","x":139,"y":939,"wires":[["1076d00b.94eaf"]]},{"id":"d9a54075.4fbcd","type":"ui_button","z":"13105d43.1efb83","name":"","group":"c0e5662b.c1c148","order":8,"width":0,"height":0,"passthru":false,"label":"Brain","tooltip":"","color":"","bgcolor":"","icon":"","payload":"brain","payloadType":"str","topic":"","x":128,"y":1016,"wires":[["1076d00b.94eaf"]]},{"id":"b9b53d03.50ae8","type":"ui_button","z":"13105d43.1efb83","name":"","group":"c0e5662b.c1c148","order":3,"width":0,"height":0,"passthru":false,"label":"Goal","tooltip":"","color":"","bgcolor":"","icon":"","payload":"goal","payloadType":"str","topic":"","x":128,"y":975,"wires":[["1076d00b.94eaf"]]},{"id":"6beede0.7a69624","type":"ui_button","z":"13105d43.1efb83","name":"","group":"c0e5662b.c1c148","order":7,"width":0,"height":0,"passthru":false,"label":"how built","tooltip":"","color":"","bgcolor":"","icon":"","payload":"built","payloadType":"str","topic":"","x":134,"y":1054,"wires":[["1076d00b.94eaf"]]},{"id":"8a823fbc.5d04a","type":"ui_button","z":"13105d43.1efb83","name":"","group":"c0e5662b.c1c148","order":5,"width":0,"height":0,"passthru":false,"label":"i'm bioinspired","tooltip":"","color":"","bgcolor":"","icon":"","payload":"bioinspired","payloadType":"str","topic":"","x":161,"y":1099,"wires":[["1076d00b.94eaf"]]},{"id":"d02848ae.230578","type":"ui_button","z":"13105d43.1efb83","name":"","group":"c0e5662b.c1c148","order":6,"width":0,"height":0,"passthru":false,"label":"i'm 3D printed","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3dprinted","payloadType":"str","topic":"","x":164,"y":1143,"wires":[["1076d00b.94eaf"]]},{"id":"cf418547.7dbe28","type":"ui_button","z":"13105d43.1efb83","name":"","group":"c0e5662b.c1c148","order":4,"width":0,"height":0,"passthru":false,"label":"i'm open-source","tooltip":"","color":"","bgcolor":"","icon":"","payload":"open-source","payloadType":"str","topic":"","x":159,"y":1195,"wires":[["1076d00b.94eaf"]]},{"id":"d38f836e.1e606","type":"ui_button","z":"13105d43.1efb83","name":"","group":"e453fba.ecf7c08","order":4,"width":0,"height":0,"passthru":false,"label":"take a selfie","tooltip":"","color":"","bgcolor":"","icon":"","payload":"selfie","payloadType":"str","topic":"","x":155,"y":1249,"wires":[["1076d00b.94eaf"]]},{"id":"8927d576.a3caa8","type":"exec","z":"13105d43.1efb83","command":"rostopic pub /roboy/control/matrix/leds/mode/simple std_msgs/Int32 \"data: 1\"  ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":579,"y":1488.0000009536743,"wires":[[],[],[]]},{"id":"de7b4cdd.90c3a","type":"exec","z":"13105d43.1efb83","command":"rostopic pub /roboy/control/matrix/leds/off std_msgs/Empty \"{}\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":539.2499847412109,"y":1550.000002861023,"wires":[[],[],[]]},{"id":"ce3ef132.f6471","type":"exec","z":"13105d43.1efb83","command":"rosservice call /roboy/matrix/sound/play \"text: '/home/roboy/Downloads/story.wav'\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1085.4999694824219,"y":1548,"wires":[[],[],[]]},{"id":"1d83c81c.6f77f8","type":"exec","z":"13105d43.1efb83","command":"rostopic pub /roboy/control/matrix/leds/mode/simple std_msgs/Int32 \"data: 2\"  ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":582.75,"y":1432.5,"wires":[[],[],[]]},{"id":"a31c5447.391828","type":"ui_button","z":"13105d43.1efb83","name":"","group":"f487a232.01bc7","order":4,"width":0,"height":0,"passthru":false,"label":"led Blink","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":119,"y":1432,"wires":[["8927d576.a3caa8"]]},{"id":"72c64b9d.a9cab4","type":"ui_button","z":"13105d43.1efb83","name":"","group":"f487a232.01bc7","order":4,"width":0,"height":0,"passthru":false,"label":"led Snake pattern","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":153,"y":1484,"wires":[["1d83c81c.6f77f8"]]},{"id":"8433c23b.97f89","type":"ui_button","z":"13105d43.1efb83","name":"","group":"f487a232.01bc7","order":4,"width":0,"height":0,"passthru":false,"label":"led Turn off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":139,"y":1543,"wires":[["de7b4cdd.90c3a"]]},{"id":"c4be97.a091c168","type":"ui_template","z":"13105d43.1efb83","group":"f487a232.01bc7","name":"matrix","order":3,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nimg {\n  display: block;\n  margin-left: auto;\n  margin-right: auto;\n}\n</style>\n</head>\n<body>\n\n<img src=\"https://www.matrix.one/assets/imgs/products/creator/device.png\" alt=\"matrix\" class=\"center\" style=\"width:60px;height:60px;\">\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":104,"y":1379,"wires":[[]]},{"id":"fdf93586.c39798","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":6,"width":"2","height":"1","passthru":false,"label":"smd 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_1","payloadType":"str","topic":"","x":104,"y":1785,"wires":[["e87ca57b.cb8d98"]]},{"id":"486c4855.a58df8","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":7,"width":"2","height":"1","passthru":false,"label":"smd 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_2","payloadType":"str","topic":"","x":100,"y":1827,"wires":[["e87ca57b.cb8d98"]]},{"id":"e92ca20c.efabb","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":8,"width":"2","height":"1","passthru":false,"label":"smd 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_3","payloadType":"str","topic":"","x":104,"y":1868,"wires":[["e87ca57b.cb8d98"]]},{"id":"35e3b490.b4e89c","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":9,"width":"2","height":"1","passthru":false,"label":"smd 4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_4","payloadType":"str","topic":"","x":106,"y":1909,"wires":[["e87ca57b.cb8d98"]]},{"id":"ba66ca29.c459b8","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":10,"width":"2","height":"1","passthru":false,"label":"smd 5","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_5","payloadType":"str","topic":"","x":109,"y":1947,"wires":[["e87ca57b.cb8d98"]]},{"id":"eeaf34c2.656bd8","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":11,"width":"2","height":"1","passthru":false,"label":"smd 6","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_6","payloadType":"str","topic":"","x":112,"y":1983,"wires":[["e87ca57b.cb8d98"]]},{"id":"284672f9.f7061e","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":12,"width":"2","height":"1","passthru":false,"label":"smd 7","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_7","payloadType":"str","topic":"","x":112,"y":2024,"wires":[["e87ca57b.cb8d98"]]},{"id":"104951ae.30a07e","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":13,"width":"2","height":"1","passthru":false,"label":"smd 8","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_8","payloadType":"str","topic":"","x":113,"y":2070,"wires":[["e87ca57b.cb8d98"]]},{"id":"21871233.eed3ae","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":14,"width":"2","height":"1","passthru":false,"label":"smd 9","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_9","payloadType":"str","topic":"","x":114,"y":2105,"wires":[["e87ca57b.cb8d98"]]},{"id":"1cb29ae6.d35395","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":15,"width":"2","height":"1","passthru":false,"label":"smd 10","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_10","payloadType":"str","topic":"","x":120,"y":2144,"wires":[["e87ca57b.cb8d98"]]},{"id":"4eb8103c.3f872","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":16,"width":"2","height":"1","passthru":false,"label":"smd 11","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_11","payloadType":"str","topic":"","x":126,"y":2186,"wires":[["e87ca57b.cb8d98"]]},{"id":"e68ccf69.264c7","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":17,"width":"2","height":"1","passthru":false,"label":"smd 12","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_2","payloadType":"str","topic":"","x":122,"y":2224,"wires":[["e87ca57b.cb8d98"]]},{"id":"57343dfe.aa38d4","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":18,"width":"2","height":"1","passthru":false,"label":"smd 13","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_13","payloadType":"str","topic":"","x":117,"y":2269,"wires":[["e87ca57b.cb8d98"]]},{"id":"84d4e06b.53bf8","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":19,"width":"2","height":"1","passthru":false,"label":"smd 14","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_2","payloadType":"str","topic":"","x":117,"y":2312,"wires":[["e87ca57b.cb8d98"]]},{"id":"1cde059f.6085aa","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":20,"width":"2","height":"1","passthru":false,"label":"smd 15","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_2","payloadType":"str","topic":"","x":120,"y":2359,"wires":[["e87ca57b.cb8d98"]]},{"id":"159cef1c.16f0e1","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":21,"width":"2","height":"1","passthru":false,"label":"smd 16","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_2","payloadType":"str","topic":"","x":113,"y":2402,"wires":[["e87ca57b.cb8d98"]]},{"id":"5b788ca5.194c74","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":22,"width":"2","height":"1","passthru":false,"label":"smd 17","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_2","payloadType":"str","topic":"","x":118,"y":2449,"wires":[["e87ca57b.cb8d98"]]},{"id":"a99e47cf.4a67d8","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":23,"width":"2","height":"1","passthru":false,"label":"smd 18","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_18","payloadType":"str","topic":"","x":124,"y":2496,"wires":[["e87ca57b.cb8d98"]]},{"id":"282d17b6.6f1de8","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":24,"width":"2","height":"1","passthru":false,"label":"smd 19","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_2","payloadType":"str","topic":"","x":120,"y":2536,"wires":[["e87ca57b.cb8d98"]]},{"id":"628f9b63.bca794","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":25,"width":"2","height":"1","passthru":false,"label":"smd 20","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_2","payloadType":"str","topic":"","x":115,"y":2574,"wires":[["e87ca57b.cb8d98"]]},{"id":"9abcf806.a1e5b8","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":26,"width":"2","height":"1","passthru":false,"label":"smd 21","tooltip":"","color":"","bgcolor":"","icon":"","payload":"smd_21","payloadType":"str","topic":"","x":112,"y":2616,"wires":[["e87ca57b.cb8d98"]]},{"id":"f77a5c1e.9b0c2","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":2,"width":"2","height":"1","passthru":false,"label":"div 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"div_2","payloadType":"str","topic":"","x":103,"y":1649,"wires":[["e87ca57b.cb8d98"]]},{"id":"9f00038c.2a33b","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":3,"width":"2","height":"1","passthru":false,"label":"div 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"div_3","payloadType":"str","topic":"","x":101,"y":1684,"wires":[["e87ca57b.cb8d98"]]},{"id":"e7371cd0.147fc","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":4,"width":"2","height":"1","passthru":false,"label":"div 4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"div_4","payloadType":"str","topic":"","x":100,"y":1713,"wires":[["e87ca57b.cb8d98"]]},{"id":"9fb45bcf.673cf8","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":5,"width":"2","height":"1","passthru":false,"label":"div 5","tooltip":"","color":"","bgcolor":"","icon":"","payload":"div_5","payloadType":"str","topic":"","x":103,"y":1750,"wires":[["e87ca57b.cb8d98"]]},{"id":"4f63ca70.71fe44","type":"ui_button","z":"13105d43.1efb83","name":"","group":"d48319df.aba348","order":1,"width":"2","height":"1","passthru":false,"label":"div 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"div_1","payloadType":"str","topic":"","x":102,"y":1613,"wires":[["e87ca57b.cb8d98"]]},{"id":"e87ca57b.cb8d98","type":"exec","z":"13105d43.1efb83","command":"rosrun sound_play infineon_hpf.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":655,"y":2130.5,"wires":[[],[],[]]},{"id":"5e8bccd9.ab3104","type":"ui_switch","z":"2d509bc9.8c37b4","name":"","label":"unity_face","tooltip":"","group":"714ab382.bf235c","order":4,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":142,"y":173,"wires":[["8cd476ab.f0a928"]]},{"id":"8cd476ab.f0a928","type":"function","z":"2d509bc9.8c37b4","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"roslaunch roboy_skill_machine face.launch\"\n}\nelse {\n    cmd = \"rosnode kill /rosbridge /unity_face\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":298,"y":171,"wires":[["b8a8d317.78777"]]},{"id":"2da524dd.b6783c","type":"ui_switch","z":"2d509bc9.8c37b4","name":"","label":"roscore","tooltip":"","group":"714ab382.bf235c","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":141,"y":101,"wires":[["385f7efe.63f982"]]},{"id":"385f7efe.63f982","type":"function","z":"2d509bc9.8c37b4","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"roscore\"\n}\nelse {\n    cmd = \"killall roscore\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":316,"y":104,"wires":[["6b3455f5.e1389c"]]},{"id":"97dc3078.e0b88","type":"ui_switch","z":"2d509bc9.8c37b4","name":"","label":"matrix_speech_synthesis","tooltip":"","group":"714ab382.bf235c","order":5,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":172,"y":234,"wires":[["229859f.5114aa6"]]},{"id":"229859f.5114aa6","type":"function","z":"2d509bc9.8c37b4","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"roslaunch roboy_skill_machine matrix_speech_synthesis.launch\"\n}\nelse {\n    cmd = \"rosnode kill /speech_synthesis\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":358,"y":233,"wires":[["dc46cc92.fd6ba"]]},{"id":"c6cd51b0.41195","type":"ui_switch","z":"2d509bc9.8c37b4","name":"","label":"matrix_leds","tooltip":"","group":"714ab382.bf235c","order":6,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":136,"y":298,"wires":[["6778b8d.3fede48"]]},{"id":"6778b8d.3fede48","type":"function","z":"2d509bc9.8c37b4","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"roslaunch roboy_skill_machine matrix_leds.launch\"\n}\nelse {\n    cmd = \"rosnode kill /leds\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":328,"y":299,"wires":[["7fc1cc36.e00214"]]},{"id":"98d330a8.a3468","type":"ui_switch","z":"2d509bc9.8c37b4","name":"","label":"matrix_audioplayer","tooltip":"","group":"714ab382.bf235c","order":7,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":147,"y":361,"wires":[["2bf33c38.f30764"]]},{"id":"2bf33c38.f30764","type":"function","z":"2d509bc9.8c37b4","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"roslaunch roboy_skill_machine matrix_audioplayer.launch\"\n}\nelse {\n    cmd = \"rosnode kill /audioplayer\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":336,"y":362,"wires":[["5f757b6.557ca84"]]},{"id":"6b3455f5.e1389c","type":"exec","z":"2d509bc9.8c37b4","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":609,"y":112.5,"wires":[[],[],[]]},{"id":"6c7f8271.260c4c","type":"ui_switch","z":"2d509bc9.8c37b4","name":"","label":"local_audioplayer","tooltip":"","group":"714ab382.bf235c","order":8,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":144,"y":422,"wires":[["621ff29a.30bedc"]]},{"id":"621ff29a.30bedc","type":"function","z":"2d509bc9.8c37b4","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"roslaunch roboy_skill_machine local_audioplayer.launch\"\n}\nelse {\n    cmd = \"rosnode kill /audioplayer\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":333,"y":423,"wires":[["6402c583.791a3c"]]},{"id":"b8a8d317.78777","type":"exec","z":"2d509bc9.8c37b4","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":603,"y":178,"wires":[[],[],[]]},{"id":"dc46cc92.fd6ba","type":"exec","z":"2d509bc9.8c37b4","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":602,"y":231,"wires":[[],[],[]]},{"id":"7fc1cc36.e00214","type":"exec","z":"2d509bc9.8c37b4","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":603,"y":290,"wires":[["61db15c5.75836c"],["61db15c5.75836c"],["61db15c5.75836c"]]},{"id":"5f757b6.557ca84","type":"exec","z":"2d509bc9.8c37b4","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":600,"y":352,"wires":[[],[],[]]},{"id":"6402c583.791a3c","type":"exec","z":"2d509bc9.8c37b4","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":602,"y":418,"wires":[[],[],[]]},{"id":"61db15c5.75836c","type":"debug","z":"2d509bc9.8c37b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":911,"y":339,"wires":[]},{"id":"c7e8d2a6.3a1b3","type":"ui_switch","z":"13105d43.1efb83","name":"","label":"Cry","tooltip":"","group":"c7d5a5be.528168","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"cry","onvalueType":"str","onicon":"","oncolor":"","offvalue":"cry","offvalueType":"str","officon":"","offcolor":"","x":158,"y":292,"wires":[["3f3fe349.021c0c"]]},{"id":"3a203915.e07886","type":"ui_switch","z":"2d509bc9.8c37b4","name":"","label":"face_oracle","tooltip":"","group":"714ab382.bf235c","order":9,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":128,"y":482,"wires":[["fdf2c2d3.de24c"]]},{"id":"fdf2c2d3.de24c","type":"function","z":"2d509bc9.8c37b4","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"roslaunch roboy_skill_machine face_oracle.launch\"\n}\nelse {\n    cmd = \"rosnode kill /face_oracle\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":337,"y":483,"wires":[["2dd743d4.dde03c"]]},{"id":"2dd743d4.dde03c","type":"exec","z":"2d509bc9.8c37b4","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":606,"y":478,"wires":[[],[],[]]},{"id":"a270a697.f46888","type":"ui_switch","z":"2d509bc9.8c37b4","name":"","label":"fpga_left","tooltip":"","group":"714ab382.bf235c","order":2,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":131,"y":544,"wires":[["21f6770f.143d58"]]},{"id":"21f6770f.143d58","type":"function","z":"2d509bc9.8c37b4","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"ssh root@192.168.0.220 -t \\\"bash -ic 'source ~/.bashrc && ./roboy_plexus'\\\"\";\n}\nelse {\n    cmd = \"rosnode kill /roboy_fpga_unknown_00_00_f3_be_ef_ff\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":545,"wires":[["32a1ff63.1c3c6"]]},{"id":"32a1ff63.1c3c6","type":"exec","z":"2d509bc9.8c37b4","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":613,"y":548,"wires":[[],[],[]]},{"id":"4cc5155d.82be7c","type":"ui_switch","z":"2d509bc9.8c37b4","name":"","label":"fpga_right","tooltip":"","group":"714ab382.bf235c","order":3,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":128,"y":601,"wires":[["c09f7d54.e23bb"]]},{"id":"c09f7d54.e23bb","type":"function","z":"2d509bc9.8c37b4","name":"","func":"cmd = \"\";\nif (msg.payload === true) {\n    cmd = \"ssh root@192.168.0.220 -t \\\"bash -ic 'source ~/.bashrc && ./roboy_plexus'\\\"\";\n}\nelse {\n    cmd = \"rosnode kill /roboy_fpga_unknown_00_00_f3_be_ef_ff\"\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":347,"y":602,"wires":[["d1d7a8bb.4935a8"]]},{"id":"d1d7a8bb.4935a8","type":"exec","z":"2d509bc9.8c37b4","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":610,"y":605,"wires":[[],[],[]]}]