photoboyflows.json
[{"id":"a092caaf.2b86d8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"92c95e91.4c446","type":"ui_template","z":"a092caaf.2b86d8","group":"482a6377.e7d4ac","name":"","order":9,"width":"18","height":"12","format":"<!--<!DOCTYPE html>-->\n<!--<html>-->\n<!--<head>-->\n<!--<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">-->\n<!--<style>-->\n  <!--/*width: 100%;*/-->\n<!--  height: auto;-->\n  <!--/* Magic! */-->\n<!--  max-width: 5vw;-->\n<!--</style>-->\n<!--</head>-->\n\n<!--<body>-->\n\n<!--<h2>Images on Another Server</h2>-->\n\n<!--<img src=\"http://bot.roboy.org:8081/~roboy/photoboy/pic0001.jpeg\" >-->\n\n<!--</body>-->\n<!--</html>-->\n\n<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nimg {\n  display: block;\n  margin-left: auto;\n  margin-right: auto;\n}\n</style>\n</head>\n<body>\n\n<img src=\"https://bot.roboy.org//{{msg.payload}}.jpeg\" alt=\"photoboy\" class=\"center\">\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":728,"y":115,"wires":[[]]},{"id":"e78520b4.c35cf","type":"exec","z":"a092caaf.2b86d8","command":"rosparam get /snapchat/latest_filename","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":422,"y":163.5,"wires":[["92c95e91.4c446","4286660b.a8bee8","7bfe39db.0eb248"],[],[]]},{"id":"5e5d725d.1d608c","type":"inject","z":"a092caaf.2b86d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":124,"y":161,"wires":[["e78520b4.c35cf"]]},{"id":"4286660b.a8bee8","type":"ui_template","z":"a092caaf.2b86d8","group":"826b3076.52bf3","name":"","order":2,"width":"5","height":"5","format":"<!--<!DOCTYPE html>-->\n<!--<html>-->\n<!--<head>-->\n<!--<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">-->\n<!--<style>-->\n  <!--/*width: 100%;*/-->\n<!--  height: auto;-->\n  <!--/* Magic! */-->\n<!--  max-width: 5vw;-->\n<!--</style>-->\n<!--</head>-->\n\n<!--<body>-->\n\n<!--<h2>Images on Another Server</h2>-->\n\n<!--<img src=\"http://bot.roboy.org:8081/~roboy/photoboy/pic0001.jpeg\" >-->\n\n<!--</body>-->\n<!--</html>-->\n\n<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nimg {\n  display: block;\n  margin-left: auto;\n  margin-right: auto;\n}\n</style>\n</head>\n\n<body>\n<img src=\"https://bot.roboy.org/qr_{{msg.payload}}.png\" alt=\"photoboy\" class=\"center\">\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":728,"y":168,"wires":[[]]},{"id":"7bfe39db.0eb248","type":"function","z":"a092caaf.2b86d8","name":"","func":"var f = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm, \"\");\nf = f.replace(/\\s/g, '');\nflow.set(\"filename\",f);","outputs":1,"noerr":0,"x":732.5,"y":221,"wires":[[]]},{"id":"fb7b2d94.a124c","type":"exec","z":"a092caaf.2b86d8","command":"rostopic pub -1  /roboy/cognition/print_photo std_msgs/String \"data: '","addpay":true,"append":"'\"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":727.5,"y":367.5,"wires":[[],[],[]]},{"id":"6ea67d99.c43874","type":"ui_template","z":"a092caaf.2b86d8","group":"1b91c869.ba6fc8","name":"","order":1,"width":"5","height":"5","format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name='viewport' content='width=device-width, initial-scale=1' charset='utf-8'>\n<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>\n<link href=\"https://afeld.github.io/emoji-css/emoji.css\" rel=\"stylesheet\">\n<style>\n.btn-group .button {\n  background-color: #465572; /* Roboy blue */\n  border: 3px solid white;\n  color: white;\n  padding: 60px 60px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 80px;\n  cursor: pointer;\n  float: center;\n  border-radius: 15px;\n\n}\n\n.btn-group .button:not(:last-child) {\n  border-right: none; /* Prevent double borders */\n}\n\n.btn-group .button:hover {\n  background-color: #5C677B;\n  /*background-color: #FFFFFF;*/\n} \n.btn-group .button:click {\nbackground-color: #FFFFFF;\n}\n</style>\n</head>\n<body>\n\n\n<div class=\"btn-group\"  >\n  <button ng-click=\"send({payload: 'Printing...'})\" class=\"button\"><i class=\"em em-printer\"></i></button>\n</div>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":112.5,"y":377,"wires":[["302b7f34.8ebcc"]]},{"id":"cde681be.6f861","type":"ui_toast","z":"a092caaf.2b86d8","position":"bottom right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Sent to print","x":595.5,"y":428,"wires":[]},{"id":"302b7f34.8ebcc","type":"function","z":"a092caaf.2b86d8","name":"","func":"msg1 = {};\nmsg1.payload = flow.get('filename');\nmsg2 = {};\nmsg2.payload = \"Printing...\"\nreturn [msg1,msg2]","outputs":2,"noerr":0,"x":298,"y":380,"wires":[["fb7b2d94.a124c"],["cde681be.6f861"]]},{"id":"482a6377.e7d4ac","type":"ui_group","z":"","name":"CIIE","tab":"abe3d3c7.847c4","order":1,"disp":false,"width":"18","collapse":false},{"id":"826b3076.52bf3","type":"ui_group","z":"","name":"qr","tab":"abe3d3c7.847c4","order":2,"disp":false,"width":"5","collapse":false},{"id":"1b91c869.ba6fc8","type":"ui_group","z":"","name":"print","tab":"abe3d3c7.847c4","order":4,"disp":false,"width":"5","collapse":false},{"id":"abe3d3c7.847c4","type":"ui_tab","z":"","name":"Photoboy","icon":"","order":1,"disabled":false,"hidden":false}]